<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易智网-技术成果摆渡人- 易智商城</title>
    <meta name='keywords'
          content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
    <meta name='description'
          content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
    <link href="../../common/css/main.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/index-style.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/icon/iconfont.css">
    <script src="js/swiper-bundle.min.js"></script>
    <link href="/common/js/libs/captcha/img_captcha.css" rel="stylesheet" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        .el-input__inner{
            width: 90%!important;
        }
        .log .el-textarea__inner{
            min-height: 200px!important;
            width: 90%!important;
        }
        .top_div > .mdiv {
            width: 1440px;
        }
        .block-service .swiper-container-multirow-column>.swiper-wrapper{flex-direction: row!important; }
        /*.block-service .swiper-slide{margin-top: 0!important;}*/
        .block-service .card-body{width: 70%}
        .list-group{display: block!important;}
        .el-dialog__footer{
            text-align: center;
        }
        .el-button--primary{
            background-color: #ff5e06!important;
            border-color: #ff5e06!important;
        }
        .el-button--default{
            color: #ff5e06!important;
            background: rgb(255, 245, 240)!important;
            border-color: #ff5e06!important;
        }
        .show-list{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
            background: #FFFFff;
            width: 300px;
            height:90px;
        }
        .recent-news{
            padding: 10px;
        }
        .desc{
            font-size: 18px;
            padding-left: 10px;
            line-height: 30px;
            color: #FFFFff;
            background: #f1671b;
            margin-top: -30px;
        }
        .desc::before{
            content: "";
            width: 0;
            height: 0;
            border-bottom: 30px solid #f1671b;
            border-left: 20px solid transparent;
            position: absolute;
            left: -20px;
            /*top: 45px;*/
        }
        .recent-news ul li{
            border: 1px solid #fe900c;
            background: rgb(255, 245, 240);
            margin-top: 10px;
            line-height: 30px;
            width: 100%;
            float: left;
        }
        .recent-news ul li span{
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 10px;
            display: block;
        }
        .recent-news ul li p{
           display: block;
            margin:0;
        }
    </style>
</head>
<body>

<div class="box" id='index_box' v-cloak>

    <ly-toper ref="lytoper" top-class="white" class="top_div"></ly-toper>
    <validate-dialog-mall v-if='isShowDialog' @onsuccess='onSuccess' @onclose='isShowDialog = false' ref='validateRef'>
    </validate-dialog-mall>
    <header-mail ref="header_mail"></header-mail>

    <nav class="main-menu">
        <div class="container">
            <ul class="navbar-nav">
                <li class="nav-item brand home">
                    <a class="nav-link" href="#" id="main-down-first">
                        服务分类
                    </a>

                    <ul class="dropdown-menu-main list-unstyled" >

                        <li class="has-sub-menu" v-for="(serviceType,index) in mailServiceTypeList"
                            :key="serviceType.id">

                            <a class="main-link" :href="'sub1.html?type='+serviceType.id" target="_blank">{{serviceType.name}}</a>

                            <a class="sub-link" :href="'sub1.html?type='+children.id"
                               v-for="children in serviceType.children.slice(0,2)"
                               :key="children.id" target="_blank">{{children.name}}</a>

                            <div class="sub-menu">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fl" v-for="ch in serviceType.children" :key="ch.id">
                                                <a :href="'sub1.html?type='+ch.id">{{ch.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
<!--                        <li class="has-sub-menu">-->
<!--                            <a class="main-link">研发设计</a>-->
<!--                            <a class="sub-link" >网站建设</a>-->
<!--                            <a class="sub-link" >外形设计</a>-->
<!--                        </li>-->
<!--                        <li class="has-sub-menu">-->
<!--                            <a class="main-link">仪器设备</a>-->
<!--                            <a class="sub-link" >热门分类</a>-->
<!--                        </li>-->
                    </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mall" target="_blank">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sub1.html" target="_blank">找服务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="article.html" target="_blank">入驻商城</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="open">企业需求</a>
                    <el-dialog title="企业信息" :visible.sync="dialogFormVisible">
                        <el-form :model="dataForm" :rules="rules" ref="form" class="log">
                            <el-form-item label="企业名称" :label-width="formLabelWidth" prop="enterpriseName">
                                <el-input v-model="dataForm.enterpriseName" placeholder="请输入企业名称"></el-input>
                            </el-form-item>
                            <el-form-item label="需求描述" :label-width="formLabelWidth" prop="description">
                                <el-input type="textarea" v-model="dataForm.description"  placeholder="请输入需求描述" style="min-height: 200px"></el-input>
                            </el-form-item>
                            <el-form-item label="预期价格" :label-width="formLabelWidth" prop="price">
                                <div style="display: flex;">
                                    <el-input v-model="dataForm.price"  placeholder="请输入预期价格" style="width: 50%;margin-right: 80px" v-if="dataForm.discuss==0"></el-input>
                                    <el-radio :label="1" v-model="dataForm.discuss" @click.native.prevent="onRadioChange(1)" border>面议</el-radio>
                                </div>
                            </el-form-item>
                            <el-form-item label="联系人":label-width="formLabelWidth" prop="contacts">
                                <el-input v-model="dataForm.contacts" placeholder="请输入联系人"></el-input>
                            </el-form-item>
                            <el-form-item label="联系方式" :label-width="formLabelWidth" prop="phone">
                                <el-input v-model="dataForm.phone" placeholder="请输入联系方式"></el-input>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="submit">确 定</el-button>
                        </div>
                    </el-dialog>
                </li>


            </ul>
            <div id="slideshow" style="position: relative">
                <div class="swiper-container" id="home-slider">
                    <div class="swiper-wrapper">
                        <template v-for="idx_banner in indexBanner">
<!--                                                <div class="swiper-slide"><img :src="idx_banner.path"></div>-->
                                           <div class="swiper-slide">
                                                 <img :src="idx_banner.path" @click="toLink(idx_banner.link)">

<!--                                               <img src="images/banner-1.png" alt="...">-->
                                         </div>
<!--                         <div class="swiper-slide"><img src="images/banner-1.png" alt="..."></div>-->
                            <!--                <div class="swiper-slide"><img src="images/banner.jpg" alt="..."></div>-->
                            <!--                <div class="swiper-slide"><img src="images/banner.jpg" alt="..."></div>-->
                        </template>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="show-list" v-if="showList.length>0">
                    <div class="desc">企业动态</div>
                    <div class="recent-news">
                        <div class="bd">
                            <ul>
                                <li v-for="(item,index) in showList" :key="index" :title="item.description">
                                    <p :style="{'color':(item.progress==0)?'#67c23a':'#f1671b'}">【{{item.progressDisplay}}】</p>
                                    <span>{{item.description}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="right-column fr" >-->
<!--                <div class="right-column-1" v-if='userInfo && userInfo.userName'>-->
<!--                     <img src="images/toux.png">-->
<!--                   <span> Hi~，<b style="color: #fc7f10;">{{userInfo.userName}}</b></span>-->
<!--                    <span>欢迎来到易智商城！</span>-->
<!--                </div>-->
<!--                <div class="right-column-1" v-else>-->
<!--                    <img src="images/toux.png">-->
<!--                    <span >Hi~，欢迎来到易智商城！请登录</span>-->
<!--                    <a href="/common/login.html">登录</a>-->
<!--                    <a href="/common/reg.html">注册</a>-->
<!--                </div>-->
<!--                <div class="right-column-2">-->
<!--                    <a @click="fwsClick" target="_parent"><img src="images/right-b.png">-->
<!--                        <p>免费做推广 · 平台有保障</p>-->
<!--                        <span v-if="isSeller==false">加入我们</span>-->
<!--                        <span v-else style="width: 100px">进入卖家中心</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </nav>

    <div class="slogan-tree">

        <div class="container">
            <div class="latest-news" >
                <div class="news-title"><img src="images/horn.png" alt=""></div>
                <div class="marquee-left" id="marquee-left">
                    <template>
                        <ul class="list-inline clearfix">
                            <!--                    <li v-for="(item,index) in achievementList" :key="index">-->
                            <!--                        欢迎{{item.companyName}}-->
                            <!--                    </li>-->
                            <li v-for="(shop,index) in newShops">欢迎<a :href="'shop/index.html?code='+shop.shopCode" target="_blank">{{shop.shopName}}</a>入驻商城</li>
                        </ul>
                    </template>
                </div>
            </div>
            <div class="row">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="icon-box">
            <template v-for="(item, ni) in typeList">
                <div class="boxlist fl" :key="ni">
                        <img :src="url[ni]">
                    <div>

<!--                        <span  style="color:rgb(52, 51, 52);font-size: 24px">{{item.total}}个</span>-->
                        <div class="boxs">
                        <number-grow :color="'#f1671b'" :value="item.total" :time="0.5" style="font-size: 18px;"></number-grow>
                        <span class="number-grow fl" style="color:rgb(52, 51, 52);font-size: 18px">个</span>
                        </div>
                        <div >{{item.name}}</div>
                    </div>
                </div>
            </template>
<!--            <div class="boxlist fl" >-->
<!--            <img src="/mall/images/icon7.png">-->
<!--            <div>-->
<!--                <div >设备</div>-->
<!--                <span  style="color:rgb(52, 51, 52);font-size: 24px">10个</span>-->
<!--            </div>-->
<!--        </div>-->
        </div>
    </div>
    <div class="floor">

        <div class="container">
            <div id="service-box">
            <div class="main-block block-service" style="background: #FFFFff">
                <div class="title-bg">
                    <div class="main-title">
                    <span>精选服务</span>
                </div>
<!--                    <div class="sub-title">易智商城, 品牌优选</div>-->
                </div>

                <div class="swiper-container service-list">
                    <div class="swiper-wrapper">
<!--                        <template v-for="(good,index) in chooseGoods">-->
<!--                            <div class="swiper-slide">-->
<!--                                <a :href="'shop/detail.html?id='+good.id+'&code='+good.shopCode">-->
<!--                                    <div class="card card-item">-->
<!--                                        <img :src="good.goodsImg.url" class="" alt="...">-->
<!--                                        <div class="card-body">-->
<!--                                            <h5 class="card-title">-->
<!--                                        {{good.goodsName}}-->
<!--                                            </h5>-->
<!--                                            <div class="justify-content-between addition">-->
<!--                                                <div class="short-text">-->
<!--                                                    <p><i class="iconfont icon-tag"></i> {{good.typeName}}</p>-->
<!--                                                    <p><i class="iconfont icon-city"></i> {{good.shopName}}</p>-->
<!--                                                </div>-->
<!--                                                <div class="quoted-price">{{formatPrice(good.choosePriceTag,good.price, good.minPrice, good.maxPrice)}}</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </template>-->

                        <template v-for="(good,index) in chooseGoods">
                            <div class="swiper-slide">
                                <a :href="'shop/detail.html?id='+good.id+'&code='+good.shopCode" target="_blank"> <div class="card card-item">
<!--                                    <img :src="good.goodsImg.url" class="" alt="...">-->
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{good.goodsName}}
                                        </h5>
                                        <div class="justify-content-between addition ">
                                            <div class="ser-text">
                                                <p><i class="iconfont icon-city"></i> {{good.shopName}}</p>
                                            </div>

                                            <div class="ser-text l-line">
                                                <p>{{good.typeName}}</p>
                                            </div>
<!--                                            <div class="ser-text">-->
<!--                                                <p><i class="iconfont icon-location"></i> {{good.location}}</p>-->

<!--                                            </div>-->
                                            <div class="quoted-price">
                                                <span style="color:#743f0a; background: rgb(255, 215, 144); padding: 5px 10px; border-radius: 0px 0px 15px;font-size: 13px">会员价</span>
                                                {{formatPrice2(good.choosePriceTag,good.price, good.minPrice, good.maxPrice)}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </template>

                    </div>
                </div>
                <div class="item-next"><i class="iconfont icon-arrow-right"></i></div>
                <div class="item-prev"><i class="iconfont icon-arrow-left"></i></div>
<!--                <div class="service-list">-->
<!--                    <div class="">-->
<!--

                  </div>-->
<!--                </div>-->
            </div>
        </div>


        </div>
           <!--    //类型板块循环显示-->
           <div class="main-block block-tabs " v-for="(type,index) in typeList" :id="'tabs'+index">
               <!--            <div class="main-title-left ">-->
               <!--                <span>{{type.name}}</span>-->
               <!--                <span class="sol-title">{{type.sortExplain|''}}</span>-->
               <!--            </div>-->
               <div class="container">
                   <div class="tab-content">
                       <div class="left-banner" :class="bgList[index]">
                           <h5>{{type.name}}</h5>
                           <p>{{type.sortExplain|''}}</p>
                           <ul class="nav-list">
                               <!--                        <li class=""><a class="nav-link" :href="'sub1.html?type='+type.id">全部</a></li>-->
                               <li class="nav-item" v-for="title in type.children">
                                   <a class="nav-link" :href="'sub1.html?type='+title.id" target="_blank">{{title.name}}</a>
                               </li>

                           </ul>
                           <p>
                               <a class="nav-all" :href="'sub1.html?type='+type.id" target="_blank">查看全部> </a>
                           </p>

                       </div>
                       <div class="row row-cols-3" >

                           <div class="col" v-for="goods in type.goodList">
                               <a :href="'shop/detail.html?id='+goods.id+'&code='+goods.shopCode" target="_blank">
                                   <div class="card card-item">
                                       <!--                                <div class="content-img">-->
                                       <!--                                    <img :src="goods.goodsImg.url" class="" alt="...">-->
                                       <!--                                </div>-->

                                       <div class="card-body">
                                           <h5 class="card-title">{{goods.goodsName}}
                                           </h5>
                                           <div class="addition2">
                                               <div class="short-text s-line">
                                                   <p><i class="iconfont icon-city"></i>{{goods.shopName}}</p>
                                                   <!--                                        <p><i class="iconfont icon-city"></i> {{good_incubation.shopName}}</p>-->
                                               </div>
                                               <div class="short-text l-line">
                                                   <p style="display: inline-block">{{goods.typeName}}</p>
                                                   <!--                                        <p><i class="iconfont icon-city"></i> {{good_incubation.shopName}}</p>-->
                                               </div>
                                               <div class="quoted-price">
                                                   <span style="color:#743f0a; background: rgb(255, 215, 144); padding: 5px 10px; border-radius: 0px 0px 15px;font-size: 13px">会员价</span>
                                                   {{formatPrice2(goods.choosePriceTag,goods.price, goods.minPrice, goods.maxPrice)}}</div>
                                           </div>
                                       </div>
                                   </div>
                               </a>
                           </div>


                       </div>
                   </div>
               </div>

           </div>
       </div>

    <div class="full-block">
    <div class="container" id="settle_in_apply">
        <div class="settle-title">
        <span>未搜索到服务？立即发布需求</span>
         </div>
        <div class="settle_in-box">
<!--            <div class="block-title d-flex justify-content-around">-->
<!--                <div class="title">-->
<!--                    入驻机构 <strong>{{mailSite.organizationCount ||0 }}家</strong>-->
<!--                </div>-->
<!--                <div class="title">-->
<!--                    服务企业 <strong>{{mailSite.enterpriseCount ||0 }}家</strong>-->
<!--                </div>-->
<!--                <div class="title">-->
<!--                    服务产品 <strong>{{mailSite.productCount ||0 }}项</strong>-->
<!--                </div>-->
<!--                <div class="title">-->
<!--                    签约项目 <strong>{{mailSite.projectCount ||0 }}项</strong>-->
<!--                </div>-->
<!--            </div>-->

                        <el-form id="sub_form">
                            <!--                <div class="settle_in-form d-flex">-->
                <!--                    <div class="input-group">-->
                <!--                         <input type="text" class="form-control demand-txt"  v-model="form.content" name="content"  placeholder="请输入需求名称">-->
                <!--                    </div>-->
                <!--                        <div class="input-group">-->
                <!--                            <input type="text" name="phone" v-model="form.phone" aria-label="mobile" class="form-control mobile" placeholder="手机号">-->
                <!--                            <input type="text" name="code" v-model="form.code" aria-label="verificationCode" class="form-control verificationCode" placeholder="验证码">-->
                <!--                            <button class="btn btn-light" type="button" v-text="codeBtnText"  :disabled="isDisabled" @click="sendClick($event)"></button>-->
                <!--                        </div>-->
                <!--                        <button class="btn btn-primary btn-publish" @click="subClick($event)"  :disabled="isSubmitDisabled">快速发布需求</button>-->
                <!--                </div>-->

                <div class="settle_in-form d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control demand-txt" v-model="form.content" name="content"
                               placeholder="请输入需求名称">
                    </div>
                    <div class="input-group phoneVerification">
                        <input type="text" name="phone" v-model="form.phone" aria-label="mobile"
                               class="form-control mobile" placeholder="输入手机号">
                        <input type="text" name="code" v-model="form.code" aria-label="verificationCode"
                               class="form-control verificationCode" placeholder="验证码">
                        <button class="btn btn-light" type="button" v-text="codeBtnText" :disabled="isDisabled"
                                @click="sendClick($event)"></button>
                    </div>
                    <button class="btn btn-primary btn-publish" @click="subClick($event)" :disabled="isSubmitDisabled">
                        快速发布需求
                    </button>
                </div>
            </el-form>

        </div>
    </div>
    </div>

    <div class="rightbox-list" id="showbox">
        <img src="/mall/images/fy.png" width="100"/>
        <ul :class="'active'+changeSelectStyle">

            <li :class="{changeStyle:changeSelectStyle == 0}" @click="changeStyle(0)" ><a href="#/service-box">精选服务</a></li>
            <li v-for="(item,index) in typeList"  :class="{changeStyle:changeSelectStyle == index +1}" @click="changeStyle(index+1)" ><a :href="'#tabs'+index">{{item.name}}</a></li>
<!--            <li :class="{changeStyle:changeSelectStyle == 1}" @click="changeStyle(1)" ><a href="#/property">知识<br>产权</a></li>-->
<!--            <li :class="{changeStyle:changeSelectStyle == 2}" @click="changeStyle(2)"><a  href="#/law">法律<br>服务</a></li>-->
<!--            <li :class="{changeStyle:changeSelectStyle == 3}" @click="changeStyle(3)"><a href="#/policy">政策<br>申报</a></li>-->
<!--            <li :class="{changeStyle:changeSelectStyle == 4}" @click="changeStyle(4)"><a href="#/business">工商<br>财税</a></li>-->
<!--            <li :class="{changeStyle:changeSelectStyle == 5}" @click="changeStyle(5)" ><a href="#/inspection">检验<br>检测</a></li>-->
<!--            <li :class="{changeStyle:changeSelectStyle == 6}" @click="changeStyle(6)" ><a href="#/technology">科技<br>咨询</a></li>-->
<!--            <span class="bg_color"></span>-->
<!--            <li ><a href="#"><img src="/style/images/index/toper_4.png" alt="">顶部</a></li>-->
        </ul>
    </div>
    <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="../style/js/mall/index.js"></script>
<!--<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.js"></script>-->
<script src="/daping/style/js/vendor/jquery.min.js"></script>
<script src="/daping/style/js/kxbdSuperMarquee.js"></script>
<script>
    //右侧进度条
    window.onscroll = function () {
        var oDiv = document.getElementById("showbox")
        var s = document.body.scrollTop || document.documentElement.scrollTop
        var h = $('.floor').outerHeight()
        if (s > 220 && s < (h + 20)) {
            oDiv.style = "display:block"
        } else {
            oDiv.style = "dispaly:none"
        }
    }
    //轮播入驻机构
    // setTimeout(function () {
    //     $('#marquee-left').kxbdSuperMarquee({
    //         isMarquee: true,
    //         direction: 'left',
    //         scrollDelay: 30,
    //         isEqual: false
    //     });
    // },500)

</script>
</body>
</html>
