<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>易智网 - 投诉中心</title>
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/iconfont.css">
    <script src="js/swiper-bundle.min.js"></script>
    <link href="/common/js/libs/captcha/img_captcha.css" rel="stylesheet" type="text/css">

</head>
<body class="page-complaint">
<div class="box" id='index_box'>

    <ly-toper ref="lytoper" top-class="white"></ly-toper>
    <validate-dialog v-if='isShowDialog' @onsuccess='onSuccess' @onclose='isShowDialog = false' ref='validateRef'>
    </validate-dialog>
    <header-mail ref="header_mail"></header-mail>

    <div class="help-breadcrumbs help-complaint">
        <span>易智商城投诉中心</span>
    </div>
    <div class="container">
        <div class="page-main">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                 aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html"><i class="iconfont icon-location"></i> 首页</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/mall/index.html">易智商城</a></li>
                    <li class="breadcrumb-item active" aria-current="page">投诉中心</li>
                </ol>
            </nav>
            <div class="complaint-form">
                <div class="title">
                    <strong>在线投诉</strong>
                    <small>如果您的权益受到侵害，别着急，您可以在这里提交您的投诉,我们将尽快处理。感谢您使用易智网.</small>
                </div>
                <el-form :model="formData" ref="formInfo" :rules="rules" >
                    <div class="row mb-4">
                        <label  class="col-auto col-form-label">投诉对象:</label>
                        <div class="col-6">
                            <el-form-item prop="feedName"  >
                                <el-input  v-model="formData.feedName"  placeholder="填写商家名称" >
                                </el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label  class="col-auto col-form-label">投诉内容:</label>
                        <div class="col-8">
                            <el-form-item prop="content"  >
                                <el-input type="textarea" :rows="5" v-model="formData.content"  placeholder="填写投诉原因" >
                                </el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label  class="col-auto col-form-label">你的姓名:</label>
                        <div class="col-6">
                            <el-form-item prop="userName"  >
                                <el-input v-model="formData.userName"  placeholder="填写您的姓名" >
                                </el-input>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label  class="col-auto col-form-label">联系方式:</label>
                        <div class="col-6">
                            <el-form-item prop="phone"  >
                                <el-input v-model="formData.phone"  placeholder="请输入您的手机号" >
                                </el-input>
                            </el-form-item>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <el-form-item prop="code"  >
                                    <el-input v-model="formData.code"  placeholder="请输入验证码" >
                                    </el-input>
                                </el-form-item>
                                <el-button class="btn btn-primary" v-text="codeBtnText"  :disabled="isDisabled"  @click="sendClick($event)" type="primary"></el-button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label  class="col-form-label col-auto">上传举证:</label>
                        <div class="col-3">
                            <el-upload
                                    class="avatar-uploader"
                                    accept="image/jpeg,image/gif,image/png"
                                    :show-file-list="false"
                                    :action="importFileUrl"
                                    :before-upload="beforeUpload"  :http-request="httpRequest"
                            >
                                <el-button size="small" type="primary" center="right">点击上传</el-button>
                            </el-upload>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted">(上传要求:单个图片<10M,文件数量<=10个)
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap mb-3">
                        <ul class="keywordlist" v-viewer>
                            <li v-cloak class="signimg" v-for='(item,index) in mainPhotoList'
                                :style="{backgroundImage: 'url('+item+')'}">
                                <img :src="item" alt="">
                                <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delMainPhotoClick(index)"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-3 text-center footer-btn">
                        <el-button type="primary" @click="subClick()"  :disabled="isSubmitDisabled"class="btn btn-primary">提 交</el-button>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
    <web-footer></web-footer>


</div>
</body>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="/style/js/mall/complaint.js"></script>
<style>
    .el-form-item {
        margin-bottom: 0px;
    }
</style>
</html>
