/* CSS Document */
.box {
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../images/login_bg.png) no-repeat center center #1f1e7b;
}
.login_header {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #f7f7f7;
}
.login_header .mdiv{
	display:flex;
	justify-content: center;
	align-items: center;
	height:120px;
}
.logo{
	padding-top:0;
}
.l_title {
	margin-left: 40px;
	padding-left:40px;
	border-left: 1px solid #c6c6c6;
	color: #7a7a7a;
	font-size: 36px;
}
.tips {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #2b6197;
	font-size: 14px;
	background-color: #cdd9ed;
}
.center {
	position: relative;
	height: 100%;
	z-index: 10;
	pointer-events: none;
	word-wrap: break-word;
}
.login_box {
	position: absolute;
	right: 0;
	top: 50%;
	/*margin-top: -266px;*/
	margin-top: -206px;
	width: 403px;
	/*height: 472px;*/
	padding-bottom: 22px;
	box-shadow: 0px 0px 21px 0px rgba(0, 27, 129, 0.75);
	background-color: #ffffff;
	pointer-events: all;
}
.login_box .tabs {
	height: 70px;
	border-bottom: 2px solid #dcdcdc;
}
.login_box .tabs li {
	float: left;
	padding: 0 14px;
	color: #4a4949;
	font-size: 20px;
	line-height: 70px;
	height: 70px;
	cursor: pointer;
}
.login_box .tabs li:hover {
	color: #244990;
}
.login_box .tabs li.active {
	color: #244990;
	border-bottom: 2px solid #244990;
}
.login_box .tabs li.qr {
	position: absolute;
	border: 0;
	width: 46px;
	height: 46px;
	right: 0;
	top: 0;
	background: url(../images/login_qr.png);
}
.login_box .tabs li.qr span {
	position: absolute;
	left: -60px;
	top:6px;
	display: block;
	padding: 0 5px;
	height: 19px;
	line-height: 17px;
	border:1px solid #5b9ee3;
	font-size: 12px;
	color: #5a9ee2;
}
.login_box .tabs li.qr span:after {
	content: "";
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -4px;
	display: block;
	width: 5px;
	height: 8px;
	background: url(../images/info_arr_r.png);
}
.login_form {
	padding: 25px;
}
.login_form .form_item {
	display: none;
}
.login_form .form_item.active {
	display: block;
}
.login_form .input .form_error{
	position: absolute;
    left: 0px;
    bottom: -35px;
    font-size: 12px;
    color: red;
}
.input {
	position: relative;
	padding-left: 46px;
	margin-bottom: 25px;
	height: 48px;
	line-height: 46px;
	border:1px solid #244990;
	background: no-repeat 15px center;
}
.input.username {
	background-image: url(../images/icon_user.png)
}
.input.password {
	background-image: url(../images/icon_pwd.png)
}
.input input {
	display: block;
	padding-right: 15px;
	margin: 0;
	border: 0;
	outline: 0;
	width: 305px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
}
.input.phone {
	float: left;
	/* width: 251px; */
	width: 100%;
	background-image: url(../images/icon_phone.png)
}
.input.phone input {
	width: 203px;
}
.input.vercode {
	float: left;
	width: 200px;
	padding: 0 15px;
}
.input.vercode input {
	width: 100%;
}
.select {
	position: relative;
	float: left;
	margin-right: 2px;
	width: 100px;
	height: 48px;
	border:1px solid #264aa2;
	cursor: pointer;
}
.select:after {
	content: "";
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -2px;
	width: 5px;
	height: 5px;
	border: 5px solid transparent;
	box-sizing: border-box;
	border-top-color: #979797;
}
.select.active {
	background-color: #fff;
}
.select dt {
	padding: 0 10px;
	height: 46px;
	line-height: 46px;
	color: #4c4c4c;
	font-size: 14px;
	white-space: nowrap;
}
.select ul {
	display: none;
	position: relative;
	margin-top: 1px;
	margin-left: -1px;
	margin-right: -1px;
	border:1px solid #264aa2;
	border-top: 0;
	max-height: 280px;
	background-color: #fff;
	z-index: 100;
	overflow-y: auto;
}
.select ul li {
	padding: 0 10px;
	line-height: 34px;
	height: 34px;
	cursor: pointer;
	font-size: 14px;
	color: #4c4c4c;
	white-space: nowrap;
}
.select ul li:hover {
	background-color: #ececec;
}
.captcha {
	margin-bottom: 25px;
	background-color: #d0d0d0;
	border:0;
	color: #949494;
	font-size: 16px;
}
.captcha canvas {
	position: absolute;
	top: -205px;
	display: none;
}
.captcha .block {
	margin-top: 25.5px;
	margin-left: 25.5px;
}
.captcha canvas:nth-child(1) {
	padding: 25.5px;
	background-color: #fff;
	border:1px solid #999;
	box-shadow: 0 0 5px rgba(0,0,0,0.75);
}
.captcha .refreshIcon {
	display: none;
}
#msg {
	position: absolute;
	margin-top: -25px;
	left: 25px;
	right: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
}
#msg.success {
/*
	border:1px solid #005500;
	background-color: #CAFFCA;
*/
	color: #005500;
}
#msg.error {
	color: #e55028;
}
.btn {
	margin-bottom: 15px;
	width: 100%;
	height: 50px;
	border: 0;
	background-color: #264aa2;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	outline: 0;
}
.btn.reg {
	background-color: #ef6b0a;
}
.btn:hover {
	background-color: #2E5ED3
}
.btn:active {
	background-color: #204192
}
.btn.reg:hover {
	background-color: #F97B1F;
}
.btn.reg:active {
	background-color: #D86008;
}
.other li {
	float: left;
	padding-left: 30px;
	margin-right: 20px;
	height: 24px;
	line-height: 24px;
	background: no-repeat left center;
	color: #474747;
	cursor: pointer;
}
.other li.QQ {
	background-image: url(../images/login_icon_qq.png)
}
.other li.WX {
	background-image: url(../images/login_icon_wx.png)
}
.other li:hover {
	color: #103678;
}
.links {
	margin-top: 26px;
	float: right;
}
.links a {
	margin-left: 20px;
	color: #474747;
}
.links a.reg {
	color: #ff7800;
}
.links a:hover {
	color: #103678;
}
.links a.reg:hover {
	color: #FF1100;
}
.sendcode {
	margin-left: 2px;
	float: left;
	width: 151px;
	height: 48px;
	background-color: #264aa2;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
}
.sendcode:hover {
	background-color: #2E5ED3
}
.btn:disabled,
.sendcode:disabled {
	background-color: #d0d0d0;
	color: #949494;
	cursor: no-drop;
}
.sendcode:active {
	background-color: #204192
}
.types {
	margin-bottom: 10px;
	height: 20px;
	line-height: 20px;
}
.types label {
	position: relative;
	float: left;
	overflow: hidden;
	padding-left: 20px;
	color: #202020;
	font-size: 16px;
	cursor: pointer;
}
.types label:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -5.5px;
	width: 11px;
	border:1px solid #a0a0a0;
	border-radius: 50%;
	height: 11px;
}
.types label input {
	position: absolute;
	left: -100%;
}
.types label:last-child {
	float: right;
}
.types label input:checked+b {
	display: block;
	position: absolute;
	left: 3px;
	top: 50%;
	margin-top: -2.5px;
	width: 7px;
	height: 7px;
	background-color: #264aa2;
	border-radius: 50%;
}
.agree {
	margin-top: -10px;
	text-align: center;
	color: #469cde;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: -10px;
	position: relative;
}
.agree:hover {
	color: #103678;
}
#protocolReadFlag-error {
 position:absolute;
 bottom: -23px;
 left: 20px;
 font-size: 14px;
}
.agreetype {
  padding: 0 10px;
  text-decoration: underline;
  color: #000;
  letter-spacing: 3px;
}
/* .cover {
	position: absolute;
	left: 0;
	top: 0;
	display: table;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}
.cover .covtr {
	display: table-cell;
	vertical-align: middle;
} */
.agreebox {
	position: relative;
	margin: 0 auto;
	width: 860px;
	background-color: #f7f7f7;
}
.agreebox .title {
	padding-top: 50px;
	margin: 40px;
	color: #111111;
	font-size: 24px;
	text-align: center;
}
.content {
	margin: 40px 0;
	padding: 0 40px;
	max-height: 70vh;
	overflow: auto;
	font-size: 16px;
	text-align: justify;
	min-height: 300px;
	padding-bottom: 20px;
}
.content p {
	text-indent: 2em;
}
.cls {
	position: absolute;
	right: 3px;
	top: 3px;
	width: 38px;
	height: 38px;
	line-height: 48px;
	background: url(../images/icon_close.png) no-repeat center center #ddd;
	border-radius: 50%;
}
.cls:hover {
	background-color: #bbb;
	cursor: pointer;
}
