<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>项目申报</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="/style/css/common.css" rel="stylesheet" type="text/css">
  <link href="/style/css/button.css" rel="stylesheet" type="text/css">
  <link href="/style/css/declarationHelper.css" rel="stylesheet" type="text/css">
  <link href="/style/css/icon/iconfont.css" rel="stylesheet">
</head>

<body>
  <div class="box grayBgbox" v-cloak id='index_box'>
    <ly-toper top-class="white" code-url="/style/images/footerCode1.jpg" code-title="易智网-政策惠"></ly-toper>
    <sub-head name="政策资讯" :breadcrumb="breadcrumb" :nav-index="1"></sub-head>

    <div class="mb60">
      <div class="helperDetailBox mdiv">
        <div class="helperDetail">
          <div class="helperDetail-header">
            <div class="title" v-text="detail.title"></div>
          </div>
          <div class="helperDetail-body">
            <div class="helperDetail-body_item" v-for="(detail,i) in detailList" :key="i">
              <div class="helperDetail-item_title">
                <span v-text="detail.keyWord"></span>
              </div>
              <div class="helperDetail-item_file">
                <div class="article-file" v-for="(tfile, fi) in detail.connectionFile" :key="fi" @click="handleViewDetail(tfile.id)">
                  <div>
                    <svg class="vaMiddle jsicon svg-icon" aria-hidden="true">
                      <use :xlink:href="'#icon-'+tfile.flieType"></use>
                    </svg><span class="vaMiddle line">{{tfile.fileTitle}}</span>
                  </div>
                  <div v-if="tfile.canDownload === '1'" class="iconfont icon-xiazai savefile" @click.stop="handleFileSaveAs(i,fi)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <web-footer></web-footer>
  </div>

  <script src="/style/css/icon/iconfont.js"></script>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script type="text/javascript" src="/style/js/declarationHelper/detail.js"></script>
</body>

</html>
