.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._图片 {
}
.box_1 {
}
._默认样式 {
}
._栏目标题 {
  font-family:'PingFang SC Normal', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#339999;
  text-align:left;
  line-height:36px;
}
.box_11 {
}
.box_3 {
}
.box_2 {
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.label {
  font-size:14px;
  text-align:left;
}
._形状 {
}
.ellipse {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.button {
}
.checkbox {
  text-align:left;
}
.icon {
}
.link_button {
  color:#169BD5;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
.table_cell {
}
._连接线 {
}
.radio_button {
  text-align:left;
}
.line {
}
.flow_shape {
}
textarea, select, input, button { outline: none; }
