<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>卖家中心-成渝城市群综合科技服务平台</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="css/seller.css" rel="stylesheet" type="text/css">
<!--  <link href="/common/css/element.css" rel="stylesheet" type="text/css">-->

  <style>
    .fixed {
      position: fixed;
      top: 0;
      background-color: #fff;
      width: 960px;
      z-index: 1002;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .mleft {
      margin-left: -78px;
    }

    .line {
      margin: 50px 0;
    }
    .price-row{
      display:flex;
      align-items: center;
    }
    .price-row .face-label{
      width:80px;
    }
    .price-row .face-iptbox{
      margin-top:-4px;
    }
  </style>
</head>

<body>
  <div class="box" id='store_box' style="overflow: hidden">
    <div class="header">
      <!--顶部-->
      <ly-toper :http='http'></ly-toper>
      <ly-header type="seller" :http="httpCom"></ly-header>
    </div>
    <div class="contant">
      <div class="mdiv">
      </div>
      <div class="mdiv mt20">
        <div class="leftbox">
          <seller-left :http='http' :jquery='jquery' ref='menuRef'></seller-left>
        </div>
        <div class="rightmainbox">
          <div class="routenav">
            <a :href="$pathPrefix+'/common/seller/index.html'">
              卖家中心&nbsp;&nbsp;&gt;
            </a>
            <span>我的供应</span>
          </div>
          <div class="activestore">
            <div class="storetit" v-text="keyName.subTitle"></div>
            <div class="auditstatus">
              <span>审核状态：</span>
              <!--审核状态:未认证/审核中/已认证/审核不通过-->
              <span class="red mr10" v-text='formData.certificationFlagDisplay||"未提交"'></span>
              <span v-if='formData.noPassReason'>[<span v-text='formData.noPassReason||""'></span>]</span>
              <template v-if="formData.frozenFlag === '1'">
                <br>
                <span>上架状态：</span>
                <span class="red mr10">强制下架</span>
                <span v-if='formData.frozenReason'>[<span v-text='formData.frozenReason||""'></span>]</span>
              </template>
            </div>
            <div class="setform">
              <div class="setbar clear" :class="{fixed: isFixed}">
                <span class="active"><a href="#baseinfo">基本信息</a></span>
                <span><a href="#jyinfo">交易信息</a></span>
                <span><a href="#zlinfo" v-text="keyName.subTitle+'信息'"></a></span>
                <span><a href="#xyinfo">详细信息</a></span>
              </div>
              <div class="setcontent active valiform">
                <div class="addexperience" id='baseinfo'>
                  <span class="experience"><i class="iconfont icon-gongzuojingli"></i>基本信息</span>
                </div>
                <div class="exexperienceform active">
                  <div class="expitem form_item">
                    <span class="expname"><i>*</i><span v-text="keyName.name"></span></span>
                    <input maxlength="50" type="text" class="expipt required" v-model="formData.goodsName"
                      data-valid="isNonEmpty||maxLength:50" data-error='名称不能为空||内容过长'>
                    <span class="vlt form_msg">温馨提示：名称需要和当前行业类目属性一致，否则会被下架</span>
                  </div>
                  <div class="expitem form_item" v-show="categoryChangeShow">
                    <span class="expname"><i>*</i>成果类型：</span>
                    <!-- <span class="defvalue">专利</span> -->
                    <div class="iptbox">
                      <label class="inline expsltlb w200">
                        <select class="expslt" v-model='activeCategoryId' :disabled="disabled" @change='categoryChange'>
                          <option :value="province.id" v-for="province in categoryList" v-text="province.categoryName">
                            --请选择--</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="expitem form_item" v-if="industryChangeShow">
                    <span class="expname"><i>*</i>行业类别：</span>
                    <div>
                      <label class="inline expsltlb" style="line-height: normal;width: 478px;">
                        <ly-select-level ref="industryEl" data-valid="custom:industryValid"
                          class="select required level" v-model="formData.industry" @input="handleIndustryInput">
                        </ly-select-level>
                      </label>
                      <span ref="industryMsg" class="vlt form_msg"></span>
                    </div>
                  </div>
                  <div class="expitem form_item">
                    <span class="expname">关键字：</span>
                    <div class="iptbox">
                      <input maxlength="50" type="text" class="expipt w200" v-model='keywordVal'>
                      <button class="exbtn" @click='addKeywordClick'>增加</button>
                      <ul class="keywordlist">
                        <li class="signword" v-for='(item,index) in keyWordList' v-cloak>
                          <i class="iconfont icon-shanchuguanbicha2" @click="delKeywordClick(index)"></i>
                          <span v-text='item'></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="expitem form_item">
                    <span class="expname"><span v-text="keyName.mainPhoto"></span></span>
                    <div class="iptbox">
                      <img-uploader class="exbtn" :title="imgBtnTitle" :option="imgOption"></img-uploader>
                      <span id="mainPhoto" class="vlt form_msg">温馨提示：好的封面可以为您吸引更多的客户</span>
                      <ul class="keywordlist" v-viewer>
                        <li v-cloak class="signimg" v-for='(item,index) in mainPhotoList'
                          :style="{backgroundImage: 'url('+item.url+')'}">
                          <img :src="item.url" alt="">
                          <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delMainPhotoClick(index)"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
<!--                  <div class="expitem form_item">-->
<!--                    <span class="expname">主图视频：</span>-->
<!--                    <div class="iptbox">-->
<!--                      <label class="exbtn">-->
<!--                        &lt;!&ndash; <input type="file" style="position: absolute;right: 10000px;"> &ndash;&gt;-->
<!--                        <ly-upload :exp="{type: 'mainVideo'}" @success='imgUploadSuccess'-->
<!--                          style="position: absolute;right: 10000px;" accept=".mp4" type='file' :header='uploadHeader'-->
<!--                          :url='fileUploadUrl' :data='uploadData'>-->
<!--                        </ly-upload>-->
<!--                        <span class="exbtn">上传视频</span>-->
<!--                      </label>-->
<!--                      <span class="vlt form_msg">温馨提示：建议使用1:1或16:9比例视频，时长30秒以内，不建议电子相册式的图片翻页视频。</span>-->
<!--                      <ul class="filelist">-->
<!--                        <li v-for="(item,index) in mainVideoList" v-cloak>-->
<!--                          <span class="signfile">-->
<!--                            <span v-text="item.name"></span>-->
<!--                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delMainVideoClick(index)"></i>-->
<!--                          </span>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="expitem form_item">-->
<!--                    <span class="expname"><span v-text='keyName.mainVideo'></span></span>-->
<!--                    <div class="iptbox">-->
<!--                      <label class="exbtn">-->
<!--                        <ly-upload :exp="{type: 'goodsVideo'}" @success='imgUploadSuccess'-->
<!--                          style="position: absolute;right: 10000px;" accept=".mp4" :header='uploadHeader' type='file'-->
<!--                          :url='fileUploadUrl' :data='uploadData'>-->
<!--                        </ly-upload>-->
<!--                        <span class="exbtn">上传视频</span>-->
<!--                      </label>-->
<!--                      <span class="vlt form_msg">温馨提示：技术视频将展示在详情页，可以更真实、直观表达技术特点，快速提升成交转化</span>-->
<!--                      <ul class="filelist">-->
<!--                        <li v-for="(item,index) in goodsVideoList" v-cloak>-->
<!--                          <span class="signfile">-->
<!--                            <span v-text="item.name"></span>-->
<!--                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delGoodsVideoClick(index)"></i>-->
<!--                          </span>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="line" id="jyinfo"></div>
                  <div class="addexperience">
                    <span class="experience"><i class="iconfont icon-gongzuojingli"></i>交易信息</span>
                  </div>
                  <div class="expitem form_item price-row">
                    <span class="expname"><i>*</i>价格：</span>
                    <div class="iptbox">
                      <input type="number" :disabled="isPriceDisabled" class="expipt w100 required"
                        v-model='formData.price' data-valid="custom:priceValid">
                      <span class="expz">(元)或</span>
                      <input type="number" :disabled="ismmPriceDisabled" class="expipt w100 required"
                        v-model='formData.minPrice' data-valid="custom:priceValid">
                      <span class="expz">至</span>
                      <input type="number" :disabled="ismmPriceDisabled" class="expipt w100 required"
                        v-model='formData.maxPrice' data-valid="custom:priceValid">
                      <span class="expz">(元)</span>
<!--                      <span class="vlt form_msg"></span>-->
                    </div>
                    <span class="expname face-label">面议：</span>
                    <div class="iptbox face-iptbox">
                      <input type="checkbox" v-model="formData.negotiableFlag" value="1" @change="faceChange">
                    </div>
                  </div>
<!--                  <div class="expitem form_item" v-if='!isFw && !isCp && !isCd && !isEquipment'>-->
<!--                    <span class="expname"><i>*</i>转让方式：</span>-->
<!--                    <div class="iptbox">-->
<!--                      <label class="inline expsltlb w200">-->
<!--                        <ly-select v-model="formData.transactionMode" class='expslt' code='transaction_mode'>-->
<!--                        </ly-select>-->
<!--                      </label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="expitem form_item">-->
<!--                    <span class="expname"><i>*</i>支付方式：</span>-->
<!--                    <div class="iptbox" style="overflow:visible">-->
<!--                      <label class="inline expsltlb w200">-->
<!--                        <ly-code-mulselect v-model="formData.payMode" data-valid="custom:payModeValid"-->
<!--                          class='expslt required' code='pay_mode' index='expslt'>-->
<!--                        </ly-code-mulselect>-->
<!--                      </label>-->
<!--                      <span class="vlt form_msg"></span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="expitem form_item mleft">-->
<!--                    <span class="expname w218"><i>*</i><span>库存：</span></span>-->
<!--                    <input type="number" class="expipt w200 required"-->
<!--                           v-model.number="formData.stock" data-valid="custom:stockValid">-->
<!--                    <span class="vlt form_msg"></span>-->
<!--                  </div>-->
<!--                  <div class="expitem form_item mleft">-->
<!--                    <span class="expname w218"><i>*</i><span>库存计数：</span></span>-->
<!--                    <div class="iptbox">-->
<!--                      <label class="inline expsltlb w200">-->
<!--                        <ly-select v-model="formData.minus_stock" class='expslt required' code='minus_stock' data-valid="isNonEmpty">-->
<!--                        </ly-select>-->
<!--                      </label>-->
<!--                      <span class="vlt form_msg"></span>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="expitem form_item" v-if="isCp">
                    <span class="expname">售后服务：</span>
                    <div class="iptbox" style="overflow:visible">
                      <label class="inline expsltlb w200">
                        <ly-code-mulselect v-model="afterSaleServiceList" class='expslt' code='after_sale_service'
                          index='expsltsh'></ly-code-mulselect>
                      </label>
                    </div>
                  </div>
                  <div class="expitem form_item" v-if='!isFw && !isCp && !isCd && !isEquipment'>
                    <span class="expname">技术价值评估报告：</span>
                    <div class="iptbox">
                      <label class="exbtn">
                        <ly-upload :exp="{type: 'techVal'}" @success='imgUploadSuccess'
                          style="position: absolute;right: 10000px;" accept=".doc,.docx,.pdf,.xls,.xlsx" type='file'
                          :header='uploadHeader' :url='fileUploadUrl' :data='uploadData'>
                        </ly-upload>
                        <span class="exbtn">上传附件</span>
                      </label>
                      <span class="vlt vlt_text">（如有评估报告请上传，若无，请<a
                          href="http://test.kjy01.com/index.php?app=assess&act=form" target="_blank"
                          style="color:red">进入评估系统</a>进行评估，并上传报告）</span>
                      <ul class="filelist">
                        <li v-for="(item,index) in techValList" v-cloak>
                          <span class="signfile">
                            <span v-text="item.name"></span>
                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delTechValClick(index)"></i>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <template v-for="(it, gIndex) in dynamicFormList">
                    <div class="line" id='zlinfo'></div>
                    <div class="addexperience">
                      <span class="experience"><i class="iconfont icon-gongzuojingli"></i><span
                          v-text="it.groupName"></span></span>
                    </div>
                    <div class="expitem form_item mleft" v-if='isZl || isCd || isEquipment'>
                      <span class="expname w218"><i>*</i><span v-text="keyName.subTitle"></span>所属地区：</span>
                      <ly-address-select ref='addressRef' :ismap="!isZl" @selectmap="isShowMap = true">
                      </ly-address-select>
                    </div>
                    <div class="expitem form_item mleft" v-if='isFw'>
                      <span class="expname w218"><i>*</i>服务分类：</span>
                      <div class="required" data-valid="custom:typeValid">
                        <label style="line-height: normal;width: 400px;">
                          <el-cascader
                                  class="form-item"
                                  clearable
                                  change-on-select
                                  :props="props"
                                  :options="typeTree"
                                  v-model="formData.typeList"
                          >
                          </el-cascader>
                          <span ref="servicesMsg" class="vlt form_msg"></span>
                        </label>
                      </div>
                    </div>
<!--                    <div class="expitem form_item mleft" v-if='isFw'>-->
<!--                      <span class="expname w218">服务承诺：</span>-->
<!--                      <div class="inline" style="width:344px;">-->
<!--                        <label style="margin: 0px 6px" v-for="item in servicePromiseList">-->
<!--                          <input :disabled='item.value == "001" || item.value == "002"'-->
<!--                            v-model="formData.servicePromise" name="service_cn" type="checkbox"-->
<!--                            :value="item.value" /><span v-text="item.display"></span></label>-->
<!--                        <span class="vlt form_msg"></span>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="mleft">-->
<!--                      <template v-for="(item, pIndex) in it.gd03CategoryTempleteDetailViews">-->
<!--                        &lt;!&ndash;单选框&ndash;&gt;-->
<!--                        <div class="expitem form_item" v-if='item.controlType == controlType.select'>-->
<!--                          <span class="expname w218"><i v-if="item.notNullFlag !== '0'">*</i><span-->
<!--                              v-text='item.specName+"："'></span></span>-->
<!--                          <label class="inline expsltlb w344">-->
<!--                            <select style="width:100%" v-model='valueList[item.specId]' data-valid="isNonEmpty"-->
<!--                              :data-error='"请选择"+item.specName' :class="{required: item.notNullFlag === '1'}"-->
<!--                              @change="valSelectChange(valueList[item.specId])">-->
<!--                              <option :value="spec.value" v-for="(spec, index) in item.specValueList"-->
<!--                                v-text="spec.value">-->
<!--                              </option>-->
<!--                            </select>-->
<!--                          </label>-->
<!--                          <span class="vlt form_msg" v-text="item.comment"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;地址选择&ndash;&gt;-->
<!--                        <div class="expitem form_item" v-if='item.controlType == controlType.addressSelect'>-->
<!--                          <span class="expname w218"><i v-if="item.notNullFlag !== '0'">*</i><span-->
<!--                              v-text='item.specName+"："'></span></span>-->
<!--                          <input type="text" class="expipt" v-model='valueList[item.specId]' data-valid="isNonEmpty"-->
<!--                            :data-error='item.specName + "不能为空"' :class="{required: item.notNullFlag === '1'}">-->
<!--                          <span class="vlt form_msg" v-text="item.comment"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;输入框&ndash;&gt;-->
<!--                        <div class="expitem form_item"-->
<!--                          v-if='item.controlType == controlType.input && !valueHiddenList[item.specId]'>-->
<!--                          <span class="expname w218"><i-->
<!--                              v-if="item.notNullFlag !== '0' || valueHiddenList[item.specId] === 0">*</i><span-->
<!--                              v-text='item.specName+"："'></span></span>-->
<!--                          <input type="text" class="expipt" v-model='valueList[item.specId]' data-valid="isNonEmpty"-->
<!--                            :data-error='item.specName + "不能为空"'-->
<!--                            :class="{required: item.notNullFlag === '1' || valueHiddenList[item.specId] === 0}"><span-->
<!--                            style="color: #474747;" v-text="item.specNameSuffix||''"></span>-->
<!--                          <span class="vlt form_msg" v-text="item.comment"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;时间选择器&ndash;&gt;-->
<!--                        <ly-form-time :data='item' :index='gIndex+pIndex' v-if='item.controlType == controlType.date'-->
<!--                          v-model='valueList[item.specId]'></ly-form-time>-->
<!--                        &lt;!&ndash;多选框&ndash;&gt;-->
<!--                        <div class="expitem form_item" v-if='item.controlType == controlType.mulSelect'>-->
<!--                          <span class="expname w218"><i v-if="item.notNullFlag !== '0'">*</i><span-->
<!--                              v-text='item.specName+"："'></span></span>-->
<!--                          <label class="inline expsltlb w344">-->
<!--                            <ly-mulselect v-model='valueList[item.specId]' ref='mulSelect' :index='gIndex+pIndex'-->
<!--                              :mul-select-list='item.specValueList'></ly-mulselect>-->
<!--                          </label>-->
<!--                          <span class="vlt form_msg" v-text="item.comment"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;textarea-&ndash;&gt;-->
<!--                        <div class="expitem form_item" v-if='item.controlType == controlType.textarea'>-->
<!--                          <span class="expname w218"><i v-if="item.notNullFlag !== '0'">*</i><span-->
<!--                              v-text='item.specName+"："'></span></span>-->
<!--                          <div class="iptbox" style="margin-bottom: 10px;">-->
<!--                            <div class="exptext textarea_box" style="width:344px">-->
<!--                              <textarea data-valid="isNonEmpty" :data-error='item.specName + "不能为空"'-->
<!--                                :class="{required: item.notNullFlag === '1'}" v-model='valueList[item.specId]'-->
<!--                                class="exptextarea" name="exptextarea" id="exptextarea" cols="30" rows="6"></textarea>-->
<!--                            </div>-->
<!--                            <span class="vlt form_msg" v-text="item.comment"></span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </template>-->
<!--                    </div>-->
<!--                    <div class="expitem form_item mleft">-->
<!--                      <span class="expname w218">自定义属性名：</span>-->
<!--                      <div class="iptbox">-->
<!--                        <button class="exbtn" @click="isAddAttr = true">增加</button>-->
<!--                        <span class="vlt"></span>-->
<!--                      </div>-->
<!--                    </div>-->
                    <div class="expitem form_item" v-for='(item,index) in formData.customValueList'>
                      <span class="expname w218"><i>*</i><span v-text='item.customSpecName+"："'></span></span>
                      <input type="text" class="expipt w200" v-model='formData.customValueList[index].customSpecValue'>
                      <button class="exbtn" @click='delCustomValueClick(index)'>删除</button>
                    </div>
                  </template>
                  <div class="line" id='xyinfo'></div>
                  <div class="addexperience">
                    <span class="experience"><i class="iconfont icon-gongzuojingli"></i>详细信息</span>
                  </div>
                  <div class="expitem form_item richtext-item">
                    <span class="expname"><i>*</i><span v-text="isCd?'场地描述：':'简介：'"></span></span>
                    <div class="iptbox">
                      <div class="exptext textarea_box required" data-valid="custom:goodsIntroduceValid">
                        <!--富文本-->
                        <vue-ueditor-wrap v-model="formData.goodsIntroduce" class="exptextarea" style="border:none">
                        </vue-ueditor-wrap>
                      </div>
                      <span class="vlt form_msg"></span>
                    </div>
                  </div>
                  <div class="expitem form_item richtext-item">
                    <span class="expname"><i v-if="isCd">*</i>
                      <span v-if="isCd">使用要求</span>
                      <span v-else-if="isFw">服务案例</span>
                      <span v-else>合作案例</span>

                    </span>
                    <div class="iptbox" style="margin-bottom: 10px;">
                      <div class="exptext textarea_box required" data-valid="custom:goodsSampleValid">
                        <!--富文本-->
                        <vue-ueditor-wrap v-model="formData.goodsSample" class="exptextarea" style="border:none">
                        </vue-ueditor-wrap>
                      </div>
                      <span class="vlt form_msg"></span>
                    </div>
                  </div>
<!--                  <div class="expitem form_item richtext-item" v-if='isFw'>-->
<!--                    <span class="expname">资质：</span>-->
<!--                    <div class="iptbox" style="margin-bottom: 10px;">-->
<!--                      <div class="exptext textarea_box">-->
<!--                        &lt;!&ndash;富文本&ndash;&gt;-->
<!--                        <vue-ueditor-wrap v-model="formData.aptitude" class="exptextarea" style="border:none">-->
<!--                        </vue-ueditor-wrap>-->
<!--                      </div>-->
<!--                      <span class="vlt form_msg w100"></span>-->
<!--                    </div>-->
<!--                  </div>-->
                  <div class="expitem form_item" v-if="isZl ||isJs">
                    <span class="expname">成熟度证明材料：</span>
                    <div class="iptbox">
                      <label class="exbtn">
                        <ly-upload :exp="{type: 'mature'}" @success='imgUploadSuccess'
                          style="position: absolute;right: 10000px;" type='file' :header='uploadHeader'
                          :url='fileUploadUrl' :data='uploadData'>
                        </ly-upload>
                        <span class="exbtn">上传附件</span>
                      </label>
                      <ul class="filelist">
                        <li v-for="(item,index) in matureList" v-cloak>
                          <span class="signfile">
                            <span v-text="item.name"></span>
                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delMatureListClick(index)"></i>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="expitem form_item"
                    v-if="isJs || isRz || isZz || isSb || isCp || isCd || isEquipment">
                    <span class="expname">资料附件：</span>
                    <div class="iptbox">
                      <label class="exbtn">
                        <ly-upload :exp="{type: 'secrecy'}" @success='imgUploadSuccess'
                          style="position: absolute;right: 10000px;" type='file' :header='uploadHeader'
                          :url='fileUploadUrl' :data='uploadData'>
                        </ly-upload>
                        <span class="exbtn">上传附件</span>
                      </label>
                      <ul class="filelist">
                        <li v-for="(item,index) in secrecyList" v-cloak>
                          <span class="signfile">
                            <span v-text="item.name"></span>
                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delsecrecyListClick(index)"></i>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="expitem form_item" v-if="isJs">
                    <span class="expname">视频附件：</span>
                    <div class="iptbox">
                      <label class="exbtn">
                        <ly-upload :exp="{type: 'video'}" @success='imgUploadSuccess'
                          style="position: absolute;right: 10000px;" accept=".mp4" type='file' :header='uploadHeader'
                          :url='fileUploadUrl' :data='uploadData'>
                        </ly-upload>
                        <span class="exbtn">上传视频</span>
                      </label>
                      <ul class="filelist">
                        <li v-for="(item,index) in videoList" v-cloak>
                          <span class="signfile">
                            <span v-text="item.name"></span>
                            <i class="iconfont icon-shanchuguanbicha2 icon_del" @click="delvideoListClick(index)"></i>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
              <div class="expitem form_item prt">
                <span class="expname"></span>
                <div class="iptbox">
                  <label for="protocol">
                    <input type="checkbox" v-model="protocol" id=protocol>
                    我承诺以上图文信息不涉及侵权，如若侵权，发生知识产权纠纷，与本服务平台无关，并同意<span style="color: #1052b3"
                      @click.stop="handleOpenProtocol">《服务平台供应发布规范》</span>
                  </label>
                </div>
              </div>
            </div>
            <address-map v-if="isShowMap" @cel="isShowMap = false" @success='mapClick'></address-map>
            <div class="btmbtn">
              <button class="btn-save" :disabled="isSubmitDisabled" @click='saveClick'>保存</button>
              <button class="btn-submit" :disabled="isSubmitDisabled" @click='submitClick'>提交</button>
            </div>
          </div>
        </div>
      </div>
      <ly-minifooter></ly-minifooter>
      <!---弹框-->
      <div class="cover" v-if='isAddAttr' @click="isAddAttr = false" v-cloak>
        <div class="ctr">
          <div class="sell_alert" @click.stop=''>
            <div class="title">请输入属性名：</div>
            <input type="text" v-model='customName' />
            <button @click='customClick'>确定</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hiSNGiYjCDay4EMncAjAUjx5oEblgpsx"></script>
  <script src="/common/js/libs/vue-ueditor-wrap.min.js"></script>
  <script src="/common/js/laydate/laydate.js"></script>
  <script type="text/javascript" src="/common/js/libs/progress.js"></script>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script type="text/javascript" src="js/addpatent.js"></script>
  <!-- import JavaScript -->
</body>

</html>
