<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>卖家中心-成渝城市群综合科技服务平台</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="/common/usercenter/css/usercenter.css" rel="stylesheet" type="text/css">
  <link href="/common/seller/css/seller.css" rel="stylesheet" type="text/css">
  <link href="/common/css/cform-table.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="box" id="store_box">
    <div class="header">
      <ly-toper :http='http'></ly-toper>
      <ly-header type="seller" :http="httpCom"></ly-header>
    </div>
    <div class="contant">
      <div class="mdiv">
        <div class="leftbox">
          <seller-left :http='http' :jquery='jquery'></seller-left>
        </div>
        <div class="crumbs">
          <a href="/common/seller/index.html">卖家中心</a>
          <span>我的投标</span>
        </div>
        <div class="rightmainbox">
          <div class="csearchform-content">
            <div class="csearchform">
              <label><span>关键字：</span>
                <div class="ipt"><input type="search" v-model="searchData.keyWord" placeholder="请输入需求标题"
                    style="width:500px"></div>
              </label>
              <label>
                <span>投标时间：</span>
                <div class="ipt">
                  <input type="text" id="timeStart" readonly v-model="searchData.createDateTo">
                </div>
                <span>至</span>
                <div class="ipt">
                  <input type="text" id="timeEnd" readonly v-model="searchData.createDateForm">
                </div>
              </label>
              <label>
                <span>需求类型：</span>
                <div class="select">
                  <select v-model="searchData.demandType">
                    <option :value="k.value" v-for="k in options['demand_type']" v-html="k.display">
                    </option>
                  </select>
                </div>
              </label>
              <label>
                <span>投标状态：</span>
                <div class="select">
                  <select v-model="searchData.bidStatus">
                    <option :value="k.value" v-for="k in options['bid_status']" v-html="k.display">
                    </option>
                  </select>
                </div>
              </label>
              <button class="" type="button" @click="searchPage(1)" :class="{disabled:searchDisable}">搜索</button>
            </div>
            <div class="csearchform-table">
              <table cellspacing="1" cellpadding="0">
                <thead>
                  <tr>
                    <td width="300">需求标题</td>
                    <td>需求类型</td>
                    <td>报价（元）</td>
                    <td>投标时间</td>
                    <td>服务周期（天）</td>
                    <td>投标状态</td>
                    <td width="150">操作</td>
                  </tr>
                </thead>
                <tbody v-cloak>
                  <tr v-if="searchList.length < 1">
                    <td colspan="7">无记录</td>
                  </tr>
                  <tr v-else v-for="k in searchList">
                    <td v-html="k.title"></td>
                    <td v-html="k.demandTypeDisplay"></td>
                    <td v-html="k.amount"></td>
                    <td v-html="k.createDate"></td>
                    <td v-html="k.actualPeriod"></td>
                    <td v-html="k.bidStatusDisplay"></td>
                    <td>
                      <a :href="'/common/demanddetail.html?id=' + k.demandId" target="_blank">浏览需求</a>
                      <a :href="'biddetail.html?id=' + k.id" target="_blank">投标详情</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ly-page :current-page="page" :total-page="totalPage" @handle="searchPage"></ly-page>
          </div>
        </div>
      </div>
    </div>
    <ly-minifooter></ly-minifooter>
  </div>
  <script src="/common/js/laydate/laydate.js"></script>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script type="text/javascript" src="js/bid.js"></script>
</body>

</html>
