<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>卖家中心-成渝城市群综合科技服务平台</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="css/seller.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="box" id="store_box">
    <div class="header">
      <ly-toper :http='http'></ly-toper>
      <ly-header type="seller" :http="httpCom"></ly-header>
    </div>
    <div class="contant">
      <div class="mdiv">
      </div>
      <div class="mdiv mt20">
        <seller-left :http='http' :jquery='jquery'></seller-left>
        <div class="rightmainbox">
          <div class="worklink mb20">
            <!--            <a class="red" :href="$pathPrefix+'/common/seller/addpatent.html?code=technology-all&categoryId=82515756322918000'">-->
            <a class="red" :href="$pathPrefix+'/common/usercenter/user_market_tech_achi_form.html'">
              <i class="iconfont icon-tool"></i>
              <span>我的技术</span>
              <strong>发技术</strong>
            </a>
            <a class="blue" :href="$pathPrefix+'/common/seller/addpatent.html?code=service&categoryId=82779310439534200'">
              <i class="iconfont icon-jishuzhichizhichizhinengzhinengfuwufuwuke"></i>
              <span>我的需求</span>
              <strong>发服务</strong>
            </a>
            <!--            <a class="aqua" :href="$pathPrefix+'/common/seller/addpatent.html?code=product&categoryId=82779310439534201'">-->
            <a class="aqua" href="javascript:return false;" onclick="return false" style="cursor:default;background: #adacac">
              <i class="iconfont icon-chanpin" style="background: #807f7f "></i>
              <span style="color: #eeeff6">我的产品</span>
              <strong style="color: #eeeff6">发产品</strong>
            </a>
            <a class="steelblue" href="javascript:return false;" onclick="return false" style="cursor:default;background: #adacac">
              <!--            <a class="steelblue" :href="$pathPrefix+'/common/seller/addpatent.html?code=resource-all&categoryId=84244636343734149'">-->
              <i class="iconfont icon-ziyuanjk" style="background: #807f7f "></i>
              <span style="color: #eeeff6">我的资源</span>
              <strong style="color: #eeeff6">发资源</strong>
            </a>
          </div>
          <div class="centerbox">
            <div class="card ordercard">
              <div class="title">合作中的订单</div>
              <div class="orderlinks">
                <a class="orderclick active" @click.stop.prevent="handleOrdertabs('01')"><i
                    class="iconfont icon-quanbu"></i>最新</a>
                <a class="orderclick" @click.stop.prevent="handleOrdertabs('02')"><i
                    class="iconfont icon-daifukuan"></i>待付款</a>
                <a class="orderclick" @click.stop.prevent="handleOrdertabs('04')"><i
                    class="iconfont icon-success"></i>已完成</a>
                <a class="orderclick" @click.stop.prevent="handleOrdertabs('05')"><i
                    class="iconfont icon-daipingjia"></i>待评价</a>
                <a class="orderclick" :href="$pathPrefix+'/common/seller/order/?orderStatusFilter=01&code=order-seller-my'"><i
                    class="iconfont icon-ai222"></i>更多订单</a>
              </div>
              <ul class="orderlist">
                <li v-for="order in orderList">
                  <div class="img"
                    :style="'background-image: url('+ (order.details[0].goodsImg && order.details[0].goodsImg.url || 'http://dummyimage.com/58x58') +')'">
                  </div>
                  <div class="info">
                    <a target="_blank" :href="$pathPrefix+'/common/seller/order/detail.html?id=' + order.id">查看详情</a>
                    <div class="tips" v-text="$options.filters.filtersTips(order.orderStatus, order.evaluated)">
                      订单正等待您确认...</div>
                    <div class="time" v-text="order.orderCreateTime"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card mt20 potentialcard">
              <div class="title">潜在订单
                <a href="/searchList.html?type=demand&word=&page=1&demandStatus=1" @click.stop="handleShowTips" class="more">更多&gt;</a>
              </div>
              <ul class="potenlist">
                <li v-for="demand in demandlist">
                  <a :href="$pathPrefix+'/common/demanddetail.html?id='+demand.contentId" target="_blank" v-text="demand.title"></a>
                  <span v-text="demand.publicDate"></span></li>
              </ul>
            </div>
            <div class="card focuscard mt20">
              <div class="title">供应动态
                <ul class="tabs">
                  <li :class="{active: selectedAmount === '010'}" @click="getAmountList('010')">产品</li>
                  <li :class="{active: selectedAmount === '009'}" @click="getAmountList('009')">服务</li>
                  <li :class="{active: selectedAmount === '001'}" @click="getAmountList('001')">技术</li>
                </ul>
                <a :href="moreurl" @click.stop="handleShowTips">更多</a>
              </div>
              <div class="pdlist clear">
                <div class="item active">
                  <a target="_blank" v-for="item in attentionList" :href="item.goodsDetailUrl">
                    <span class="img"
                      :style="'background-image: url('+ (item.goodsImg ? item.goodsImg.url : 'http://dummyimage.com/128x128') +')'"></span>
                    <span class="tit" v-text="item.goodsName"></span>
                  </a>
                  <p v-if="!attentionList.length" class="addTips">您还没有发布，请先<button
                      @click="handlePushArticle">发布</button></p>
                </div>
              </div>
            </div>
          </div>
          <div class="rightbox">
            <div class="card realdata">
              <div class="title">实时数据</div>
              <div class="iconlist">
                <a><i class="iconfont icon-fangke"></i><span>访客数<strong
                      v-text="visitList.visitNum || ''"></strong></span></a>
                <a><i class="iconfont icon-liulan"></i><span>浏览量<strong
                      v-text="visitList.browseNum || ''"></strong></span></a>
                <a><i class="iconfont icon-icon-link"></i><span>对接数<strong
                      v-text="visitList.buttJoinNum || ''"></strong></span></a>
                <a><i class="iconfont icon-guanzhu"></i><span>关注度<strong
                      v-text="visitList.attentionNum || ''"></strong></span></a>
              </div>
            </div>
            <div class="card mt20 adlink">
              <a href="#" style="background-image: url('/common/images/sellerAd.jpg')"></a>
            </div>
            <div class="card partner mt20">
              <div class="title">合作伙伴<span v-text="'有'+tradeUserList.length+'位伙伴有新的动态'"></span></div>
              <div class="parlist">
                <a v-for="user in tradeUserList"
                  :style="'background-image: url(' + (user ||'/common/images/defaultImg/default.gif') +')'">
                </a>
              </div>
            </div>
            <div class="card customer mt20">
              <div class="title">潜在客户</div>
              <div class="parlist">
                <a v-for="who in whoConcernList" :title="who.userName"
                  :style="'background-image: url(' + (who.userPhoto || '/common/images/defaultImg/default.gif') + ')'">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ly-minifooter></ly-minifooter>
  </div>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
