.box {
	background-image: none;
	background: #f2f2f2;
}
.searchInputLine {
	margin-top: 25px;
	height: 39px;
}
.header {
	height: 114px;
}
.userbanner {
	height: 80px;
	background-color: #70adf1;
}
.logo {
	display: block;
	padding-top: 23px;
}
.umenu {
	margin-top: 25px;
	float: left;
	margin-left: 80px;
}
.umenu a {
	display: block;
	float: left;
	padding: 0 10px;
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	margin: 0 15px;
	line-height: 38px;
}
.umenu a:hover {
	color: #123f9b;
}
.umenu a.active {
	color: #123f9b;
	border-bottom: 3px solid #1052b3;
}
.contant {
	margin-top: 20px;
}
.leftbox {
	float: left;
	margin-right: 20px;
	width: 150px;
	min-height: 100px;
}
.leftbar {
	width: 150px;
	background-color: #ffffff;
	min-height: 100px;
}
.user_info {
	padding: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
}
.user_info .head {
	width: 110px;
	height: 110px;
	background: no-repeat center center;
	background-size: cover;
}
.user_info .name {
	margin-top: 10px;
	color: #000;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.user_info .data_perfection {
	margin-top: 10px;
	color: #000;
	font-size: 14px;
	line-height: 23px;
}
.user_info .data_perfection a {
	display: block;
	color: #ff4200;
}
.user_info .data_perfection a:hover {
	color: #256BCB;
}
.user_info .clear {
	margin: 10px -20px 0;
}
.user_info .level,
.user_info .honor {
	float: left;
	width: 50%;
	text-align: center;
	color: #000;
	line-height: 23px;
	font-size: 14px;
}
.user_info .level span,
.user_info .honor span {
	display: block;
	font-size: 14px;
	color: #f35000;
}
.leftbar .group {
	padding: 20px 18px;
}
.leftbar .group .name {
	color: #000;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 14px;
}
.leftbar .group a,
.leftbar .group .links {
	display: block;
	height: 40px;
	color: #3b3b3b;
	font-size: 16px;
	line-height: 40px
}
.leftbar .group .links {
	height: auto;
	cursor: pointer;
	font-size: 18px;
}
.leftbar a:hover {
	color: #0f297e
}
.leftbar .group a.active {
	color: #158cf0;
}
.leftbar .group .links strong {
	display: block;
	font-weight: 400;
}
.leftbar .group .links strong:hover,  .leftbar .group .links strong.active{
	color: #0f297e
}
.leftbar .group .links a {
	margin-left: 20px;
}
.leftbar .group .links span {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s;
}
.leftbar .group .links.active span {
	max-height: 300px;
}
.leftbar .group .links strong>i {
	float: right;
	font-size: 12px;
	color: #8e9091;
	transition: transform .5s;
}
.leftbar .group .links strong:hover>i {
	color: #86b9ff;
}
.leftbar .group .links.active strong>i {
	transform: rotateX(180deg)
}
.centerbox {
	width: 1030px;
	float: right;
}
.worklink {
	height: 230px;
}
.worklink a {
	display: block;
	margin-right: 20px;
	float: left;
	width: 190px;
	height: 230px;
	border:1px solid #df4f4e;
	background-color: #fff;
	transition:background-color .5s;
}
.worklink a:last-child {
	margin-right: 0;
}
.worklink a i {
	display: block;
	margin: 33px auto 10px;
	width: 67px;
	height: 67px;
	border-radius: 50%;
	background-color: #df4f4e;
	font-size: 52px;
	color: #fff;
	text-align: center;
	line-height: 67px;
	transition:background-color .5s,color .5s;
}
.worklink a span,
.worklink a strong{
	display: block;
	text-align: center;
	color: #df4f4e;
	font-size: 14px;
	transition:color .5s;
}
.worklink a strong {
	margin-top: 30px;
	font-size: 24px;
	font-weight: 400;
}
.worklink a:hover {
	box-shadow: 0px 0px 7px 0px rgba(7, 0, 2, 0.57);
}
.worklink a:hover span,
.worklink a:hover strong {
	color: #fff !important;
}
.worklink a.violet {
	border-color: #6f34d1;
}
.worklink a.violet span,
.worklink a.violet strong {
	color: #6f34d1;
}
.worklink a.violet i {
	background-color: #6f34d1;
}
.worklink a.violet:hover {
	background-color: #6f34d1;
}
.worklink a.violet:hover i {
	background-color: #fff;
	color: #6f34d1;
}
.worklink a.red {
	border-color: #df4f4e;
}
.worklink a.red span,
.worklink a.red strong {
	color: #df4f4e;
}
.worklink a.red i {
	background-color: #df4f4e;
}
.worklink a.red:hover {
	background-color: #df4f4e;
}
.worklink a.red:hover i {
	background-color: #fff;
	color: #df4f4e;
}
.worklink a.blue {
	border-color: #2995e9;
}
.worklink a.blue span,
.worklink a.blue strong {
	color: #2995e9;
}
.worklink a.blue i {
	background-color: #2995e9;
}
.worklink a.blue:hover {
	background-color: #2995e9;
}
.worklink a.blue:hover i {
	background-color: #fff;
	color: #2995e9;
}

.worklink a.aqua {
	border-color: #54bdb7;
}
.worklink a.aqua span,
.worklink a.aqua strong {
	color: #54bdb7;
}
.worklink a.aqua i {
	background-color: #54bdb7;
}
.worklink a.aqua:hover {
	background-color: #54bdb7;
}
.worklink a.aqua:hover i {
	background-color: #fff;
	color: #54bdb7;
}
.worklink a.steelblue {
	border-color: #588fbd;
}
.worklink a.steelblue span,
.worklink a.steelblue strong {
	color: #588fbd;
}
.worklink a.steelblue i {
	background-color: #588fbd;
}
.worklink a.steelblue:hover {
	background-color: #588fbd;
}
.worklink a.steelblue:hover i {
	background-color: #fff;
	color: #588fbd;
}
.cards {
	float: left;
	width: 696px;
}
.ordercard {
	width: 696px;
	height: auto;
	background-color: #fff;
}
.card .title {
	padding: 0 20px;
	height: 67px;
	line-height: 67px;
	color: #2c2c2c;
	font-size: 20px;
	font-weight: 700;
}
.card .title>a {
	color: #585858;
	font-size: 14px;
	float: right;
	font-weight: 400;
}
.card .title>a:hover {
	color: #86b9ff;
}
.card .title .tips {
	float: right;
	margin-top: 20px;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	background-color: #d7d7d7;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
.card .title .tips i {
	margin-left: 5px;
	margin-right: -5px;
	display: inline-block;
	transform: rotate(-75deg);
	color: #fff;
	font-size: 20px;
	vertical-align: middle;
}
.card .title .tips:hover {
	background-color: #86b9ff;
	color: #fff;
}
.card .title span {
	margin: 0 5px;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
}
.orderlinks {
	padding: 0 20px 15px;
	height: 108px;
}
.orderlinks a {
	margin-right: 49px;
	display: block;
	float: left;
	width: 92px;
	height: 93px;
	color: #010101;
	text-align: center;
	transition: box-shadow .3s;
}
.orderlinks a:last-child {
	margin: 0;
}
.orderlinks a i {
	display: block;
	margin: 5px auto;
	color: #707070;
	font-size: 45px;
}
.orderclick:hover{
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(7, 0, 2, 0.28);
}
.orderclick:hover i{
	color: #246acb;
}
/* .orderlinks a:hover {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(7, 0, 2, 0.28);
}
.orderlinks a:hover i {
	color: #246acb;
} */
.orderlinks .active {
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(7, 0, 2, 0.28);
}
.orderlinks .active i {
	color: #246acb;
}
.orderlist{

}
.orderlist li {
	padding: 20px;
	height: 99px;
	border-top: 1px solid #ddd;
}
.orderlist li .img {
	float: left;
	margin-right: 20px;
	width: 58px;
	height: 58px;
	background: no-repeat center center;
	background-size: cover;
}
.orderlist li .info {
	overflow: hidden;
}
.orderlist li .info .tips {
	margin-bottom: 10px;
	color: #000;
	line-height: 26px;
	font-size: 16px;
}
.orderlist li .info .time {
	color: #828282;
	font-size: 16px;
}
.orderlist li a {
	float: right;
	line-height: 58px;
	color: #4d4d4d;
}
.orderlist li a:hover {
	color: #86b9ff;
}
.focuscard {
	background-color: #fff;
	width: 696px;
}
.card .tabs {
	display: inline-block;
	margin-left: 20px;
	font-size: 16px;
	color: #000;
	font-weight: 400;
}
.card .tabs li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: -8px;
	padding: 0 15px 0 14px;
	height: 15px;
	line-height: 15px;
	border-right: 1px solid #000;
	cursor: pointer;
}
.card .tabs li:last-of-type {
	border: 0;
}
.card .tabs li:hover,
.card .tabs li.active {
	color: #297ae9;
}
.card .tabs li.active:after {
	content: "";
	display: block;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: -10px;
	height: 2px;
	background-color: #297ae9;
}
.pdlist {
	margin: 10px 20px 0;
}
.pdlist a {
	display: block;
	float: left;
	width: 128px;
	margin-right: 38px;
	margin-bottom: 20px;
}
.pdlist a:nth-child(4n) {
	margin-right: 0;
}
.pdlist a .img {
	display: block;
	width: 128px;
	height: 128px;
	background-color: #a9a9a9;
	background: no-repeat center center;
	background-size: cover;
}
.pdlist a .tit {
	padding: 0 3px;
	margin-top: 5px;
	display: block;
	color: #000;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.pdlist a:hover .tit {
	color: #297ae9;
}
.pdlist .item {
	display: none;
}
.pdlist .item.active {
	display: block;
}
.matchingcard {
	width: 696px;
	background-color: #fff;
}
.matchitem {
	padding: 0 20px 20px;
}
.matchitem:first-child {
	border-top: 1px solid #ddd;
}
.matchitem:after {
	content: "";
	display: block;
	clear: both;
}
.matchitem dt {
	padding-top: 10px;
	border-top: 1px solid #ddd;
	margin-bottom: 10px;
	height: 50px;
	line-height: 36px;
}
.matchitem:first-child dt {
	border: 0;
}
.matchitem dt span {
	display: block;
	float: left;
	color: #297ae9;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 3px solid #297ae9;
}
.matchitem dd {
	color: #000;
	font-size: 16px;
	line-height: 32px;
}
.matchitem dd span {
	color: #ff4e00;
}
.matchitem dd a {
	float: right;
	margin-top: 6px;
	padding: 0 10px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	background-color: #6faef3;
	color: #fff;
	font-size: 14px;
	vertical-align: bottom;
}
.matchitem dd a:hover {
	background-color: #ff4e00;
}
.matchitem.item1 dd {
	width: 46%;
	float: left;
}
.matchitem.item1 dd:nth-child(2n) {
	float: right;
}
.matchitem.item2 dd {
	padding: 15px 0;
	border-bottom: 1px dashed #d7d7d7;
}
.matchitem.item2 dd:last-child {
	border: 0;
	padding-bottom: 0;
}
.services {
	padding: 10px 0;
	margin: 0 20px;
	border-top: 1px solid #ddd;
}
.services .tips {
	height: 40px;
	line-height: 40px;
	color: #000;
}
.services ul {
	padding: 10px 0;
}
.services ul:after {
	content: "";
	display: block;
	clear: both;
}
.services li {
	float: left;
	margin-right: 31px;
}
.services li:last-child {
	margin-right: 0;
}
.services li a {
	display: block;
	width: 140px;
	height: 75px;
	background: no-repeat center center;
	background-size: cover;
}
.intelligencecard {
	width: 696px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}
.item4 .list:after {
	content: "";
	display: block;
	clear: both;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}
.item5 {
	padding: 0 20px;
}
.item5 li {
	border-bottom: 1px dashed #d4d4d4;
}
.item5 li:last-child {
	border-bottom: 0;
}
.item5 li a {
	height: 122px;
	display: block;
	padding: 20px 0;
}
.item5 li .img {
	display: block;
	margin-right: 20px;
	float: left;
	width: 95px;
	height: 82px;
	background: no-repeat center center;
	background-size: cover;
}
.item5 li .name {
	display: block;
	color: #010101;
	font-size: 18px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item5 li .info {
	margin-top: 10px;
	color: #606060;
	font-size: 16px;
	line-height: 26px;
	height: 52px;
	overflow: hidden;
}
.item5 li a:hover * {
	color: #86b9ff;
}
.rightbox {
	width: 314px;
	float: right;
}
.realdata {
	background-color: #fff;
}
.iconlist {
	border-top: 1px solid #eee;
}
.iconlist:after {
	content: "";
	display: block;
	clear: both;
}
.iconlist a {
	display: block;
	float: left;
	width: 157px;
	height: 116px;
	border: 1px solid #eee;
	border-width: 0 1px 1px 0;
	text-align: center;
	color: #525252;
	font-size: 16px;
}
.iconlist a:nth-child(2) {
	border-right: 0;
}
.iconlist a:hover {
	background-color: #eee;
}
.iconlist a i {
	margin: 15px auto;
	font-size: 35px;
	display: block;
}
.iconlist a strong {
	color: #e63000;
	font-weight: 700;
	margin-left: 5px;
}
.icon-fangke {
	color: #ef548b;
}
.icon-liulan {
	color: #3077ed;
}
.icon-icon-link {
	color: #e49100;
}
.icon-guanzhu {
	color: #46ae39;
}
.partner {
	background-color: #fff;
}
.customer {
	background-color: #fff;
}
.parlist:after {
	content: "";
	display: block;
	clear: both;
}
.parlist {
	padding: 0 20px 20px;
}
.parlist a {
	position: relative;
	margin-right: 17px;
	display: block;
	width: 80px;
	height: 80px;
	float: left;
	background: no-repeat center center;
	background-size: cover;
}
.parlist a:last-child {
	margin-right: 0;
}
.parlist a span {
	position: absolute;
	right: -7px;
	top: -7px;
	width: 17px;
	height: 17px;
	background-color: #f00;
	border-radius: 50%;
	text-align: center;
	line-height: 17px;
	color: #fff;
	font-size: 14px;
}
.adlink a {
	display: block;
	height: 158px;
	background: no-repeat center center;
	background-size: cover;
}
.servicecard {
	background-color: #fff;
}
.servicelist {
	border-top: 1px solid #eee;
}
.servicelist a {
	display: block;
	float: left;
	padding: 20px;
	width: 104px;
	height: 135px;
	border-bottom: 1px solid #eee;
	color: #297ae9;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	transition: transform .1s , box-shadow .1s;
	background-color: #fff;
}
.servicelist a:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 9px 0px rgba(7, 0, 2, 0.36);
}
.servicelist a:nth-child(3n-1) {
	width: 106px;
	border:1px solid #eee;
	border-width: 0 1px 1px;
}
.servicelist a i {
	display: block;
	margin: 15px auto;
	font-size: 32px;
}
.userform {
	position: relative;
	display: none;
	padding: .1px 10px;
	background-color: #fff;
	min-height: 300px;
}
.form_title {
	padding: 0 30px;
	height: 60px;
	line-height: 60px;
	color: #222121;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px solid #eee;
}
.form_table {
	margin: 20px 0 0;
	width: 100%;
}
.form_table{
	font-size: 0;
}
.form_table th, .form_item_title {
	padding: 17px 0 13px;
	width: 130px;
	text-align: right;
	color: #474747;
	font-size: 14px;
	font-weight: 400;
	vertical-align: top;
}
.form_table td {
	font-size: 0;
}
.form_table td:nth-child(2) {
	width: 600px;
}
.form_table td:nth-child(3) {
	font-size: 14px;
}
.form_table .ipt {
	position: relative;
	display: inline-block;
	width: 400px;
	vertical-align: middle;
}
.form_table .ipt input {
	padding: 0 15px;
	width: 100%;
	height: 40px;
	border:1px solid #c9c9c9;
	font-size: 16px;
}
.form_table .select_input{
	width: 200px;
	margin-left: 20px;
	height: 40px;
	position: relative;
}
.form_table .select_input:after{
	position: absolute;
	right: 1px;
	top: 1px;
	width: 38px;
	height: 38px;
	font-family: "iconfont";
	content: "\25bc";
	color: #d2d2d2;
	background-color: #fff;
	text-align: center;
	line-height: 38px;
	pointer-events: none;
	font-size: 14px;
}
.form_table .head {
	width: 110px;
	height: 110px;
	background: no-repeat center center;
	background-size: cover;
	border:1px solid #c9c9c9;
}
.form_table .label {
	font-size: 14px;
}
.form_table .exbtn{
	width: 80px !important;
    height: 38px;
    line-height: 38px;
    color: #fff;
    background-color: #1052b3;
    display: inline-block !important;
    text-align: center !important;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.form_table .exbtn + i{
	display: inline-block;
    font-size: 13px;
    font-style: normal;
    color: #818181;
    margin-top: 19px;
}
.validate th:before, .form_item_title:before {
	margin-right: 5px;
	content: "*";
	color: #f00;
}
.form_table .head {
	float: left;
	margin-right: 10px;
}
.edithead {
	width: 90px;
	height: 30px;
	border:1px solid #1154b0;
	background: #fff;
	color: #1154b0;
	cursor: pointer;
}
.edithead:hover {
	border-color: #f60;
	color: #f60;
}
.radio {
	display: inline-block;
	vertical-align: middle;
}
.radio label {
	padding: 0 5px;
	color: #505050;
	margin-right: 10px;
	overflow: hidden;
	cursor: pointer;
	font-size: 16px;
}
.radio label input {
	position: absolute;
	left: -999em;
}
.radio label b {
	position: relative;
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border:1px solid #999;
	border-radius: 50%;
	vertical-align: middle;
}
.radio label input:checked + b:after {
	content: "";
	position: absolute;
	left: 3px;
	top: 3px;
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #999;
}
.form_table .date:after {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #c5c5c5;
	font-family: "iconfont";
	content: "\e611"
}

.form_table .select {
	position: relative;
	display: inline-block;
	width: 400px;
	vertical-align: middle;
	min-height: 40px;
	border:1px solid #c9c9c9;
}
.form_table .select:after {
	position: absolute;
	right: 0;
	top: 1px;
	width: 36px;
	height: 36px;
	font-family: "iconfont";
	content: "\25bc";
	color: #d2d2d2;
	background-color: #fff;
	text-align: center;
	line-height: 38px;
	pointer-events: none;
	font-size: 14px;
}
.form_table .select select {
	width: 100%;
	border: 0;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	font-size: 14px;
	color: #505050;
	font-family: "Microsoft YaHei";
	outline: 0;
}
.form_table .textarea textarea {
	padding: 10px 15px;
	width: 400px;
	min-height: 120px;
	border:1px solid #c9c9c9;
	outline: 0;
	font-size: 16px;
	font-family: "microsoft yahei";
}
.form_table .btns td {
	padding-bottom: 100px;
}
.form_table .btn {
	margin-right: 20px;
	padding: 0 40px;
	height: 40px;
	background-color: #d0d0d0;
	font-size: 14px;
	cursor: pointer;
}
.form_table .btn.primary {
	background-color: #1154b0;
	color: #fff;
}
.form_table .btn:hover {
	background-color: #C0C0C0
}
.form_table .btn.primary:hover {
	background-color: #0A4596
}
.usertabs {
	height: 48px;
}
.usertabs li {
	float: left;
	margin-top: 3px;
	height: 45px;
	line-height: 45px;
	background-color: #e2e1e1;
	margin-right: 2px;
	cursor: pointer;
}
.usertabs li a, .usertabs li span{
	color: #232323;
	display: inline-block;
	width: 100%;
	padding: 0 35px;
}
.usertabs li:hover {
	background-color: #dddddd;
}
.usertabs li.active {
	margin-top: 0;
	height: 49px;
	font-weight: 700;
	background-color: #fff;
	border:1px solid #d2d2d2;
	border-bottom: 0;
}
.tabbox {
	border:1px solid #d2d2d2;
	background-color: #fff;
}
/* .tabbox .userform {
	display: none;
} */
.tabbox .userform.active {
	display: block;
}
.select.address {
	margin-right: 5.5px;
	width: 96px;
}
.address:nth-last-of-type(1){
	margin-right: 0;
}
.ipt.realname {
	width: 265px;
}
.select.showname {
	margin-left: 5px;
	width: 130px;
}
.select.showname select {
	width: 100%;
}

.crumbs {
	overflow: hidden;
	margin-bottom: 20px;
	padding: 0 25px;
	height: 48px;
	line-height: 46px;
	border:1px solid #d2d2d2;
	background-color: #ffffff;
	font-size: 0;
	color: #4d4c4c;
}
.crumbs a {
	/* position: relative; */
	color: #4d4c4c;
	margin-right: 10px;
	/* padding-right: 16px; */
	font-size: 14px;
}
.crumbs a:hover {
	color: #1557b1;
}
.crumbs a:after {
	/* position: absolute; */
	right: 0;
	margin-left: 10px;
	content: ">";
	font-family: "simsun";
	vertical-align: middle;
}
.crumbs span {
	font-size: 14px;
}
.searchform {
	margin: 20px 10px 0;
	padding: 20px 20px 0;
	background-color: #f4f4f4;
}
.searchrow {
	font-size: 0;
}
.searchrow.senior {
/*	transform: scaleY(0);*/
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s;
}
.searchrow.senior.show {
	max-height: 100px;
}
.searchrow em {
	margin: 0 5px;
	font-size: 14px;
	color: #212121;
	font-style: normal;
	vertical-align: middle;
}
.searchrow label {
	display: inline-block;
	padding: 0 0 20px;
	margin-right: 30px;
	color: #212121;
	font-size: 0;
}
.searchrow label>span {
	font-weight: 700;
	margin-right: 10px;
	font-size: 14px;
	vertical-align: middle;
}
/* .searchrow label>span:after {
	margin-left: 5px;
	content: "：";
} */
.searchrow label>div {
	display: inline-block;
}
.searchrow .ipt,
.searchrow .select {
	position: relative;
	width: 165px;
	height: 30px;
	border:1px solid #bfbfbf;
	background-color: #fff;
	vertical-align: middle;
}
.searchrow .ipt input {
	width: 100%;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	background-color: transparent;
}
.searchrow .select:after {
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	font-family: "iconfont";
	content: "\25bc";
	color: #d2d2d2;
	background-color: #fff;
	text-align: center;
	line-height: 28px;
	pointer-events: none;
	font-size: 9px;
}
.searchrow .select select {
	animation-name: 0;
	padding: 0 7px;
	width: 100%;
	height: 28px;
	line-height: 28px;
	border: 0;
	background-color: transparent;
	vertical-align: middle;
}
.searchrow .demand_select {
  width: 100% !important;
  height: auto  !important;
  border: none  !important;
  padding-right: 0  !important;
}
.searchrow .demand_select:after{
 content: '';
 position: relative !important;
}
.searchrow button {
	padding: 0 15px;
  height: 30px;
  border:1px solid #1557b1;
	background-color: #1557b1;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	vertical-align: middle;
}
.searchrow button:hover {
	color: #fff;
	background-color: #0A4596;
}
.searchrow .btnline {
  border: 1px solid #1557b1;
  background-color: transparent;
  color: #1557b1
}
.searchrow.normal label {
	margin-right: 0;
}
.searchrow.normal .ipt {
	width: 360px;
	vertical-align: middle;
}
.searchrow .more {
	margin-left: 20px;
	display: inline-block;
	color: #5e5e5e;
	font-size: 14px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
}
.searchrow .more:after {
	display: inline-block;
	margin-left: 5px;
	line-height: 19px;
	content: "\e60c";
	font-family: "iconfont";
	transition: transform .5s;
	font-size: 12px;
}
.searchrow .more.show:after {
	transform: rotateX(180deg);
}
.searchrow .more:hover {
	color: #f60;
}
.orderbox {
	margin: 20px 10px;
}
.control {
	padding: 0 20px;
	font-size: 0;
	height: 40px;
	line-height: 40px;
}
.control label {
	margin-right: 15px;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	color: #212121;
	cursor: pointer;
	user-select: none;
}
.control label input {
	position: absolute;
	left: -100em;
}
.control .addtec{
  float: right;
  width: 98px;
  height: 28px;
  border: 1px solid #d2d2d2;
  background-color: #eeeeee;
  cursor: pointer;
  font-size: 14px;
  text-align:center;
  color: #212121;
  vertical-align:middle;
  line-height: 24px;
}
.control label b {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	border: 2px solid #c4c4c4;
	position: relative;
	margin-top: -2px;
}
/*.control label b:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background-color: #297ae9;
}*/
.control label input:checked+b:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background-color: #297ae9;
}
.control button {
	padding: 0 10px;
	height: 28px;
	line-height: 26px;
	background-color: #eeeeee;
	border:1px solid #d2d2d2;
	color: #212121;
	cursor: pointer;
}
.control button:hover {
	background-color: #ccc;
}
.orderheader {
	border-top: 2px solid #89b2ec;
	height: 40px;
	line-height: 38px;
	background-color: #f4f4f4;
}
.orderheader>* {
	float: left;
	text-align: center;
	color: #212121;
	font-size: 14px;
}
.orderheader .goods {
	width: 463px;
}
.orderheader .sceneName {
	width: 101px;
}
.orderheader .price {
	width: 101px;
}
.orderheader .number {
	width: 91px;
}
.orderheader .total {
	width: 111px;
}
.orderheader .state {
	width: 111px;
}
.orderheader .operation {
	width: 111px;
}
.orderitem {
	margin-top: 10px;
	border:1px solid #dcdcdc;
	border-top:0;
}
.itemhead {
	padding: 0 20px;
	height: 42px;
	line-height: 38px;
	background-color: #e7eff9;
}
.itemhead label {
	position: relative;
	cursor: pointer;
}
.itemhead input {
	position: absolute;
	left: -1000px;
}
.itemhead label b {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	border: 2px solid #c4c4c4;
	position: relative;
	margin-top: -2px;
}
/*
.itemhead label b:after {
	content: "\e68f"
}
*/
.itemhead label input:checked+b:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background-color: #297ae9;
}
.itemhead strong {
	display: inline-block;
	font-size: 14px;
	color: #212121;
	vertical-align: middle;
}
.itemhead span {
	display: inline-block;
	max-width: 450px;
	margin: 0 20px;
	color: #212121;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}
.itemhead i {
	float: right;
	color: #a4a4a4;
	font-size: 20px;
	cursor: pointer;
}
.itemhead i:hover {
	color: #f60;
}
.itembody {
	display: table-row;
	font-size: 14px;
}
.itembody .goodslist {
	display: table-cell;
	width: 655px;
}
.itembody .goodslist .goodsitem {
	width: 100%;
	display: table;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}
.itembody .goodslist .goodsitem:last-child {
	border-bottom: 0;
}
.itembody .goodslist .goodsitem:after {
	content: "";
	display: block;
	clear: both;
}
.itembody .goodslist a {
	display: table-cell;
	padding: 30px;
	width: 463px;
}
.itembody .img {
	display: block;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
	width: 62px;
	height: 62px;
	background: no-repeat center center;
	background-size: cover;
}
.itembody .title {
	overflow: hidden;
	display: block;
	color: #1154b0;
	font-size: 16px;
	line-height: 28px;
}
.itembody>.title {
	width: 463px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	border-right: 1px solid #ccc;
}
.itembody>.scene {width: 101px;display: table-cell;vertical-align: middle;padding: 10px;border-right: 1px solid #ccc;}
.itembody>.industry {width: 91px;display: table-cell;vertical-align: middle;border-right: 1px solid #ccc;padding: 10px;}
.itembody .message {
	display: block;
	margin-top: 5px;
	color: #656565;
	font-size: 14px;
	overflow: hidden;
}
.itembody .price {
	display: table-cell;
	width: 101px;
	border-right: 1px solid #dcdcdc;
	text-align: center;
	vertical-align: middle;
	color: #d94700;
	font-size: 16px;
}
.itembody .number {
	display: table-cell;
	width: 91px;
	text-align: center;
	color: #212121;
	vertical-align: middle;
	font-size: 14px;
}
.itembody .total,
.itembody .state,
.itembody .operation {
	width: 111px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #ccc;
}
.itembody .total {
	font-size: 16px;
	color: #d94700;
}
.itembody .state {
	padding: 0 20px;
	color: #212121;
	font-size: 14px;
}
.itembody .operation {
	border-right: 0;
}
.itembody .operation>* {
	display: block;
	margin: 0 auto;
}
.itembody .operation a {
	color: #212121;
	line-height: 24px;
	font-size: 14px;
}
.itembody .operation a:hover {
	color: #f60;
}
.itembody .operation button {
	margin: 10px auto;
	padding: 0 10px;
	height: 25px;
	line-height: 23px;
	cursor: pointer;
}
.itembody .contract {
	border:1px solid #eb6100;
	background-color: #fff;
	color: #eb6100;
}
.itembody .contract:hover {
	color: #F88A51;
	border-color: #F88A51;
}
.itembody .pay {
	border:1px solid #eb6100;
	background-color: #eb6100;
	color: #fff;
}
.itembody .pay:hover {
	background-color: #F88A51;
	border-color: #F88A51;
}
.itembody .acceptance {
	background-color: #1557b1;
	color: #fff;
}
.itembody .acceptance:hover {
	background-color: #3888f5;
	border-color: #3888f5;
}
.itembody .evaluate {
	border:1px solid #c9c9c9;
	background-color: #eee;
	color: #505050;
}
.itembody .evaluate:hover {
	background-color: #ccc;
	border-color: #939393;
}

.pager {
	margin: 50px auto;
	text-align: center;
	color: #515151;
}
.pager>* {
	padding: 0 5px;
}
.pager a {
	display: inline-block;
	min-width: 22px;
	height: 22px;
	line-height: 22px;
	color: #515151;
}
.pager a:hover {
	color: #f60;
}
.pager a.active {
	background-color: #1657b2;
	color: #fff;
}
.form_item_title, .form_item_content{
	display: inline-block;
	vertical-align: middle;;
}

.editalert {
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(7, 0, 2, 0.45);
	min-width: 430px;
}
.listbox {
	padding: 20px;
}
.acceptForm .iptline {width: 100%;}
.tit2{
	border-bottom: 1px solid #cecece;
}
.tit2:after{
	display: block;
	content: "";
	clear: both;
}
.tit2 strong{
	float: left;
	color: #464646;
	font-size: 18px;
	line-height: 50px;
	padding: 0 18px;
	border-bottom: 2px solid #2649a1;
}
.mb20 {
	margin-bottom: 20px;
}
.alertbtn {
	cursor: pointer;
	width: 140px;
	height: 50px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	background-color: #2649a1;
	margin: 0 25px;
}
.close {
	display: none;
}
.open{
	display: table;
}
.iptline {
	font-size: 14px;
	font-weight: 400;
	color: #515151;
	line-height: 24px;
	width: auto;
}
.iptline span{
	display: inline-block;
	width: 110px;
	text-align: right;
}
.iptline i{
	font-size: 14px;
	font-weight: 400;
	color: #ff0000;
	line-height: 18px;
	font-style: normal;
	margin-right: 5px;
}

.storeipt {
	height: 35px;
	border-width: 1px;
	border-color: #dcdcdc;
	border-style: solid;
	padding-left: 10px;
}
.w240 {
	width: 240px;
}
.down {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 12px;
	color: #a0a0a0;
	pointer-events: none;
}

.ovflh {
	padding-left: 110px;
}
.ovflh:after {
	content: '';
	display:block;
	height:1;
	width: 100%;
	overflow: hidden;
	zoom:1;
}
.vlt.form_msg {
	color: red;
	position:absolute;
	left: 0;
	bottom: -25px;
	width: auto;
	background-color: transparent;
}
.mt5 {
	margin-top: 5px;
}
.inputContent {
	display: inline-block;
	position: relative;
	width: 72%;
}
.textcenter {
	text-align: center;
}
.mt40 {
	margin-top: 40px;
}

/*需求诊断_收藏的方案*/
.uplan{
	border: solid 1px #c9c9c9;
	padding: 11px 15px;
	margin-top: 10px;
}
.uplan-top_tit{
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	line-height: 39px;
}
.updateName input{
	border: 1px solid #ccc;
	padding: 5px;
}
.updateName button {
	padding: 5px;
	background-color: #1478cc;
	color: #fff;
}
.uplan-top i{
	font-size: 21px;
	color: #bfbfbf;
	cursor: pointer;
}
.uplan>i{
	float: right;
	font-size: 20px;
	color: #bfbfbf;
	cursor: pointer;
}
.uplan-top_cost font{
	color: #ff6000;
	font-size: 18px;
}
.uplan-top_cost{
	color: #212121;
	font-size: 16px;
	font-weight: 400;
	line-height: 39px;
	float: right;
	margin-right: 48px;
}
.uplan-cen{
	color: #1478cc;
	font-size: 14px;
	font-weight: 400;
}
.uplan-btn{
	padding: 14px 0;
	position: relative;
}
.uplan-btn:after{
	content: "";
	clear: both;
	display: block;
}
.uplan-btn_logo{
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 17px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #e5e5e5;
}
.uplan-btn_logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.uplan-btn_num{
	color: #343434;
	font-size: 14px;
	font-weight: 400;
}
.uplan-btn_project{
	background-color: #0349b9;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	padding: 0 22px;
	margin-right: 66px;
	position: absolute;
	right: 0;
	bottom: 16px;
	cursor: pointer;
}
/*方案详情*/
.uplan-top .total{
	margin-right: 0;
}
.clist .planinfo{
	padding-bottom: 25px;
	border-bottom: 1px dashed #d5d5d5;
}
.clist .planinfo:last-child{
	border-bottom: none;
}
.planinfo:after{
	display: block;
	content: "";
	clear: both;
}

.planinfo-left_img{
	display: inline-block;
	width: 100px;
	height: 99px;
	float: left;
	margin-right: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.planinfo-left_tit{
	color: #2b2b2b;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}
.planinfo-left_name{
	margin-top: 18px;
	display: block;
	color: #2b2b2b;
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
}
.planinfo-left_describe{
	display: block;
	float: left;
	margin-top: 18px;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
.planinfo-left_text{
	margin-top: 18px;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	overflow: hidden;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
	text-overflow: ellipsis;
}
.planinfo-right{
	float: right;
	margin-left: 100px;
}
.planinfo-right_cost{
	color: #ff4e00;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 60px;
}
.planinfo-right_car{
	color: #0349b9;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
.orderbox .scenario-name{
	font-weight: 700;
	font-size: 18px;
}

.loading {
  position:relative
}
.loading:before{
  content: '';
  width: 100%;
  height: 100%;
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display:block;
  background-color: rgba(0,0,0,.4);
  z-index: 2;
}
.loading:after {
  content: '上传中';
  color: #fff;
  position:absolute;
  display:block;
  min-width: 50px;
  min-height: 30px;
  line-height: 30px;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
  z-index: 3;
  font-size: 14px;
  text-align: center;
}


.tableRow {
  display: table;
  width: 100%;
}

.tableRow > * {
  display: table-cell;
}
.spimg {
  display: inline-block;
  background-size: cover;
  height: 82px;
  width: 94px;
}

.clist {
  margin-top: 16px;
  border: solid 1px #cccccc;
}
.clist li {
  padding: 49px 35px 29px;
  border-bottom: 1px dashed #ccc;
}
.clist li:last-child {
  border-bottom: 0
}
.clist li:hover {
  background-color: #eaeff8;
}
.clist .sptit{
	height: 16px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
}
.clist .sptit a {
	color: #000000;
}
.clist .spname {
	height: 15px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
  color: #505050;
  margin-top: 20px;
}


.clist .delbtn {
  background-color: transparent;
  cursor: pointer;
}
.usermessage .links a {
    padding: 20px 15px 0 15px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.usermessage .links {
    position: relative;
}
.usermessage .links span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    font-size: 12px;
    top: 17px;
    text-align: center;
    line-height: 15px;
}
.usermessage .links a.active {
    color: #2a69d2;
}
.umess-ad img {
    width: 100%;
}
.umess-ad {
    margin-top: 20px;
}
.umess-head {
    border-bottom: 2px solid #89b2ec;
}
.umess-container {
    padding: 10px 5px 5px 5px;
}
.umess-icon span {
    background: #ff7e00;
    font-size: 12px;
    padding: 2px 3px;
    color: #fff;
}
.umess-icon span.readed {
    background: #dadada;
}
.umess-icon {
    width: 50px;
    display: inline-block;
    vertical-align: top;
}
.umess-text {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    margin: 5px 35px 5px 0;
    font-size: 14px;
}
.umess-ops {
    display: inline-block;
    vertical-align: top;
    padding-top: 22px;
}
.umess-time {
    color: #797979;
    font-size: 14px;
}
.umess-list {
    margin-top: 25px;
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}
.umess-list.active {
    background: #e9ecff;
}
.umess-expand {
    color: #797979;
    font-size: 14px;
    cursor: default;
    display: inline-block;
}
.umess-expand:before {
    content: '<';
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}
.umess-expand.pdown:before {
    transform: rotate(90deg);
}
.umess-txt.hidden {
    visibility: hidden;
}
.umess-txt {
    margin: 5px 0;
}
.umess-txt.expand {
    height: 38px;
    overflow: hidden;
}
.control input {
    position: absolute;
    left: -100em;
}
.control b {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 2px solid #c4c4c4;
    position: relative;
    margin-top: -10px;
}
.control input:checked+b:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    background-color: #297ae9;
}
.leftbar.usermessage {
    min-height: auto;
    padding-bottom: 20px;
}
.tabbox .userform.active {
    min-height: 190px;
}

.info-Box {
  padding: 11px;
  font-size: 14px;
}
.box-title {
  padding: 17px 34px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 18px;
  color: #222222;
}

.info-Box .content-Box {
  padding: 32px 39px;
  overflow: hidden;
}

.info-content {
  padding: 25px 36px 20px;
}
.info-tips {
  padding: 21px 14px 0;
}
.info-tips p {
  margin: 0;
  line-height: 25px;
}
.info-tips p .smallcolor {
  margin-right: 7px;
}
.info-tips p:nth-child(2) {
  padding-left: 23px;
}
.smallcolor {
  color: #b7b7b7
}

.bind-line-btn {
  color: #1154b0;
  line-height: 28px;
  border: solid 1px #1154b0;
  margin-left: 11px;
  background-color: transparent;
  padding: 0 15px;
  cursor: pointer;
}
.forgot-step {
  margin: 0 -178px;
}
.forgot-step-num > span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
.forgot-step-num > div {
    font-size: 14px;
}
.forgot-step-num.active > span {
  background-color: #35a7ff;
}
.forgot-step-num.active > div {
  font-size: 14px;
  color: #35a7ff;
}
.forgot-step-num.active > .forgot-tracker {
  background-color: #35a7ff;
}
.forgot-step-num > div:last-child {
  margin-top: 10px;
}
.form-box {
  display: table;
  width: 100%;
  padding: 32px 228px;
  background-color: #f8f8f8;
}
.form-item {
  display: table-row;
}

.form-item > * {
  display: table-cell;
}

.form-item > :first-child {
  width: 80px;
  text-align: right;
  height: 40px;
}

.form-item-content {
  position: relative;
}

.input {
  border: solid 1px #c9c9c9;
  height: 40px;
  padding: 3px;
  width: 100%;
}

.input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.input-group > * {
  vertical-align: middle;
  display: table-cell;
}

.input-group__append, .input-group__prepend {
  white-space: nowrap;
}

.btn-text {
  color: #1154b0;
  background-color: transparent;
  width: 100%;
  border-left: 1px solid #d2d2d2;
  cursor: pointer;
}

.verification {
  border: solid 1px #c9c9c9;
  height: 40px;
}
.verification .input {
  height: 38px;
  border: 0;
}
.form-item .item-tips {
  margin-top: 21px;
  color: #7f7f7f;
}

.orage {
  color: #ff7800;
}

.btnbig {
  width: 130px;
	height: 40px;
  background-color: #1154b0;
  line-height: 38px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 121px;
  margin-top: 30px;
}

.mt44 {
  margin-top: 44px;
}

.errormsg {
  color: red;
}
.uplan-btn_project:hover{
	background-color: #3888f5;
}
.clist .delbtn:hover{
	color: #f60;
}

/*  2021.01.14 */
.policylist .item {
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}
.policylist .item .line {
	margin-right: .5em;
	display: inline-block;
	width: 4px;
	height: .8em;
	background: #ddd;
	vertical-align: baseline;
}
.policylist .item:hover {
	color: #fc7f10;
}
.policylist .item:hover .line{
	background: #fc7f10;
}