<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学习名单</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/common/usercenter/css/usercenter.css" rel="stylesheet" type="text/css">
</head>

<body>
<style>
    .mmdiv{
        width: 1200px;
        margin: auto;
    }
    .contant {
        padding-bottom: 20px;
    }

    .searchrow label {
        width: 32%;
    }

    .searchrow.normal label span.label {
        width: 20%;
    }

    .searchrow.normal label .ipt,
    .searchrow.normal label .select {
        width: 78%;
    }

    .itembody,
    .orderheader {
        width: 100%;
        display: table;
    }

    .itembody {
        border-bottom: 1px solid #d2d2d2;
    }
    .orderheader .th-item,
    .itembody .td-item{
        width: 25%;
        vertical-align: middle;
        display: table-cell;
        float: none;
        padding: 10px 0;
        text-align: center;
    }

    .itembody .operation a {
        display: inline-block;
        color: #1890FF;
    }

    .itembody .operation .ops-more-menu a {
        display: block;
    }
</style>
<div class="box" id='index_box'>
    <ly-toper></ly-toper>
    <header-bar type="conference"></header-bar>
    <div class="contant">
        <div class="mdiv">
            <buyer-left :http='http'></buyer-left>
            <div class="crumbs">
                <a :href="$pathPrefix+'/common/activity/?code=001.004.001.003'">活动中心</a>
                <a href="./index.html?code=001.004.001.002">系列活动</a>
                <span>学习名单</span>
            </div>
            <div class="centerbox">
                <div class="tabbox">
                    <!--所有订单-->
                    <div class="active">
                        <!--搜索框-->
                        <div class="searchform">
                            <div class="searchrow normal">
                                <label v-cloak style="width: 83%;">
                                    <span>活动名称：</span>
                                    <div style="border: 0; background-color: transparent;font-size: 14px;line-height: 31px;height: auto;"
                                         class="ipt"
                                         v-text="detail.title||''"></div>
                                </label>
<!--                                <br>-->
                                <label v-cloak style="width: 43%;">
                                    <span>活动时间：</span>
                                    <div style="border: 0; background-color: transparent;font-size: 14px;line-height: 31px;"
                                         class="ipt"
                                         v-text="(detail.activeStartTime || '') + ' 至 ' + (detail.activeEndTime||'')">
                                    </div>
                                </label>
                                <label v-cloak style="width: 83%;">
                                    <span>学习人数：</span>
                                    <div style="border: 0; background-color: transparent;font-size: 14px;line-height: 31px;height: auto;"
                                         class="ipt">
                                    <span>共 {{detail.title||0}} 人</span>
                                </div>
                                </label>
                            </div>
                        </div>
                        <div class="searchform">
                            <div class="searchrow normal">
                                <label><span class="label">关键字</span>
                                    <div class="ipt"><input type="search" v-model="queryForm.keyWord" placeholder="请输入手机号">
                                    </div>
                                </label>
                                <label>
                                    <span class="label">是否学完</span>
                                    <div class="select">
                                        <select v-model="queryForm.isDone">
                                            <option value="">请选择</option>
                                            <option value="1">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                </label>
                                <button type="button"
                                        style="background-color: #1890FF;border-color: #1890FF;border-radius: 5px; float: right;"
                                        @click="getList">搜索
                                </button>
                                <button type="button"
                                        @click="handleExportExcel">导出表格
                                </button>
                            </div>
                        </div>
                        <!--/搜索框-->
                        <!--订单列表-->
                        <div class="orderbox">
                            <div class="orderheader">
                                <div class="tel th-item">手机号</div>
                                <div class="name th-item">姓名</div>
                                <div class="number th-item">身份证号</div>
                                <div class="is-learn th-item">是否学完</div>
                              </div>
                            <div class="orderlist">
                                <!--订单项-->
                                <div class="itembody" v-for="(item,i) in tableList.list">
                                    <div class="tel td-item" v-text="item.phone"></div>
                                    <div class="name td-item" v-text="item.name"></div>
                                    <div class="number td-item" v-text="item.idNumber"></div>
                                    <div class="is-learn td-item" v-text="item.isDone==='0'?'否':'是'"></div>
                                </div>
                            </div>
                            <!--分页-->
                            <div class="pager" v-cloak>
                                <a @click='pageClick(1)'>[首页]</a>
                                <a @click='pageClick(queryForm.pageNum - 1)'>[上一页]</a>
                                <a @click='pageClick(item)' v-for='item in pages' v-text='item'
                                   :class="{active: item == queryForm.pageNum}" v-if='isShowPage(item)'></a>
                                <a v-if='isMore()'>...</a>
                                <a @click='pageClick(queryForm.pageNum + 1)'>[下一页]</a>
                                <a @click='pageClick(pages)'>[末页]</a>
                                <span>[共<span v-text='pages'></span>页]</span>
                                <span>[共<span v-text='queryForm.total || 0'></span>条]</span>
                            </div>
                            <!--/分页-->
                        </div>
                        <!--/订单列表-->
                    </div>
                    <!--/所有订单-->
                </div>
            </div>
        </div>
    </div>
    <ly-minifooter></ly-minifooter>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="/common/js/activityTopic/learning.js"></script>
</body>

</html>
