<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>易智网商城 - 填写订单</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/mail/css/style.css">


    <link href="css/service.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/mail/css/bootstrap.min.css">

</head>
<body class="order-process">
<div class="box" id="index_box">
    <ly-toper></ly-toper>
    <ly-header pagename="服务订单" :http="httpCom"></ly-header>

    <nav class="main-menu shop-menu">
        <div class="container">
            <ul class="navbar-nav navbar-dark">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container fill-order">
        <div class="address-list">
            <div class="title d-flex justify-content-between">
                <span>委托人信息</span>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        @click="isOpenAddress = true">
                    增加地址 +
                </button>
            </div>
            <div class="cover close" :class="{open:isOpenAddress}">
                <div class="ctr">
                    <div class="editalert">
                        <div class="tit2">
                            <strong>修改信息</strong>
                        </div>
                        <div class="listbox valiform">
                            <div class="mb20 clear">
                                <div class="iptline fl">
                                    <span class="fl mt5"><i>*</i>联系人：</span>
                                    <div class="inputContent" style="min-width: 250px">
                                        <input type="text" v-model="addressForm.contactsName" class="storeipt w240 required"
                                               data-valid="isNonEmpty||maxLength:20" data-error='联系人不能为空||最大长度为20个字符'>
                                        <span class="vlt form_msg"></span>
                                    </div>
                                </div>
                                <div class="iptline fr">
                                    <span class="fl mt5"><i>*</i>联系电话：</span>
                                    <div class="inputContent" style="min-width: 250px">
                                        <input type="text" v-model="addressForm.mobile" class="storeipt w240 required" maxlength="11"
                                               data-valid="isNonEmpty||isMobile" data-error='联系电话不能为空||联系人电话格式错误'>
                                        <span class="vlt form_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="iptline">
                                <span class="fl mt5"><i>*</i>联系地址：</span>
                                <div class="ovflh">
                                    <label class="labelbox w130">
                                        <div class="inputContent select">
                                            <select class="storeipt w130 required" v-model="addressForm.province" data-valid="isNonEmpty"
                                                    data-error='请选择省'>
                                                <option value="">请选择</option>
                                                <option :value="opt.value" v-for="opt in provinceOptions" :key="opt.id">{{opt.display}}</option>
                                            </select>
                                            <span class="vlt form_msg"></span>
                                            <div class="down iconfont icon-xiala"></div>
                                        </div>
                                    </label>
                                    <label class="labelbox w130">
                                        <div class="inputContent select">
                                            <select class="storeipt w130 required" v-model="addressForm.city" data-valid="isNonEmpty"
                                                    data-error='请选择市'>
                                                <option value="">请选择</option>
                                                <option :value="opt.value" v-for="opt in cityOptions" :key="opt.id">{{opt.display}}</option>
                                            </select>
                                            <span class="vlt form_msg"></span>
                                            <div class="down iconfont icon-xiala"></div>
                                        </div>
                                    </label>
                                    <label class="labelbox w130">
                                        <div class="inputContent select">
                                            <select class="storeipt w130 required" v-model="addressForm.district" data-valid="isNonEmpty"
                                                    data-error='请选择区域'>
                                                <option value="">请选择</option>
                                                <option :value="opt.value" v-for="opt in districtpayOptions" :key="opt.id">{{opt.display}}
                                                </option>
                                            </select>
                                            <span class="vlt form_msg"></span>
                                            <div class="down iconfont icon-xiala"></div>
                                        </div>
                                    </label>
                                    <div class="mt20">
                                        <div class="inputContent"><input type="text" v-model="addressForm.location" placeholder="详细地址"
                                                                         class="storeipt w533 required" data-valid="isNonEmpty" data-error='详细地址不能为空'>
                                            <span class="vlt form_msg"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt20 clear">
                                <div class="iptline fl">
                                    <span class="fl mt5">固定电话：</span>
                                    <div class="inputContent" style="min-width: 250px">
                                        <input type="text" data-valid="custom:phoneValid" v-model="addressForm.phone"
                                               class="storeipt w240 required"><span class="vlt form_msg"></span>
                                    </div>
                                </div>
                                <div class="iptline fr">
                                    <span class="fl mt5">Email：</span>
                                    <div class="inputContent" style="min-width: 250px">
                                        <input type="text" data-valid="custom:emailValid" v-model="addressForm.email"
                                               class="storeipt w240 required"><span class="vlt form_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt40 textcenter">
                                <button class="alertbtn" type="button" @click="addressSave">保存</button>
                                <button class="alertbtn" type="button" @click="addressSetInfo">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="address-item consignorbox" :class="{active:isFullAddress}">
                <ul class="list-unstyled  consignorlist">
                    <li v-for="(address, i) in addressList"  :class="{active: address.activated}" @click="selectAddress(i)">
                        <div class="name" v-text="address.contactsName" style="border: none;text-align: center"></div>
                        <div class="address"
                             v-text="address.provinceDisplay + address.cityDisplay + address.districtDisplay + address.location">
                        </div>
                        <div class="tnumber" v-text="address.mobile"></div>
                        <div v-show="address.defaultFlag === '1'" class="dftaddress"> 默认地址 </div>
                        <div class="fr pr30 rightbtn">
                            <button type="button" @click.stop.prevent="addressDel(address)" class="delete">删除</button>
                            <button type="button" @click.stop.prevent="addressSetInfo(address.id)" class="edit">修改信息</button>
                            <button type="button" @click.stop.prevent="addressSetDefault(address)"
                                    class="setdefault">设为默认地址</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="closeconsignorbox clear" :class="{active:!isFullAddress}">
                  <span @click="changeFullAddress">
                    <em>收起地址</em><em>展开地址</em>
                    <i class="iconfont icon-xiala2"></i>
                  </span>
            </div>
        </div>
        <div class="confirm-order orderValiform" >
            <div class="title">
                <span>全部商品</span>
            </div>
            <div class="cartBar d-flex mt-3">
                <span class="product-name">商品信息</span>
                <span class="price">单价</span>
                <span class="num">数量</span>
                <span class="total">金额</span>
            </div>
            <template v-for="(shop, i) in shopList">

            <div class="order-top-bar d-flex justify-content-between">
                <div class="merchant">
                    商家: <strong   v-text="shop.shopName"></strong>
                    <span v-text="'卖家：' + shop.sellerName"></span>
<!--                    <a class="btn btn-outline-primary btn-sm" href="#">联系TA</a>-->
                    <button >联系TA</button>
                </div>
            </div>
            <table class="table table-bordered mt-3">
                <tbody>
                <tr v-for="(sku, si) in shop.details" :key="sku.id">
                    <td width="730">
                        <div class="d-flex product-name p-3">
                            <img :src="sku.goodsImg.url" alt="">
                            <div class="text-start">{{sku.goodsName}}</div>
                        </div>
                        <div class="my-3 row mb15  ">
                            <label  class="col-sm-2 col-form-label text-end"><span
                                    class="text-danger">*</span>服务需求:</label>
                            <div class="col-sm-10 inputContent">
                                <input type="text" v-model="sku.requirement" class="storeipt w480 required"  data-valid="isNonEmpty||maxLength:500" data-error='服务需求不能为空||最大长度为500个字符'>
                                <span class="vlt form_msg"></span>
                            </div>
                        </div>
                        <div class="mb-3 row mb15  ">
                            <label  class="col-sm-2 col-form-label text-end"><span
                                    class="text-danger">*</span>协议单价:</label>
                            <div class="col-sm-10 inputContent">
                                <input type="text" v-model="sku.protocolPrice" :disabled="sku.price !== undefined && sku.negotiableFlag === '0'"
                                       class="storeipt w210 required" data-valid="custom:protocolPriceValid" :data-shopIndex="i"
                                       :data-skuIndex="si">
                                <span class="vlt form_msg"></span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        <small v-show="sku.choosePriceTag=='0'||sku.choosePriceTag=='1'">￥</small>
                        <span class="price text-secondary fs-5 mt-3 d-block" v-if="sku.choosePriceTag!='3'">{{sku.negotiableFlag | formatPrice(sku.price, sku.minPrice, sku.maxPrice)}}</span>
                        <span class="price text-secondary fs-5 mt-3 d-block" v-else-if="sku.choosePriceTag=='3'">查看价格详情</span>
                    </td>
                    <td width="152" class="align-middle">
                        <div class="num d-flex justify-content-center mt-3">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary btn-sm" type="button" id="min"
                                        disabled="disabled" :disabled="sku.number === 1" :class="{low: sku.number === 1}"
                                        @click="subtractNumber(i, si)"> -
                                </button>
                                <input type="number" id="text_box" class="form-control form-control-sm" placeholder=""
                                       aria-label="" value="1"  onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" v-model="sku.number"
                                       value="1">
                                <button class="btn btn-outline-secondary btn-sm" type="button" id="add"  :disabled="sku.number === sku.stock"
                                        :class="{low: sku.number === sku.stock}" @click="addNumber(i, si)"> +</button>
                            </div>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        <span class="price text-danger fs-5 mt-3 d-block">￥{{sku.subtotal|format
                            ingPrice}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="payment d-flex px-3">
                <div class="row my-3 w-75 me-4">
                    <label  class="col-auto col-form-label"><span
                            class="text-danger"></span>给卖家留言:</label>
                    <div class="col inputContent" >
                        <input type="text" v-model="shop.comment" class="form-control rounded-0"  data-valid="maxLength:500"
                               data-error='最大长度为500个字符' >
                        <span class="vlt form_msg"></span>
                    </div>
                </div>
                <div class="row w-25 my-3">
                    <label  class="col-auto col-form-label"><span
                            class="text-danger">*</span>支付方式:</label>
                    <div class="col">
                        <select class="form-select rounded-0" v-model="shop.payMode" disabled>
                            <option :value="opt.value" v-for="opt in payOptions" :key="opt.id">{{opt.display}}</option>
                        </select>
                    </div>
                </div>
            </div>
            </template>


            <div class="submit-order d-flex justify-content-end py-4 my-4">
                <div class="total me-5"><span class="align-middle">总金额(含运费)</span> <span class="price"  v-text="'￥' + shopTotal"></span></div>
                <button :disabled="isSubmitDisabled" type="button" @click="addOrder" class="btn btn-primary rounded-0">提交订单</button>
            </div>
        </div>

    </div>
    <footer id="shop-footer">
        <div class="container">
            <div class="links d-flex justify-content-center">
                <a href="#">联系方式</a>
                <a href="#">网站地图</a>
                <a href="#">隐私政策</a>
                <a href="#">法律声明</a>
                <a href="#">知识产权</a>
            </div>
            <div class="copyright text-center text-muted">
                Copyright 2017 - 2019 易智网 版权所有 渝ICP备09050127号-36
            </div>
            <div class="footer-bottom d-flex justify-content-center">
                <img src="images/footer-img1.png" alt="">
                <img class="" src="images/footer-img2.png" alt="">
            </div>
        </div>
    </footer>

</div>


<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script src="js/order.js"></script>
</body>
</html>
