<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智网-技术成果摆渡人- 技术转移</title>
    <meta name='keywords'
          content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
    <meta name='description'
          content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/icon/iconfont.css" rel="stylesheet">
    <link href="/style/css/market.css" rel="stylesheet" type="text/css">
    <link href="/style/css/technologyNewStyle.css" rel="stylesheet" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div id="index_box" class="box grayBgbox" v-cloak>
        <ly-toper></ly-toper>
        <tech_market_header name="技术转移"></tech_market_header>
        <a @click="handleSchool" target="_blank">
            <div class="bannerBox" style="background: url(/style/images/technologyMarket/banner1.png)no-repeat center;background-size: cover"></div>
        </a>

        <div style="background:#fff">
            <div class="padding_tb_20 mmdiv">
                <ul class="clear">
                    <li class="classify_list fl index_classify">
                        <div class="list_left fl">
                            <img src="/style/images/technologyMarket/index_classification_bg_0.jpg" />
                            <img class="icon" src="/style/images/technologyMarket/polygon0.png" />
                        </div>
                        <div class="list_right fl">
                            <span>技术成果</span><br />
                            <span class="number_style">{{zMResourceStatistics.project}}</span>
                            <span class="text_style">项</span>
                        </div>
                    </li>
                    <li class="classify_list fl index_classify">
                        <div class="list_left fl">
                            <img src="/style/images/technologyMarket/index_classification_bg_1.jpg" />
                            <img class="icon" src="/style/images/technologyMarket/polygon1.png" />
                        </div>
                        <div class="list_right fl">
                            <span>技术需求</span><br />
                            <span class="number_style">{{zMResourceStatistics.demand}}</span>
                            <span class="text_style">项</span>
                        </div>
                    </li>

                    <li class="classify_list fl index_classify">
                        <div class="list_left fl">
                            <img src="/style/images/technologyMarket/index_classification_bg_2.jpg" />
                            <img class="icon" src="/style/images/technologyMarket/polygon2.png" />
                        </div>
                        <div class="list_right fl">
                            <span>技术经纪人</span><br />
                            <span class="number_style">{{zMResourceStatistics.broker}}</span>
                            <span class="text_style">位</span>
                        </div>
                    </li>
                    <li class="classify_list fl index_classify">
                        <div class="list_left fl">
                            <img src="/style/images/technologyMarket/index_classification_bg_2.jpg" />
                            <img class="icon" src="/style/images/technologyMarket/polygon2.png" />
                        </div>
                        <div class="list_right fl">
                            <span>技术转移机构</span><br />
                            <span class="number_style">{{zMResourceStatistics.organ}}</span>
                            <span class="text_style">家</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mmdiv">
            <div class="project_title_more clear">
                <h3 class="fl">技术成果</h3>
                <div class="fr view_more color_13c9ef">
                    <a href="/technologyMarket/tech_achievements.html" style="color: #13c9ef !important;">
                        查看更多
                        <span class="view_more_icon">
                            <span class="arrow"></span>
                        </span>
                    </a>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff padding_20 fl" v-for="(item,index) in techAchiList" :key="index">
                    <el-image v-if="item.projectImgPath" class="border_ca achi_img_box"
                        :src="getImgPath(item.projectImgPath)" fit="cover">
                        <div slot="placeholder" class="image-slot">
                            加载中<span class="dot">...</span>
                        </div>
                    </el-image>
                    <img v-else class="border_ca achi_img_box"
                        src="../style/images/technologyMarket/tech_achievements.jpg">
                    <div class="pro_bottom_text">
                        <h4 class="ell_nowrap">{{item.title}}</h4>
                        <div class="ell_nowrap" :title="item.projectIndustryType.map(item=>item.name).join(',')">
                            所属领域：{{item.projectIndustryType.map(item=>item.name).join(',')}}</div>
                        <div class="ell_nowrap" :title="item.tags.map(item=>item.name).join(',')">
                            标签：{{item.tags.map(item=>item.name).join(',')}}</div>
                        <div class="margin_top_4">
                            <span
                                class="width_max_70 ell_nowrap display_inl_blo">转让方式：{{item.cooperationMode_display}}</span>
                            <span class="fr">价格：<i class="color_orange" v-if="item.budget==0">面议</i>
                                <i class="color_orange" v-else>{{Pricre(item.budget)}}</i></span></span>
                        </div>
                    </div>
                    <a class="margin_top_15 pro_list_button bg_orange color_fff"
                        :href="'tech_achievements_details.html?id='+item.id">邀约交流</a>
                </li>

            </ul>
        </div>

        <div class="padding_top_20 mmdiv">
            <a href="https://www.yunyao365.com/book_preview/SKmvox28i4ml" target="_blank">
                <img class="width_100" src="../style/images/index/fenghui.png">
            </a>
        </div>

        <div class="mmdiv">
            <div class="project_title_more clear">
                <h3 class="fl">技术需求</h3>
                <div class="fr view_more color_13c9ef">
                    <a href="/technologyMarket/tech_requirements.html" style="color: #13c9ef !important;">
                        查看更多
                        <span class="view_more_icon">
                            <span class="arrow"></span>
                        </span>
                    </a>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff padding_20 fl" v-for="(item,index) in techRequireList" :key="index">
                    <div class="pro_bottom_text">
                        <h4 class="ell_nowrap">{{item.title}}</h4>
                        <div>
                            <div class="ell_nowrap" :title="item.demandIndustryType.map(item=>item.name).join(',')">
                                技术领域：{{item.demandIndustryType.map(item=>item.name).join(',')}}</div>
                            <div class="ell_nowrap" :title="item.tags.map(item=>item.name).join(',')">
                                标签：{{item.tags.map(item=>item.name).join(',')}}</div>

                            <span class="fr">预算：
                                <i class="color_orange" v-if="item.budget==0">面议</i>
                                <i class="color_orange" v-else>{{Pricre(item.budget)}}</i></span>
                        </div>
                        <div class="ell_nowrap">需求类型：{{item.demandType_display}}</div>
                        <div class="ell_nowrap margin_top_4">合作方式：{{item.cooperationMode_display}}</div>
                    </div>
                    <a class="margin_top_15 pro_list_button bg_orange color_fff"
                        :href="'tech_requirements_details.html?id='+item.id">投递成果</a>
                </li>

            </ul>
        </div>


        <div class="padding_top_20 mmdiv">
            <a>
                <img class="width_100" src="/style/images/technologyMarket/ad_banner1.jpg" height="100" />
            </a>
        </div>

        <div class="mmdiv margin_bot_20">
            <div class="project_title_more clear">
                <h3 class="fl">技术经纪人</h3>
                <div class="fr view_more color_13c9ef">
                    <a href="/technologyMarket/technical_manager.html" style="color: #13c9ef !important;">
                        查看更多
                        <span class="view_more_icon">
                            <span class="arrow"></span>
                        </span>
                    </a>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff padding_20 fl " v-for="(item,index) in techManagerList" :key="index">
                    <div class="position_relative">
                        <span v-if="item.honorLevel_display"
                            style="position: absolute;top: 0; left: 0;z-index: 10;background: rgb(0,52,195);padding: 5px;color: #fff;">{{item.honorLevel_display}}</span>
                        <el-image v-if="item.logoPath" class="border_ca broker_img_box" :src="getImgPath(item.logoPath)"
                            fit="cover">
                            <div slot="placeholder" class="image-slot">
                                加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        <div v-if="!item.logoPath">
                            <img v-if="parseInt(item.brokerIdCard.substr(16, 1)) % 2 !== 1"  class="border_ca achi_img_box" src="/style/images/technologyMarket/woman.png">
                            <img v-else  class="border_ca achi_img_box" src="/style/images/technologyMarket/man.png">
                        </div>
<!--                        <el-image v-else class="border_ca achi_img_box"-->
<!--                            src="../style/images/technologyMarket/technical_manager.jpg">-->
<!--                        </el-image>-->
                    </div>
                    <div class="pro_bottom_text">
                        <div>
                            <h4 class="width_max_70 ell_nowrap display_inl_blo ">{{item.brokerName}}
                            </h4>
                            <span class="fr search_box color_13c9ef margin_15">{{item.agentType_display}}</span>
                        </div>
                        <div class="ell_nowrap" :title="item.industryType.map(item=>item.name).join(',')">
                            擅长领域：{{item.industryType.map(item=>item.name).join(',')}}</div>
                        <div class="ell_nowrap" :title="item.tags.map(item=>item.name).join(',')">
                            标签：{{item.tags.map(item=>item.name).join(',')}}</div>
                        <div class="ell_nowrap margin_top_4">附加技能：{{item.zMProjectAdditional}}</div>
                    </div>
                    <a class="fl margin_top_15 pro_list_button_half bg_13c9ef color_fff"
                        :href="'technical_manager_details.html?id='+item.id">邀约交流</a>
                    <a class="fr margin_top_15 pro_list_button_half bg_orange color_fff"
                        :href="'technical_manager_details.html?id='+item.id">投递成果</a>
                </li>
            </ul>
        </div>

        <web-footer></web-footer>
    </div>
    <script type="text/javascript" src="/common/js/libs/require.js"></script>
    <script type="text/javascript" src="/style/js/technologyMarket/index.js"></script>
</body>

</html>
