<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>技术市场</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/icon/iconfont.css" rel="stylesheet">
    <link href="/style/css/market.css" rel="stylesheet" type="text/css">
    <link href="/style/css/technologyNewStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="index_box" class="box grayBgbox" v-cloak>
        <ly-toper></ly-toper>
        <tech_market_header name="技术转移"></tech_market_header

        <div class="bg_star_box">
            <img class="width_100" src="/style/images/technologyMarket/bg_star.jpg" />
            <div class="placeBox">
                <div class="mdiv">
                    <div class="breadcrumb">当前位置：
                        <span class="breadcrumb__item"><a href="/" style="color:#fff">首页</a></span>
                        <i class="bread_card_line"></i>
                        <span class="breadcrumb__item">技术机构</span>
                    </div>
                </div>
            </div>
            <div class="page_title" style="width: 300px;">
                技术机构
            </div>
        </div>

        <div class="mdiv">
            <div class="searchListBox">
                <div class="search-row">
                    <div class="search_list_head clear">
                        <div class="fl">
                            <ul class="clear">
                                <li class="fl searchkey">排序：</li>
                                <li v-for="(item,index) in sortList" @click.stop="orderClick(item.id,index)"
                                    class="fl searchkey" :class="{active: index === sortActive}">{{item.name}}
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="fr">
                            <a class="operation_button bg_13c9ef color_fff">找经纪人</a>
                            <a class="operation_button bg_orange color_fff">发布成果</a>
                        </div> -->
                    </div>
                </div>
                <template v-for="(item,key,i) in conditionsList">
                    <div class="search-row" :key="key">
                        <label class="search-label">{{item.name}}</label>
                        <div class="searchkeys">
                            <span class="searchkey" v-for="(dict,index) in item.dictCodes"
                                @click="clickCondition(key,item.id, dict.dictValue, index)"
                                :class="item.index===index?'active':''" :key="index">{{dict.display}}</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="mmdiv margin_top_20 margin_bot_20">
            <!-- <div class="project_title_more clear">
                <h3 class="fl">技术成果</h3>
                <div class="fr view_more color_13c9ef">
                    查看更多
                    <span class="view_more_icon">
                        <span class="arrow"></span>
                    </span>
                </div>
            </div> -->
            <ul class="clear">

                <li class="classify_list bg_fff  fl" v-for="(item,index) in dataList" :key="index">
                    <div class="pro_top_img_box border_bot_f2f2f2 position_relative">
                        <span v-if="item.honorLevel_display"
                            style="position: absolute;top: 0; left: 0;z-index: 10;background: rgb(0,52,195);padding: 5px;color: #fff;">{{item.honorLevel_display}}</span>
                        <el-image v-if="item.logoPath" class="border_ca organ_img_box" :src="getImgPath(item.logoPath)">
                            <div slot="placeholder" class="image-slot">
                                加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        <img v-else class="border_ca achi_img_box"
                            src="../style/images/technologyMarket/service_organization.jpg">
                    </div>
                    <div class="pro_bottom_text padding_right_20 padding_bottom_20 padding_left_20">
                        <h4 class="width_max_70 ell_nowrap display_inl_blo ">{{item.organName}}</h4>
                        <!-- <div class="ell_nowrap">简介：{{item.organDes}}</div> -->
                        <div class="ell_nowrap">能力等级：
                            <span v-if="item.capabilityLevel_display">{{item.capabilityLevel_display}}</span>
                            <span v-else>-</span>
                        </div>
                        <div class="ell_nowrap">信用等级：
                            <span v-if="item.creditLevel_display">{{item.creditLevel_display}}</span>
                            <span v-else>-</span>
                        </div>
                        <a class="margin_top_15 pro_list_button bg_orange color_fff"
                            :href="'service_organization_details.html?id='+item.id">查看详情</a>
                    </div>
                </li>

            </ul>

        </div>
        <div class="pages">
            <el-pagination background layout="prev, pager, next" :pager-count="7"
                :current-page.sync="queryModel.pageParam.current" :page-size.sync="queryModel.pageParam.size"
                :total="total">
            </el-pagination>
        </div>

        <web-footer></web-footer>
    </div>
    <script type="text/javascript" src="/common/js/libs/require.js"></script>
    <script type="text/javascript" src="/style/js/technologyMarket/service_organization.js"></script>
</body>

</html>
