
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>易智网-技术成果摆渡人-关于我们</title>
  <meta name='keywords'
        content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
  <meta name='description'
        content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
  <link href="./style/css/common.css" rel="stylesheet" type="text/css">
  <link href="./style/css/icon/iconfont.css" rel="stylesheet">
  <link href="./style/css/about.css" rel="stylesheet" type="text/css">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<style>
  .mmdiv{
    width: 1440px;
    margin: 0 auto;
  }
  .content{
    max-height:none!important;
    /*overflow:initial;*/
  }
</style>
<body>
<div class="box grayBgbox" id='index_box' v-cloak>
  <ly-toper ref="lytoper" top-class="white"></ly-toper>
<!--  <index-head :nav-index="sIndex"></index-head>-->
  <div class="header-box " style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);background: #fff;height: 65px;position: relative;">
    <index-head :nav-index="sIndex"></index-head>
    <!--        <div class="fr" ><ly-toper ref="lytoper" top-class="white"></ly-toper></div>-->
  </div>
  <img src="/style/images/about/about.jpg" width="100%">
  <div class="content">
    <div class="mdiv">
      <div class="left">
        <ul class="left-lists">
          <li v-for="(nav,index) in navList" :key="index" @click="handleNav(index)" :class="nowIndex===index?'active':''">{{ nav.label }}</li>
        </ul>
      </div>
      <div class="right">
        <div class="title" v-if="nowIndex===0">平台简介</div>
        <div class="title"  v-if="nowIndex===1">服务内容</div>
        <div class="title"  v-if="nowIndex===2">联系我们</div>
        <!-- 简介 -->
        <div class="brief" v-show="nowIndex === 0">
          <div class="synopsis">
            易智网是在重庆市科学技术局和重庆两江新区管理委员会的大力支持下，依托重庆市科学技术研究院，围绕技术成果转移转化全链条建立的资源深度聚集、服务智能精准、线上线下融合的科技创新服务大平台。平台充分发挥技术成果摆渡人、创新创业孵化人、科技创新服务人作用，打造创新资源汇聚地、科技成果集散地、创新主体培育地，推动科技成果产业化、创新产业市场化。 </div>
          <div class="avatar">
            <img src="./style/images/about/base1.jpg" alt="">
          </div>
          <div class="avatar-text">易智网总部服务基地</div>
          <div class="avatar">
            <img src="./style/images/about/qdxs.jpg" alt="" style="height: 700px">
          </div>
          <div class="avatar-text">易智网科技创新服务平台启动仪式</div>
          <div class="avatar">
            <img src="./style/images/about/fwdt.jpg" alt="">
          </div>
          <div class="avatar-text">易智网综合服务大厅</div>

        </div>
        <!-- 服务内容 -->
        <div v-show="nowIndex === 1">
          <div class="enterprise " style="margin-top: 40px">
            <div class="enterprise-title blue">技术成果转移转化服务</div>
            <ul class="enterprise-lists blue">
              <li>
                <div class="name">技术成果落地服务</div>
                              <div class="text">技术开发、技术转让、技术许可、技术作价入股、技术咨询服务</div>
              </li>
              <li>
                <div class="name">区域技术现状调查服务</div>
                              <div class="text">收集、整理区域内重点企业技术现状、技术需求</div>
              </li>
              <li>
                <div class="name">技术需求对接服务</div>
                              <div class="text">定制技术解决方案</div>
              </li>
              <li>
                <div class="name">技术经纪（理）人培养服务</div>
                              <div class="text">举办专题研修班，培养技术经纪（理）人队伍</div>
              </li>
              <li>
                <div class="name">科技成果评价服务</div>
                              <div class="text">评价结果可用于奖项申报、市场推广</div>
              </li>
            </ul>
          </div>
          <div class="enterprise" style="margin-top: 40px">
            <div class="enterprise-title">技术转移示范基地建设服务</div>
            <ul class="enterprise-lists">
              <li>
                <div class="name">科技成果转移转化体系服务</div>
                <div class="text">
                  <span>源头供给——转移转化——产业育成</span>
                </div>
              </li>
              <li>
                <div class="name">创新孵化服务体系</div>
                <div class="text">
                  <span>众创空间——孵化器——加速器——产业园</span>
                </div>
              </li>
              <li>
                <div class="name">高新技术企业培育服务体系</div>
                <div class="text">
                  <span>潜在科企库</span>
                  <span>科企培育库</span>
                  <span>科企库</span>
                  <span>高企培育库</span>
                  <span>高企库</span>
                </div>
              </li>
              <li>
                <div class="name">企业创新能力提升服务体系</div>
                <div class="text">
                  <span>创新人才——创新工具——创新支撑</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="enterprise">
            <div class="enterprise-title green">技术转移活动服务</div>
            <ul class="enterprise-lists green">
              <li>
                <div class="name">易智成果汇</div>
                <div class="text">
                  <span>线上线下成果、需求发布</span>
                  <span>成果对接</span>
                  <span>项目路演</span>
                  <span>专利拍卖</span>
                </div>
              </li>
              <li>
                <div class="name">易智人才汇</div>
                <div class="text">
                  <span>政策直播间</span>
                  <span>创新课堂</span>
                  <span>管理学院</span>
                </div>
              </li>
              <li>
                <div class="name">易智大咖荟</div>
                <div class="text">
                  <span>产业论坛、行业沙龙</span>
                  <span>专家学者、行业大咖</span>
                </div>
              </li>
              <li>
                <div class="name">易智排行榜</div>
                <div class="text">
                  <span>科技成果大赛</span>
                  <span>"十佳"技术转移机构、技术经纪人和成果转化案例</span>
                </div>
              </li>
            </ul>

          </div>
          <div class="enterprise">
            <div class="enterprise-title blue">科技创新政策服务</div>
            <ul class="enterprise-lists blue">
              <li>
                <div class="name">政策查询服务</div>
                <div class="text">
                  <span>获取政策信息、跟进科技政策</span>
                </div>
              </li>
              <li>
                <div class="name">政策速递服务</div>
                <div class="text">
                  <span>及时、定向地向用户推送政策内容</span>
                </div>
              </li>
              <li>
                <div class="name">政策智配服务</div>
                <div class="text">
                  <span>智能、快速、精准匹配政策</span>
                </div>
              </li>
              <li>
                <div class="name">政策答疑服务</div>
                <div class="text">
                  <span>系统自动匹配问题与答案</span>
                </div>
              </li>
              <li>
                <div class="name">申报辅导服务</div>
                <div class="text">
                  <span>申报流程演示</span>
                </div>
              </li>
              <li>
                <div class="name">政策培训服务</div>
                <div class="text">
                  <span>线上线下形式</span>
                  <span>提供热点政策权威解读和申报培训</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="enterprise">
            <div class="enterprise-title">技术转移综合服务</div>
            <ul class="enterprise-lists">
              <li>
                <div class="name">知识产权</div>
                <div class="text">
                  <span>知识产权查询、申请、运营、维权</span>
                </div>
              </li>
              <li>
                <div class="name">技术研发</div>
                <div class="text">
                  <span>工业设计、产品技术、产品研发</span>
                </div>
              </li>
              <li>
                <div class="name">科技金融</div>
                <div class="text">
                  <span>筛选优质金融机构，提供债权融资、股权融资</span>
                </div>
              </li>
              <li>
                <div class="name">法律服务</div>
                <div class="text">
                  <span>法律顾问、合同文书代写修改、纠纷处理、诉讼服务</span>
                </div>
              </li>
              <li>
                <div class="name">检验检测</div>
                <div class="text">
                  <span>提供精细化、全方位的检测检验服务</span>
                </div>
              </li>
              <li>
                <div class="name">科技咨询</div>
                <div class="text">
                  <span>技术创新培训，定制化解决方案，可行性研究报告</span>
                </div>
              </li>
              <li>
                <div class="name">设备共享</div>
                <div class="text">
                  <span>优选专业化仪器设备，精心提供共享服务，实现”物“和”人“的共享</span>
                </div>
              </li>
              <li>
                <div class="name">政策资讯</div>
                <div class="text">
                  <span>包括政策兑现、资质认证、资格认定、资金支持</span>
                </div>
              </li>
              <li>
                <div class="name">工商财税</div>
                <div class="text">
                  <span>税收筹划、工商注册、财会审计</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- 联系我们 -->
        <div v-show="nowIndex === 2" style="margin-right: 40px">
          <div class="info">
            <div>
              <div class="info-text">
                <span class="iconfont icon-dingwei"></span>
                <span>重庆市渝北区黄山大道中段杨柳路2号重科智谷C栋2楼</span>
              </div>
              <div class="info-text">
                <span class="iconfont icon-zuoji"></span>
                <span class="number">023-61365808</span>
              </div>
              <div class="info-text">
                <span class="iconfont icon-wangzhi-copy"></span>
                <span>https://www.kj01.cn</span>
              </div>
            </div>
            <div class="imagesBox">
              <div class="info-img">
                <img src="/style/images/index/qrcode.jpg" alt="">
              </div>
              <div class="info-img_text">关注微信公众号</div>
            </div>
          </div>
          <!-- 地图 -->
          <div class="map">
            <img src="/style/images/about/map.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="./style/js/about.js"></script>
<script>
  $('.avatar').css({
    height: $('.avatar img').outerHeight()+'px'
  })
</script>
</body>

</html>
