<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link href="./style/css/common.css" rel="stylesheet" type="text/css">
    <link href="./style/css/icon/iconfont.css" rel="stylesheet">
    <link href="./style/css/about.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./style/css/normalize.min.css">
    <link rel='stylesheet' href='./style/css/flatpickr.min.css'>
    <link rel="stylesheet" href="./style/css/style.css">
    <link rel="stylesheet" href="./style/css/answer.css">
</head>
<style>
    .mdiv {
        width: 1200px !important;
        margin: 0 auto
    }

    .title-h2 {
        text-align: center !important;
        display: block;
        margin: 30px 0
    }
</style>
<body>
<div class="box" id='index_box' v-cloak>
    <ly-toper ref="lytoper" top-class="white"></ly-toper>
    <!--  <index-head :nav-index="8"></index-head>-->

    <div class="mdiv">
        <h1 class="title-h2">科研机构科研结果信息征集</h1>
        <el-form :model="formData" :rules="rules" ref="form" id="contant-form" class="form" name="contact-form" style="background: #eff5f4;border-radius: 20px;margin-bottom: 50px">
            <fieldset class="form__group">
                <el-form-item label="成果名称" prop="achievementName" class="el-text">
                    <el-input placeholder="请输入成果名称"
                              v-model="formData.achievementName"
                              clearable></el-input>
                </el-form-item>
            </fieldset>
            <fieldset class="form__group">
                <el-form-item label="所属单位" prop="companyName" class="el-text">
                    <el-input placeholder="请输入单位名称"
                              v-model="formData.companyName"
                              clearable></el-input>
                </el-form-item>

            </fieldset>
            <fieldset class="form__group">
                <el-form-item label="成果负责人" prop="contact" class="el-text">
                    <el-input placeholder="请输入负责人姓名"
                              v-model="formData.contact"
                              clearable></el-input>
                </el-form-item>
            </fieldset>
            <div class="form__group">
                    <el-form-item label="所在区县" prop="districtAndCountry">
                        <template>
                        <el-select v-model="formData.districtAndCountry" placeholder="请选择">
                            <el-option
                                    v-for="item in districtAndCountryList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                        </template>
                    </el-form-item>
                </div>
            <div class="form__group">
                <el-form-item label="应用领域" prop="applicationArea">
                    <template>
                        <el-select v-model="formData.applicationArea" placeholder="请选择">
                            <el-option
                                    v-for="item in applicationAreaLIst"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>

            </div>
            <fieldset class="form__group">
                <el-form-item label="成果简介" prop="comment" class="el-text">
<!--                    <el-input type="textarea"-->
<!--                              :rows="8"-->
<!--                              placeholder="请输入内容"-->
<!--                              v-model="formData.comment"-->
<!--                    >-->
                        <vue-ueditor-wrap v-model="formData.comment" :config="ueditorConfig" class="exptextarea">
                        </vue-ueditor-wrap>
                </el-form-item>
            </fieldset>
            <div class="form__group">
                <el-form-item label="成熟度" prop="maturity">
                    <template>
                        <el-select v-model="formData.maturity" placeholder="请选择">
                            <el-option
                                    v-for="item in maturityList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
            </div>
            <div class="form__group">
                <el-form-item label="专利状态(是否授权)" prop="status">
                    <template>
                        <el-radio-group  v-model="formData.status">
                            <el-radio  label="1">是</el-radio>
                            <el-radio label="2">否</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
            </div>
            <div class="form__group">
                <el-form-item label="先进性" prop="progressiveness">
                    <template>
                        <el-select v-model="formData.progressiveness" placeholder="请选择" >
                            <el-option
                                    v-for="item in progressivenessList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
            </div>
            <fieldset class="form__group">
                <el-form-item label="成果权属" prop="ownership" class="el-text">
                    <el-input
                            placeholder="请输入成果权属"
                            v-model="formData.ownership"
                            clearable >
                    </el-input>
                </el-form-item>
            </fieldset>
            <div class="form__group">
                <el-form-item label="希望合作方式" prop="mode">
                    <template>
                        <el-select v-model="formData.mode" placeholder="请选择" >
                            <el-option
                                    v-for="item in modeList"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
            </div>
            <fieldset class="form__group">
                <el-form-item label="是否有现场路演意向" prop="intention">
                    <el-radio-group v-model="formData.intention">
                        <el-radio  label="1">是</el-radio>
                        <el-radio  label="2">否</el-radio>
                    </el-radio-group>
                </el-form-item>
            </fieldset>
            <fieldset class="form__group">
                <el-form-item label="是否有体验产品" prop="isExperience">
                    <el-radio-group  v-model="formData.isExperience">
                        <el-radio  label="1">是</el-radio>
                        <el-radio label="2">否</el-radio>
                    </el-radio-group>
                </el-form-item>
            </fieldset>
            <fieldset class="form__group">
                <el-form-item label="是否现场展示" prop="isExhibition">
                    <el-radio-group  v-model="formData.isExhibition">
                        <el-radio label="1">是</el-radio>
                        <el-radio label="2">否</el-radio>
                    </el-radio-group>
                </el-form-item>

            </fieldset>
            <!--            <div class="form__group" style="display: none">-->
            <!--                <p class="form__group-header">-->
            <!--                    <label class="form__group-label" for="tel">电话号码</label>-->
            <!--                </p>-->
            <!--                <div class="form__group-content">-->
            <!--                    <div class="form__text-input">-->
            <!--                        <p class="text-input">-->
            <!--                            <input id="tel" class="text-input__body -placeholder-visible" type="tel"-->
            <!--                                   @change="phoneChange" v-model="form.phone">-->
            <!--                            <span class="text-input__validator"></span>-->
            <!--                        </p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="form__group-content" style="margin-left: 180px;margin-top: 30px;max-width: 440px;">-->
            <!--                    <div class="form__text-input" style="max-width: 290px;float: left">-->
            <!--                        <p class="text-input">-->
            <!--                            <input class="text-input__body -placeholder-visible" type="tel" name='validateContent'-->
            <!--                                   v-model="form.validateContent"-->
            <!--                                   maxlength="16" placeholder="请输入验证码">-->
            <!--                            <span class="text-input__validator"></span>-->
            <!--                        </p>-->
            <!--                    </div>-->
            <!--                    <button class="sendcode" :disabled="isDisabled" @click="sendClick($event)"-->
            <!--                            v-text="codeBtnText">发送验证码-->
            <!--                    </button>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="form__submit">
                <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive"></p>
<!--                <button class="button" @click="submit()" id="save">提交</button>-->
                <el-button type="primary" @click="submit('fromData')" :loading="false" style="width: 160px">提交</el-button>
            </div>
        </el-form>
    </div>
    <web-footer></web-footer>
</div>

<script src="/common/js/libs/vue-ueditor-wrap.min.js"></script>
<script src="/common/js/libs/require.js"></script>
<script src="./style/js/achieve.js"></script>
<!--<script src="/common/js/libs/vue.js"></script>-->
<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.js"></script>
</body>

</html>
