<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>易智网-技术成果摆渡人-活动列表</title>
  <meta name='keywords'
        content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
  <meta name='description'
        content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="/common/js/libs/owl.carousel.2.2.1/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
  <link href="/common/js/libs/owl.carousel.2.2.1/assets/owl.theme.default.css" rel="stylesheet" type="text/css">
  <link href="/style/css/common.css" rel="stylesheet" type="text/css">
  <link href="/style/css/button.css" rel="stylesheet" type="text/css">
  <link href="/style/css/alist.css" rel="stylesheet" type="text/css">
  <link href="/style/css/icon/iconfont.css" rel="stylesheet">
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<style>
  .countBox__number .number-grow-warp .number-grow {
    color: #ff5e06!important;
    font-size: 22px;
    line-height: 22px}
  .number-grow-warp{
    margin-right: 0!important;
  }
  .countBox img{
    width: 48px;
    margin-right: 10px;
  }
  .ashow{display: none}
  .activity-info-state1{
    display: block;
    height: 26px;
    color: #fff;
    margin-right: 9px;
    padding: 0 10px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    background-color: #597dfa;
    border-radius: 0;
    white-space: nowrap;
  }
  .activity-info-state1[type="03"] {
    background-color: #597dfa;
  }
  /* 回放 */
  .activity-info-state1[type="0305"] {
    background-color: #28c917;
  }
  /* 结束 */
  .activity-info-state1[type="0304"] {
    background-color: #eff1fe;
    color: #9496a5;
  }
  .mmdiv{
    width: 1440px;
    margin: auto;
  }
  .topNumber {
    width: 980px;
    margin: auto;
    background-color: #fef3ea;
    padding: 10px 0px;
    border-radius: 10px;
    height: auto;
  }
  .countBox::after{
    display: none!important;
  }
  .page-item.current-item .link, .page-item:hover .link{
    border-color: #ff5e06!important;
    background-color: #ff5e06!important;
  }
  .searchListBox,.searchResult,.list{
    width: 1050px;
  }
  .activity-info-state[type="0304"]{
    background-color:#9496a5;
    color: #FFFFff;
  }
</style>
<body>
<div class="box grayBgbox" v-cloak id='index_box'>
  <ly-toper top-class="white"></ly-toper>
<!--  <sub-head name="活动中心" :bottom-border="true" :searchtitle="searchtitle" :breadcrumb="breadcrumb" @search="bindSearchValue" :Aindex="Aindex"></sub-head>-->
  <div class="header-box " style="background: #fff;height: 65px;position: relative">
    <index-head :nav-index="4"></index-head>
    <!--        <div class="fr" ><ly-toper ref="lytoper" top-class="white"></ly-toper></div>-->
  </div>
  <div class="bgw" style="background: url(/style/images/aindex/bg.png)no-repeat;background-size: cover;padding: 30px 0px">
    <p style="color: #FFFFff;text-align:center;margin-top: 0">互联网+科技创新活动</p>
    <div class="topNumber">
      <template v-for="(numberCount, ni) in numberCounts">
        <div class="countBox" :key="ni">
          <img :src="numberCount.url">
          <!--            <div class="countBox_icon">-->
          <!--              <i class="iconfont" :class="numberCount.icon"></i>-->
          <!--            </div>-->
          <div>
            <div class="countBox__number">
              <number-grow :value="numberCount.count" color="#343334" :time="1" ></number-grow>
              <span class="number-grow" style="color:#ff5e06;font-size: 16px">{{numberCount.unit}}</span>
            </div>
            <div style="color:#ff5e06">{{numberCount.label}}</div>


          </div>
        </div>
      </template>
    </div>
  </div>
<!--  <div class="mdiv searchListBox" style="background-color:inherit;padding-top: 0">-->
<!--    <template v-for="(numberCount, ni) in numberCounts">-->
<!--      <div class="icon-box fl" :key="ni">-->
<!--          <div class="fl">-->
<!--            <img :src="numberCount.url">-->
<!--          </div>-->
<!--          <div>-->
<!--            <div style="margin-bottom: 15px;font-size: 16px">{{numberCount.label}}</div>-->
<!--            <div class="fl">-->
<!--              <number-grow :color="'#343334'" :value="numberCount.count" :time="1" class="fl" ></number-grow>-->
<!--&lt;!&ndash;              <number-grow :color="'#343334'" :value="268" :time="1" class="fl" v-if="numberCount.key=='activeNum'" ></number-grow>&ndash;&gt;-->
<!--&lt;!&ndash;              <number-grow :color="'#343334'" :value="16528" :time="1" class="fl" v-if="numberCount.key=='serverNum'" ></number-grow>&ndash;&gt;-->
<!--&lt;!&ndash;              <number-grow :color="'#343334'" :value="8952" :time="1" class="fl" v-if="numberCount.key=='orgServerNum'" ></number-grow>&ndash;&gt;-->
<!--              <span class="number-grow fl" style="color:rgb(52, 51, 52)">{{numberCount.unit}}</span>-->
<!--            </div>-->

<!--          </div>-->
<!--      </div>-->
<!--    </template>-->
<!--  </div>-->
  <div class="mmdiv" style="overflow: hidden">
    <div class="fl">
  <div class="searchListBox">
    <div class="search-row">
      <asearch :searchtitle="searchtitle"  @search="bindSearchValue"></asearch>
    </div>

    <template v-if="options.searchOpts.length">

      <template v-for="(optItem, index) in options.searchOpts" >
        <div :class="{disabled:optItem.disabled}" class="search-row" v-if="!optItem.isTop" :key="index">
          <label class="search-label">{{optItem.label}}</label>
          <div class="searchkeys">
            <template v-if="optItem.operationType === 'select'">
              <template v-for="(ducItem, sindex) in optItem.dictIInfos">
                  <span class="searchkey" @click.stop="handleSetSearchForm" :class="{ active: ducItem.selected }"
                        :data-di="sindex" :data-pi="index" :data-value="ducItem.value" :data-name="ducItem.display"
                        :key="sindex">{{ducItem.display}}</span>
              </template>
              <span v-if="optItem.code === 'time_type'" class="datetime"><input type="text" placeholder="开始时间"
                                                                                readonly id="stime"><i class="iconfont icon-rili"></i></span>
              <span v-if="optItem.code === 'time_type'" class="timeRange">至</span>
              <span v-if="optItem.code === 'time_type'" class="datetime"><input type="text" placeholder="结束时间"
                                                                                readonly id="etime"><i class="iconfont icon-rili"></i></span>
              <div class="childrenBox"
                   v-if="optItem.selecedIndex !== -1 && optItem.dictIInfos[optItem.selecedIndex].children">
                <template v-for="(childItem, childindex) in optItem.dictIInfos[optItem.selecedIndex].children">
                    <span class="searchkey childkey" @click.stop="handleSetSearchForm"
                          :class="{ active: childItem.selected }" :data-ci="childindex" :data-di="optItem.selecedIndex"
                          :data-pi="index" :data-value="childItem.value" :key="childindex" :data-name="childItem.display">{{childItem.display}}</span>
                </template>
              </div>
            </template>
          </div>
        </div>
      </template>
    </template>
  </div>
  <div class="searchResult">
    <template v-if="options.searchOpts.length" >
      <template v-for="(optItem, index) in options.searchOpts">
        <div class="searchMainkey fl" :key="index" v-if="optItem.isTop" :class="{ ashow:isActive }">
          <template v-for="(topDicItem, tindex) in optItem.dictIInfos">
              <span class="mainKey" @click.stop="handleSetSearchForm" :class="{ active: topDicItem.selected }"
                    :data-di="tindex" :data-pi="index" :data-value="topDicItem.value"
                    :key="tindex">{{topDicItem.display}} <i class="iconfont icon-shengxu"></i></span>

          </template>
        </div>
      </template>
    </template>
    <div class="fr">已为您查询到 <span class="total" v-text="pages.total || 0"></span> 条</div>
    <div class="fr" style="margin-right: 20px">
      <span>已选条件：</span>
      <template v-for="(selectOpt, index) in options.selectOpts">
        <label class="result-item" :key="index"><span class="result-value">{{selectOpt.display}}</span>
          <i v-if="selectOpt.code !== 'sort_type'" @click.stop="handleDelSelectOpt" :data-name="selectOpt.display" :data-index="index"
                class="iconfont icon-delete icon"></i></label>
      </template>
    </div>
  </div>

  <div class="list">
    <div class="listBox">
      <template v-for="(item, di) in dataList" >
        <div class="vaMiddle topic-item" :key="di">
          <a v-if="item.tycoon" :href="item.itemUrl+'&act='+item.tycoon.id" :title="item.title" target="_blank">
            <div class="specialTopic-img item-img" :style="item.styles">
              <img :src="item.itemImg" :alt="item.title">
              <div v-if="item.isTopic" class="topic">品牌</div>
            </div>
            <div class="topic-item-info">
              <h4 class="topic-item-info-title line">{{item.title}}</h4>
              <div class="topic-item-info-line line mt state"><span>
<!--                <i class="iconfont icon-lishijilu"></i>-->
                时间：{{item.activeStartTime}} {{item.weekday}}</span>
                <span class="activity-info-state"v-if="!item.statusByUrl" :type="item.statusCode">{{item.statusDisplay}}</span>
                <span class="activity-info-state1"v-if="item.statusByUrl" :type="item.statusByUrl">{{item.statusDisplay}}</span></div>
              <div class="topic-item-info-line line address" v-if="item.onLineFlag === '0' && item.cityShow">
<!--                <i class="iconfont icon-dingweixian"></i>-->
                地点：{{item.cityShow|formatCity('')}}</div>
              <div class="topic-item-info-line line onLine" v-else><i class="iconfont icon-xianshanghuodong"></i>线上活动
              </div>
              <div class="topic-item-info-line line" v-if="item.sponsor">
<!--                <i class="iconfont icon-neirongtuisong"></i>-->
                主办单位：{{item.sponsor}}</div>
              <div class="topic-item-tag line">
                  <span class="tag">{{item.activeTypeDisplay}}</span>

                <!--<span>
                  <span class="tag">{{item.activityLabels}}</span>
                </span>-->
                <span class="viewTag">
<!--                  <i class="iconfont icon-liulanliang"></i>-->
                  {{item.pageViews}}人浏览</span>
              </div>
            </div>

          </a>
          <a v-else :href="item.itemUrl" :title="item.title" target="_blank">
            <div class="specialTopic-img item-img" :style="item.styles">
              <img :src="item.itemImg" :alt="item.title">
              <div v-if="item.isTopic" class="topic">品牌</div>
            </div>
            <div class="topic-item-info">
              <h4 class="topic-item-info-title line">{{item.title}}</h4>
              <div class="topic-item-info-line line mt state"><span>
<!--                <i class="iconfont icon-lishijilu"></i>-->
                时间：{{item.activeStartTime}} {{item.weekday}}</span>
                <span class="activity-info-state"v-if="!item.statusByUrl" :type="item.statusCode">{{item.statusDisplay}}</span>
                <span class="activity-info-state1"v-if="item.statusByUrl" :type="item.statusByUrl">{{item.statusDisplay}}</span></div>
              <div class="topic-item-info-line line address" v-if="item.onLineFlag === '0' && item.cityShow">
<!--                <i class="iconfont icon-dingweixian"></i>-->
                地点：{{item.cityShow|formatCity('')}}</div>
              <div class="topic-item-info-line line onLine" v-else><i class="iconfont icon-xianshanghuodong"></i>线上活动
              </div>
              <div class="topic-item-info-line line" v-if="item.sponsor">
<!--                <i class="iconfont icon-neirongtuisong"></i>-->
                主办单位：{{item.sponsor}}</div>
              <div class="topic-item-tag line">

                  <span class="tag">{{item.activeTypeDisplay}}</span>
                <!--<span>
                  <span class="tag">{{item.activityLabels}}</span>
                </span>-->
                <span class="viewTag">
<!--                  <i class="iconfont icon-liulanliang"></i>-->
                  {{item.pageViews}}人浏览</span>
              </div>
            </div>

          </a>
        </div>
      </template>

    </div>
    <template v-if="pages">
      <pages :pages="pages" @changepage="bindPageChange"></pages>
    </template>
  </div>
  </div>
    <div class="fr" style="width: 365px;margin-top: 20px">
      <div class="calendarBox">
        <div class="calendartop">
          <div class="vaMiddle prev" @click.stop="handlePrevMonth"><i class="iconfont icon-fanhui"></i></div>
          <div class="vaMiddle viewDisplay">活动日历&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{calendar.month + 1}}月</div>
          <div class="vaMiddle next" @click.stop="handleNextMonth"><i class="iconfont icon-gengduokuozhe"></i></div>
        </div>
        <div class="calendarweek">
          <span class="vaMiddle week">日</span>
          <span class="vaMiddle week">一</span>
          <span class="vaMiddle week">二</span>
          <span class="vaMiddle week">三</span>
          <span class="vaMiddle week">四</span>
          <span class="vaMiddle week">五</span>
          <span class="vaMiddle week">六</span>
        </div>
        <div class="calendarDays" v-if="calendar.days.length">
          <template v-for="(day, di) in calendar.days">
                <span class="vaMiddle day" @click.stop="handleSetDay" :data-click="day.click" :data-index="di"
                      :data-value="day.label"
                      :class="{none: !day.click, dot: day.activeNum, default: day.isSelect, active: selectIndex === di }">
                  {{day.label||''}}
                </span>
          </template>
        </div>
        <template v-if="dayResultList.length">
          <aside-today box-title="当天活动" :data-list="dayResultList"></aside-today>
        </template>
      </div>
      <div class="topAct">
        <h4 class="fl">活动名场面</h4>
        <template v-for="(item, di) in dataList" v-if="item.tycoon">
          <a :href="item.itemUrl+'&act='+item.tycoon.id" :title="item.title" target="_blank">
        <div class="box-List">
        <img :src="item.posterUrl"/>
        <span class="line">{{item.title}}</span>
        <p>时间：{{item.activeStartTime}} {{item.weekday}}&emsp;&emsp;地点：{{item.cityShow|formatCity('')}}</p>
      </div>
      </a>
        </template>

      </div>

    </div>
  </div>
  <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="./style/js/alist.js"></script>
</body>

</html>
