<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>需求诊断-选择服务-成渝城市群综合科技服务平台</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="/style/css/demand.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="box" id="index_box" v-cloak>
    <ly-toper></ly-toper>
    <ly-header pagename="需求诊断" :http="httpCom"></ly-header>
    <div class="crumbs">
      <div class="mdiv"><strong>你现在的位置：</strong>
        <a href="/">首页</a>
        <a href="/demand.html">需求诊断</a>
        <span>选择服务</span>
      </div>
    </div>
    <div class="mainBox">
      <div class="mdiv">
        <div class="mian-tips">免费需求诊断，为您推荐最适合的服务方案</div>
        <ul class="setps">
          <li>Step1：提交需求</li>
          <li>Step2：智能匹配</li>
          <li class="active">Step3：选择服务</li>
        </ul>
        <div class="mianForm">
          <div class="data-info">
            <div class="data-info-scene">您已选服务：<span class="data-info-price"
                v-text="demandForm.servicesTags.length || 0"></span>项 </div>
            <div class="selecedBox">
              <ul>
                <li v-for="tag in demandForm.servicesTags" v-text="tag.name"></li>
              </ul>
            </div>
            <div class="updateBtn" @click="handleUpdate"><i class="iconfont icon-xiugai"></i>修改</div>
          </div>
          <div class="chartBox">
            <div class="chartBox-desc">
              全网共为您匹配到 <span class="data-info-price" v-text="baseInfo.totalShop || 0"></span> 家服务商提供相应服务，组合 <span
                class="data-info-price">3</span> 套方案，当前方案为您优选<span class="data-info-price"
                v-text="sumService"></span>个服务：</div>
            <div class="chart" ref="js_chart"></div>
            <ul class="chartNames">
              <li><span>评分最高</span></li>
              <li><span>价格最低</span></li>
              <li><span>累计销量最多</span></li>
            </ul>
          </div>
          <div class="contentBox clear">
            <div class="fl mian-content">
              <div class="condition">
                <ul>
                  <li v-for="(filter, i) in filterInfo" :class="{active: filter.selected}" @click="handleFilter(i)">
                    <span v-text="filter.label"></span></li>
                </ul>
								<div class="result-chooseall-box" @click="selectPro(null)">
									<span class="result-chooseall" :class="{active:selectAll}"></span>
									全选
								</div>
              </div>
              <div class="result" v-if="!isCustomInfo">
                <div class="result-item" v-for="(item,ins) in searchInfo" :key="ins">
                  <div class="result-title">
										{{$options.filters.formatingname(item.serviceName)}}
										<span class="result-chooseall" :class="{active:item.selected}" @click="selectPro(item)"></span>
									</div>
                  <div class="result-body">
                    <div class="merchandise">
                      <div class="merchandise-title">
                        <div class="shop-img"><img :src="item.shopLogo"></div>
                        <div class="shop-info">
                          <label class="shop-name" v-text="item.shopName">重科院评估中心</label>
                          <span
                            v-text="'已服务：' + item.shopSalesVolume + '次 | 好评率： ' + item.shopGoodEvaluate + '%'">已服务：1761次
                            | 好评率： 100%</span>
                        </div>
                      </div>
                      <div class="merchandise-body clear">
                        <div class="merchandise-img"><img :src="item.goodsImgUrl">
                        </div>
                        <div class="merchandise-info">
                          <h3 class="clear"><strong v-text="item.goodsName">产品名称产品名称产品名称产品名称产品名称产品名称</strong> <span
                              class="title-desc fr"
                              v-text="'成交量：' + item.goodsSalesVolume +' 丨 评分: ' + item.totalEvaluateResult">成交量：267 丨
                              评分:
                              5.00</span></h3>
                          <div class="merchandise-info-desc clear">
                            <div class="merchandise-info-desc-info" v-html="item.specValue">
                              描述文字描述文字描述文字描述文字描述文字描述文字描述文字描字描述文字描字描述文字述文字述文字述文字述文字述文字述文字述文字述文字文字
                            </div>
                            <div class="merchandise-info-desc-price fr">
                              <div class="merchandise-auxiliary">
																
																<span v-if="item.choosePriceTag=='0'">￥{{item.minPrice}}元</span>
																<span v-if="item.choosePriceTag=='1'">￥{{item.minPrice}}{{item.minPrice&&item.maxPrice?'-':''}}{{item.maxPrice}}元</span>
																<span v-if="item.choosePriceTag=='2'">面议</span>
																<span v-if="item.choosePriceTag=='3'">{{item.priceWord}}</span>
																<!-- ￥{{item.negotiableFlag | formatPrice(item.price, item.minPrice, item.maxPrice)}}元 -->
															</div>
                              <a target="_blank" :href="item.goodsDetailUrl">查看详情&gt;</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" v-else>
                <div class="collapse-item" v-for="(CustomInfo, i) in collapseCustomInfo"
                  :class="{none: !CustomInfo.children.length}">
                  <div class="collapse-item__title">
                    <span v-text="CustomInfo.name">在线建店</span>
                    <div class="addBtn" @click="handleAddgoods(i)">
                      <i class="iconfont icon-tianjiajiahaowubiankuang"></i>
                    </div>
                  </div>
                  <div class="collapse-item__body">
                    <ul class="items-list">
                      <li class="item" v-for="(goods, gi) in CustomInfo.children">
                        <div class="merchandise">
                          <div class="merchandise-img"><img :src="goods.goodsImgUrl" alt="62*62">
                          </div>
                          <div class="merchandise-info">
                            <h3 v-text="goods.goodsName"></h3>
                            <small v-text="goods.shopName"></small>
                            <div class="merchandise-info-desc">
                              <label class="merchandise-info-desc-title">服务描述：</label>
                              <div class="merchandise-info-desc-info" v-text="goods.specValue"></div>
                            </div>
                          </div>
                          <div class="merchandise-price">￥{{goods.negotiableFlag | formatPrice(goods.price, goods.minPrice, goods.maxPrice)}}元</div>
                          <div class="delBtn" @click="handleDelgoods(i ,gi)">
                            <i class="iconfont icon-remove-1-copy"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="countBox">
                共 <span v-text="sumService">5</span> 项服务，服务费总计: <span v-text="'￥' + sumPrice + '元'">￥3000元</span>
                起
              </div>
              <div class="mainFormBtnBox">
                <button class="submitBtn lineBtn" type="button" :disabled="isDisabled"
                  @click="handlePlanInsert">收藏方案</button>
                <button class="submitBtn" type="button" :disabled="isDisabled" @click="handleBuyNow">购买服务</button>
              </div>
            </div>
            <div class="fr mian-right">
              <div class="card">
                <div class="card-body">
                  <div class="desc">推荐不满意？直接发布需求</div>
                  <div class="inputbox">
                    <input type="text" placeholder="我想找：成果转化服务">
                  </div>
                  <div class="buttomBox">
                    <button type="button" @click="handledemand">快速发布需求</button>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body purple">
                  <div class="desc">我需要技术经纪人托管需求</div>
                  <div class="inputbox">
                    <input type="text" placeholder="请输入您的企业名称">
                  </div>
                  <div class="buttomBox">
                    <button type="button" @click="handleTips">免费推荐</button>
                  </div>
                  <p class="infos">
                    技术经纪人服务：<br>
                    <small>企业全生命周期服务规划与咨询</small> <br>
                    <small>企业创新产品渠道顾问</small> <br>
                    <small>本地企业可提供上门服务</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ly-minifooter></ly-minifooter>
  </div>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script type="text/javascript" src="/style/js/demandStep2.js"></script>
</body>

</html>
