<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智网-技术成果摆渡人-科技创新综合服务平台</title>

    <meta name='keywords'
          content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
    <meta name='description'
          content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>  <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/common/js/libs/owl.carousel.2.2.1/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/common/js/libs/owl.carousel.2.2.1/assets/owl.theme.default.css" rel="stylesheet" type="text/css">
    <link href="./style/css/common.css" rel="stylesheet" type="text/css">
    <link href="./style/css/button.css" rel="stylesheet" type="text/css">
    <link href="./style/css/index.css" rel="stylesheet" type="text/css">
    <link href="./style/css/icon/iconfont.css" rel="stylesheet">
    <link href="../common/css/iconfont/iconfont.css" rel="stylesheet">
    <link href="./style/js/libs/swiper-5.4.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/js/libs/swiper-5.4.1/css/animate.min.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<style>
    .toper-bg i{
        z-index: 999;
        position: absolute;
        color: #FFFFff;
        font-size: 18px;
        right: 30px;
        top:10px
    }
    .toper-bg a img{
        width: 100%;
    }
    .toper-bg.nodiv{display: none;}

    .studybox{
        position: fixed;
        z-index: 99;
        right: 0;
        width: 220px;
        top:660px
    }
    .studybox img{
        width: 100%;
    }
    .tanchuang.nodiv {
       display:none;
    }
    .tanchuang{
        position: fixed;
        z-index: 999;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        -webkit-animation: fadelogIn .3s;
        animation: fadelogIn .3s;
    }
    .ibox{
        position: fixed;
        z-index: 999;
        left: 50%;
        width: 600px;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .ibox i{
        width: 100%;
        font-size: 48px;
        color: #FFFFff;
        text-align: center;
    }
    @keyframes fadelogIn {
        0% {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%,0);

        }
        100% {
            -webkit-transform: none;
            transform: none;
        }
    }
    @-webkit-keyframes fadelogIn {
        0% {
            -webkit-transform: translate3d(0, -100%,0);
        }
        100% {
            -webkit-transform: none;
        }
    }
</style>
<body>
<div class="box" id='index_box' v-cloak>
    <div class="toper-bg" v-bind:class="{ nodiv: boxActive}">
       <i class="el-icon-circle-close" @click="qiehuan"></i>
       <a href="mall/article.html" target="_blank"><img src="/style/images/index/top.png" width="100%" height="60"/></a>
    </div>
    <ly-toper ref="lytoper" top-class="white"></ly-toper>
    <div class="header-box " style="background: #fff;height: 65px;position: relative">

       <index-head></index-head>
<!--        <div class="fr" ><ly-toper ref="lytoper" top-class="white"></ly-toper></div>-->
    </div>
<!--    易智商城入驻弹窗-->
     <div class="tanchuang dialogSlipToUp" v-bind:class="{ nodiv: iboxActive}" id="showbg">
         <div class="ibox">
             <i class="el-icon-circle-close" @click="Close"></i>
             <a href="mall/article.html" target="_blank"><img src="/style/images/index/mall2.png"/>
                 <img src="/style/images/index/mall.gif"/></a>
         </div>
     </div>
    <div class="slideshow">
        <div class="bannerBox" style="width:100%;height:388px;background: url(/style/images/index/banner.png)no-repeat center;background-size: cover"></div>
<!--        <div class="bannerBox swiper-container" style="width:100%;height: 420px;" id="swiper-containerIndex">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="banner up-down swiper-slide" style="background-image: url(/image/newbanner1.png);">-->
<!--                    <div class="banner-text">-->
<!--                        <div class="top ani" swiper-animate-effect="mySecond" swiper-animate-duration="1.3s"-->
<!--                             swiper-animate-delay="0.3s">-->
<!--                            <div class="left">-->
<!--                                <span class="one">技</span>-->
<!--                                <span class="two">术</span>-->
<!--                            </div>-->
<!--                            <span class="three">成果</span>-->
<!--                        </div>-->
<!--                        <div class="btm ani" swiper-animate-effect="myThree" swiper-animate-duration="1.3s"-->
<!--                             swiper-animate-delay="0.3s">摆渡人-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="avater ani" swiper-animate-effect="myfirst" swiper-animate-duration="1.3s"-->
<!--                         swiper-animate-delay="0.3s">-->
<!--                        <img src="/style/images/index/house1.png" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="banner middle swiper-slide" style="background-image: url(/image/newbanner2.png);">-->
<!--                    <div class="banner-text ani" swiper-animate-effect="myFour" swiper-animate-duration="1.3s"-->
<!--                         swiper-animate-delay="0.3s">技术成果摆渡人-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; <div class="banner right swiper-slide" style="background-image: url(/image/newbanner3.png);">-->
<!--                    <div class="banner-text ani" swiper-animate-effect="myFive" swiper-animate-duration="1.3s"-->
<!--                        swiper-animate-delay="0.3s">技术转化的摆渡人</div>-->
<!--                    <div class="avater ani" swiper-animate-effect="myfirst" swiper-animate-duration="1.3s"-->
<!--                        swiper-animate-delay="0.3s">-->
<!--                        <img src="/style/images/index/house3.png" alt="">-->
<!--                    </div>-->
<!--                </div> &ndash;&gt;-->
<!--                <div class="banner middle swiper-slide" style="background-image: url(/image/newbanner5.png);">-->
<!--                    <div class="newbanner5-top ani" swiper-animate-effect="mySix" swiper-animate-duration="1.3s"-->
<!--                         swiper-animate-delay="0.3s">-->
<!--                        <img src="./style/images/index/left-right.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="banner-text ani newbanner5-cen" swiper-animate-effect="myFive"-->
<!--                         swiper-animate-duration="1.3s" swiper-animate-delay="0.3s"><span>技术成果</span><span-->
<!--                            class="yellow">摆渡人</span></div>-->
<!--                    <div class="newbanner5-down ani" swiper-animate-effect="mySeven" swiper-animate-duration="1.3s"-->
<!--                         swiper-animate-delay="0.3s">-->
<!--                        <img src="./style/images/index/right-left.png" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; <div class="banner right swiper-slide" style="background-image: url(/image/newbanner4.png);">-->
<!--                    <div class="newbanner4" style="background: url(/style/images/index/newbanner4-frame.png)">-->
<!--                        <div class="newbanner4-top ani" swiper-animate-effect="mySix" swiper-animate-duration="1.3s" swiper-animate-delay="0.3s">-->
<!--                            <img src="/style/images/index/newbanner4-up.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="newbanner4-down ani" swiper-animate-effect="mySeven" swiper-animate-duration="1.3s" swiper-animate-delay="0.3s">-->
<!--                            <img src="/style/images/index/newbanner4-down.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
        <div class="boxlink">
            <div class="mdiv slideTxtBox">
                    <div class="bd">
                        <ul>
                            <li><a href="enterpark.html" target="_blank"><h3>入园申请表</h3>云水苑数字经济产业园</a></li>
                            <li><a href="test.html" target="_blank"><h3>问卷调查</h3>两江新区企业科技创新情况</a></li>
                            <li> <a href="mall/article.html" target="_blank"><h3>入驻易智商城</h3>诚邀专业技术服务机构和人才入驻</a></li>
<!--                            <li> <a href="highfrom.html" target="_blank"><h3>高企培育管理系统</h3>培育高新技术企业及省级高新技术企业</a></li>-->
<!--                            <li> <a href="/platform.html?nowIndex=4&id=424948758916173824"><h3>专家入驻易智网</h3>诚邀专家入驻</a></li>-->
                            <li><a href="patentlist.html" target="_blank"><h3 style="line-height: 30px">中科院西部（重庆）科学城<br/>智能制造领域专利池</h3></a></li>
                            <li><a href="technologyMarket/technical_manager.html" target="_blank"><h3>找技术经纪人</h3>全网寻找技术经纪人活动开启</a></li>
                            <li><a @click="handleOne" target="_blank"><h3>技术成果发布</h3>快速发布您的科技成果</a></li>
                            <li><a @click="handleTwo" target="_blank"><h3>技术需求发布</h3>快速发布您的技术需求</a></li>
<!--                            <li><a href="https://www.yunyao365.com/book_preview/SKmvox28i4ml"><h3>重庆科技成果转移转化峰会</h3></a></li>-->
                        </ul>
                    </div>
            </div>
        </div>
        <div class="nav">
            <!--                <div class="mdiv navlist">-->
            <!--                    <a href="/polist.html" target="_blank">-->
            <!--                        <div class="navlist-title">政策智配</div>-->
            <!--                        <div>大数据为您一键匹配惠企政策</div>-->
            <!--                    </a>-->
            <!--                    <a href="/answer/index.html" target="_blank">-->
            <!--                        <div class="navlist-title">政策答人</div>-->
            <!--                        <div>小易为您答疑解惑</div>-->
            <!--                    </a>-->
            <!--                    <a href="/declarationHelper/list.html" target="_blank">-->
            <!--                        <div class="navlist-title">申报助手</div>-->
            <!--                        <div>项目/资质/资金辅助申报</div>-->
            <!--                    </a>-->
            <!--                    <a href="/alist.html?type=218340665862391473" target="_blank">-->
            <!--                        <div class="navlist-title">企业学堂</div>-->
            <!--                        <div>企业科技创新，知识分享交流</div>-->
            <!--                    </a>-->
            <!--                    <a href="/atList.html" target="_blank">-->
            <!--                        <div class="navlist-title">智汇两江云课堂</div>-->
            <!--                        <div>两江新区科技品牌活动专区</div>-->
            <!--                    </a>-->
            <!--                    <a href="/market/technicalBroker.html">-->
            <!--                        <div class="navlist-title">技术经纪人</div>-->
            <!--                        <div>一站式技术经纪人培训、认证服务</div>-->
            <!--                    </a>-->
            <!--                </div>-->
            <div class="mdiv recent-news">
                <div class="desc">最<span>新</span>动态:</div>
                <div class="bd">
                    <ul class="infoList">
                        <li v-for="(item,index) in recentNews" :key="index">
                            <a :href="item.itemUrl">{{index>2?'【活动】':'【政策】'}}{{item.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>

         <div class="plate-title mdiv">
             <a href="/polist.html"> <h2>政策资讯</h2></a>
             <p>政策动态速递，科技热点跟进</p>
         </div>

<!--            <div class="studybox">-->
<!--                <a href="platform.html">征集行业专家入驻易智网</a>-->
<!--                <br>-->
<!--                <a href="platform.html">征集科技服务机构入驻易智商城</a>-->
<!--            </div>-->
<!--            <div class="mdiv">< a href=" " >< img  src="./style/images/index/achieve.png"><a class="achlink">点击查看更多</ a></ a></div>-->
            <div class="studybox">
                <a @click="handleTwo"><img src="/style/images/index/frbox.gif"></a>
<!--                <a class="fr" href="/platform.html?nowIndex=4&id=407233559568375808"><img src="/style/images/index/bg2.png"></a>-->
            </div>
        </div>
    </div>
    <div class="container-top">
        <div class="policyBox">
            <div class="mmdiv">
<!--                <div class="title">-->
<!--                    <div class="title-left">-->
<!--                       <a href="/polist.html" style="color: black">政策资讯</a> <span>政策动态速递，科技热点跟进</span></div>-->
<!--                    <div class="title-right">-->
<!--                        <img src="./style/images/index/policytitle.png" alt="">-->
<!--                        <div class="slideTxtBox">-->
<!--                            <div class="bd">-->
<!--                                <ul>-->
<!--                                    <li v-for="honor in honorList" :key="honor.id" v-text="honor.name"></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="policy">
                    <div class="policy-left">
                        <div class="policy-title">政策直播间
                            <a href="/alist.html?type=218340665870780082">更多></a>
                        </div>
                        <div id="activeHots" class="studioBox owl-carousel owl-theme" style="height: 341px;overflow: hidden;">
                            <a :href="item.itemUrl" class="studio" :key="index" v-for="(item,index) in activeHot">
                                <img :src="item.itemImg" alt="">
                                <div class="studio-info">
                                    <div class="studio-info_left">
                                        <div class="infoImg">
<!--                                            <img src="/style/images/index/play.png" alt="">-->
                                            直播
                                        </div>
                                        <div class="infoBox">
                                            <div class="infoname" v-text="item.title" :title="item.title"></div>
                                            <div class="infodate">活动时间：{{item.activeStartTime|formatTime1}}</div>
                                        </div>
                                    </div>
                                    <div class=""></div>
                                </div>
                            </a>
                        </div>
                        <div class="studio-lists">
                            <a :href="active.itemUrl" :title="active.title" v-for="(active,index) in activeList"
                               :key="index"><span>回放</span>{{active.title}}</a>
                        </div>
                    </div>
                    <div class="policy-center">
                        <div class="policy-title">
                            <!--                                <span :class="{active: tab.active}" v-for="(tab,index) in ptabsNavs" :key="'tab'+index"-->
                            <!--
                                                           @mouseover.stop="handlePTabsNav(index)" @click="handlePTabsNavMore(tab.url)">{{tab.label}}</span>-->
                            政策惠
                            <a class="fr" href="/polist.html">更多></a>
                        </div>
                        <div class="policy-center_lists">
                            <a :title="policy.title" v-for="(policy,index) in policyList"
                               :href="policy.itemUrl" :key="'list'+index">
                                    <span v-if="policy.policyFileTypeDisplay"
                                          style="margin-left: -5px;">【{{policy.policyFileTypeDisplay}}】</span>
                                <span>{{policy.title}}</span>
                            </a>
                        </div>
                        <right-navs></right-navs>
                    </div>
                    <!--  2021.01.12 -->

                </div>
            </div>
        </div>


        <div class="activityBox">
            <div class="plate-title">
                    <a href="/alist.html"><h2>活动中心</h2></a>
                    <p>互联网+科技创新活动</p>
            </div>
            <div class="mmdiv">
                <div class="title">

                    <div class="title-center">
                            <span :class="{active: item.active}"
                                  @click.stop="handleactivityTabs(item,index)"
                                  v-for="(item,index) in activityTabs">{{item.label}}
                                <div class="tablist">
                            <a :class="{active: tab.active}"
                               @click.stop="handleactivityTabs(tab,index)"
                               v-for="tab in item.tabList">
                                {{tab.label}}
                            </a>
                                </div>
                            </span>

                    </div>
<!--                    <div class="issue">-->
<!--                        <a @click.stop="handleUrlBtn" data-url="/common/activity/add.html?code=001.004.001.001">发布活动</a>-->
<!--                    </div>-->
                </div>
            </div>
                <div class="actbg">
                <div class="activity mmdiv">
                    <a :href="item.tagName ? '/atdetail.html?id=' + item.id : '/adetail.html?id=' + item.id"
                       class="activity-list" v-for="(item,index) in activeLists" :key="index">
                        <div class="activity-img">
                            <img :src="item.posterUrl" alt="">
                            <div class="activity-imgitem" v-if="item.liveFlag === 1">直播</div>
                        </div>
                        <div class="activity-info" style="padding: 0">
<!--                            <div class="activity-name" :title="item.title">{{item.title}}</div>-->
                            <div class="activity-type activity-date"><span
                                    class="iconfont icon-lishijilu"></span><span>{{item.activeStartTimeDisplay[9]}}
                                        {{item.weekday}}</span>
                            </div>
                            <div class="activity-type"><span
                                    class="iconfont icon-neirongtuisong"></span><span>{{item.sponsor}}</span></div>
                            <div class="activity-count">
                                <div class="count-type" v-if="item.activeTypeDisplay">
                                    {{item.activeTypeDisplay?item.activeTypeDisplay[0].name:''}}
                                </div>
                                <div class="count-type" v-if="item.tagName">
                                    {{item.tagName}}
                                </div>
                                <div class="count-num"><span class="people">{{item.joinNumTotal}}人浏览</span>
<!--                                    <span class="avatar" v-for="items in item.headers"><img :src="items" alt=""></span>-->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                </div>

        </div>
    </div>
    <div class="technologyBox">
        <div class="plate-title" style="background: #fff">
            <a href="/technologyMarket/index.html"><h2>技术转移</h2></a>
            <p>助力企业创新能力提升与变现</p>
        </div>
        <!--            成果展示-->
<!--                    <div class="mdiv"><a >-->
<!--                        <a href="https://www.yunyao365.com/book_preview/SKyHSGtBqINQ" target="_blank">-->
<!--                            <img  src="./style/images/index/achieve.png">-->
<!--                        </a>-->
<!--                    </a>-->
<!--                    </div>-->
        <div class="mmdiv">
            <el-carousel :interval="5000" arrow="always">
                <el-carousel-item >
                    <!--                                        重庆科技成果转移转化峰会-->
                    <a  href="https://www.yunyao365.com/book_preview/SKmvox28i4ml" target="_blank">
                        <img  src="./style/images/index/fenghui.png">
                    </a>

                </el-carousel-item>
                <el-carousel-item >
                    <!--                                        科技成果展示-->
                    <a  href="https://www.yunyao365.com/book_preview/SKyHSGtBqINQ" target="_blank">
                        <img  src="./style/images/index/achieve.png">
                    </a>

                </el-carousel-item>

                <!--                                <el-carousel-item >-->
                <!--                                    &lt;!&ndash;                                        技术经理人学院&ndash;&gt;-->
                <!--&lt;!&ndash;                                    <a  @click="handleSchool" target="_blank">&ndash;&gt;-->
                <!--&lt;!&ndash;                                        <img  src="./style/images/index/study.png">&ndash;&gt;-->
                <!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
                <!--                                    <a  href="/platform.html">-->
                <!--                                        <img  src="./style/images/index/gonggao.png">-->
                <!--                                    </a>-->
                <!--                                </el-carousel-item>-->
            </el-carousel>
            <!--        &lt;!&ndash;                            两江新区调查问卷&ndash;&gt;-->
            <!--                                    <a style="margin-top: 10px;display: block" @click="handleTest">-->
            <!--                                        <img  src="./style/images/index/test.png">-->
            <!--                                    </a>-->
        </div>

        <div class="mmdiv">
            <div class="technology" style="margin-top: 0">
                <div class="technology-left">
                    <div class="achievement">
                        <div class="technology-title">
                            <div class="policy-title" style="padding-bottom: 0">技术成果汇<a href="/technologyMarket/tech_achievements.html" class="iconfont icon-gengduo"></a></div>
                            <!--                            <div class="technology-lable">-->
                            <!--                                    <span :class={active:item.active} v-for="(item,index) in technologyTabs"-->
                            <!--                                          :key="index"-->
                            <!--                                          @click.stop="handletechnology(item.industryLevel,index)">{{item.label}}</span>-->
                            <!--                            </div>-->
                            <div class="release fr">
                                <a @click="handleOne">发布成果+</a>
                            </div>
                        </div>
                    </div>
                    <div class="technology-lists">
                        <a :href="'/technologyMarket/tech_achievements_details.html?id=' + good.id" v-for="(good,index) in goodsList" :key="index">
                            <div class="technology-avatar" v-if="good.projectImgPath">
                                <img :src="getImgPath(good.projectImgPath)" alt="">
                            </div>
                            <div class="technology-avatar" v-else>
                                <img src="../style/images/technologyMarket/tech_achievements.jpg" alt="">
                            </div>
                            <div class="technology-name" >{{good.title}}</div>
                            <div class="technology-type">

                               <div class="over" style="text-align: left">所属领域：<span v-for="(item,index) in good.projectIndustryType"> {{item.name}}
                                    <span v-if="index < good.projectIndustryType.length - 1">, </span>
                               </span>
                               </div>
<!--                                    <div class="fl pad10" v-for="(item,index) in good.projectIndustryType"> {{item.name}}-->
<!--                                        <span v-if="index < good.projectIndustryType.length - 1">, </span>-->
<!--                                    </div>-->


                                <div class="clear">转让方式：{{good.cooperationMode_display}}</div>
                                <div style="margin-top: 10px"><span style="color: #333;background: #ffd790;padding: 5px;border-radius: 0px 0px 10px 0px">会员价</span>
                                    <span class="price-red" v-if="good.budget==0">面议</span>
                                    <span v-else class="price-red">{{Pricre(good.budget)}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div style="padding-left: 20px">
                        <div class="policy-title" style="float: inherit">技术需求汇<a href="/technologyMarket/tech_requirements.html"
                                                         class="iconfont icon-gengduo"></a>
                            <div class="release fr" style="margin-right: 20px">
                            <a @click="handleTwo">发布需求+</a>
                        </div>

                        </div>
                    </div>
                    <div class="technology-lists market-demand">
                        <a :href="'/technologyMarket/tech_requirements_details.html?id=' + demand.id" v-for="(demand,index) in demandList" style="display: block">
                            <div class="technology-name">{{demand.title}}</div>
                            <div class="technology-type">
                                <div class="over" style="text-align: left">技术领域：
                                <span v-for="(item,index) in demand.demandIndustryType">{{item.name}}
                                        <span v-if="index < demand.demandIndustryType.length - 1">, </span>
                                </span>
                                </div>
                                <br>
                                <div class="clear" style="border:1px solid #ff5e06;padding:0px 5px;color:#ff5e06;background:#fff5f0;margin-right: 5px;margin-bottom:5px; display: inline-block">{{demand.demandType_display}}</div>
                            </div>
                        </a>

                    </div>
                    <!--                    <div class="title-border">-->
                    <!--                        <div class="policy-title">技术经济人<a href="/service/demand_list.html"-->
                    <!--                                                           class="iconfont icon-gengduo"></a></div>-->
                    <!--                    </div>-->
                    <!--                    <div class="technology-lists market-demand">-->
                    <!--                        <a :href="'/common/demanddetail.html?id='+ demand.id" v-for="(demand,index) in demandList">-->
                    <!--                            <div class="technology-name" :title="demand.title">{{demand.title}}</div>-->
                    <!--                            <div>-->
                    <!--                                <div class="technology-adress"><span-->
                    <!--                                        class="iconfont icon-dingweixian"></span>{{demand.provinceDisplay}}{{demand.cityDisplay}}-->
                    <!--                                </div>-->
                    <!--                                <div class="prcie-yellow"><span>￥</span><span-->
                    <!--                                        class="number">{{demand.budget}}</span></div>-->
                    <!--                            </div>-->
                    <!--                        </a>-->
                    <!--                    </div>-->
                    <div class="technology-right">
                        <div class="technology-serve">
<!--                            <div class="technology-serve_list">-->
<!--                                <a @click="handleSchool"  target="_blank">-->
<!--                                    <div class="iconfont icon-xianshanghuodong"></div>-->
<!--                                    <div class="serve-right">-->
<!--                                        <div class="serve-name">技术经理人学院</div>-->
<!--                                        <div class="serve-type">在线考试，成为技术经理人</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                                <a href="http://www.chttc.com" target="_blank">-->
<!--                                    <div class="iconfont icon-xianshanghuodong"></div>-->
<!--                                    <div class="serve-right">-->
<!--                                        <div class="serve-name">国际技术转移服务</div>-->
<!--                                        <div class="serve-type">面向全球，服务世界</div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </div>-->
                            <a @click="handleSchool"  target="_blank"><img src="/style/images/index/studyschool.png" width="100%"/></a>
                            <!--                        <div class="technology-info">-->
                            <!--                            <a @click.stop="handleUrlBtn" v-for="(button, bi) in buttons" :key="bi"-->
                            <!--                               :data-url="button.url"><span class="iconfont"-->
                            <!--                                                            :class="button.icon"></span><span>{{button.label}}</span></a>-->
                            <!--                        </div>-->
                        </div>
<!--                        <div class="supplier">-->
<!--                            <div class="policy-title">技术机构<a href="/technologyMarket/service_organization.html"-->
<!--                                                             class="iconfont icon-gengduo"></a></div>-->
<!--                            <div class="supplier-list">-->
<!--                                <a :href="'/technologyMarket/service_organization_details.html?id=' + shop.id" v-for="(shop,index) in shopList" :key="index">-->
<!--                                    <div class="supplier-avatar" v-if="shop.logoPath"><img :src="getImgPath(shop.logoPath)" alt=""></div>-->
<!--                                    <div class="supplier-avatar" v-else><img src="../style/images/technologyMarket/service_organization.jpg" alt=""></div>-->
<!--                                    <div class="supplier-name" >{{shop.organName}}</div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="supplier">
                            <div class="policy-title">技术经纪人<a href="/technologyMarket/technical_manager.html"
                                                              class="iconfont icon-gengduo"></a></div>
                            <div class="supplier-list">
                                <a  :href="'/technologyMarket/technical_manager_details.html?id=' + Man.id" v-for="(Man,index) in ManagerList" :key="index">
                                    <div class="supplier-avatar" v-if="Man.logoPath"><img :src="getImgPath(Man.logoPath)" alt="" /></div>
                                    <div class="supplier-avatar" v-else><img src="../style/images/technologyMarket/technical_manager.jpg"/></div>
<!--                                    <div class="supplier-name"  style="text-align: center">{{Man.brokerName}}-->
<!--                                        <br>-->
<!--                                        <div style="font-size: 12px">({{Man.agentType_display}})-->
<!--                                        </div>-->
<!--                                    </div>-->

                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="pinpai-fuwu">
        <div class="plate-title" style="background: #fff">
            <a href="/mall/index.html"><h2>易智商城</h2></a>
            <p>一站式科技服务商城，为科技企业保驾护航</p>
        </div>
        <div class="mmdiv">
            <div class="title-text fl">
                <span><p>夏日钜惠, </p>
                    新品首发，低至<b style="color:#ff5e06;font-weight: normal;font-size: 28px " >0</b>元起</span>
                <ul>
                    <li>
                        ○“法治体检”服务免费
                    </li>
                    <li>○&nbsp;&nbsp;&nbsp;知识产权服务礼包 2700元即可享受</li>
                    <li>○“产业方阵”长达1年半免费试用</li>
                </ul>
                <a href="/mall/index.html">进入专区</a>
            </div>
            <div class=" pinpai-bottom server fr ">

                <div class="swiperBox">

                    <div class="hd" style="padding-top: 20px">
                        <a class="next fr"><i class="el-icon-arrow-right"></i></a>
                        <a class="prev fr"><i class="el-icon-arrow-left"></i></a>
                    </div>
                    <div class="bd">
                        <ul>
                            <li class="mallItem fl" v-for="(type,index) in typeList">
                                <div class="top-text">
                                    <!--                                                <img :src="bgImg[index]">-->
                                    <!--                    <img src="/style/images/index/tab-bg1.png">-->
                                    <span>{{type.name}} <a :href="'/mall/sub1.html?type='+type.id"
                                                           class="fr">更多 &gt;</a></span>
                                    <div class="over">
                                        <span v-for="(title,index) in type.children">{{title.name}}
                                            <span v-if="index + 1 < type.children.length">/</span>
                                        </span>
                                    </div>

                                </div>
                                <div class="mallItem-infoBox clear">

                                    <div class="col-card" v-for="goods in type.goodList">
                                        <a :href="'/mall/shop/detail.html?id='+goods.id+'&code='+goods.shopCode">
                                            <div class="card-item">
                                                <!--                                <div class="technology-avatar">-->
                                                <!--                                    <img :src="goods.goodsImg.url" class=""-->
                                                <!--                                                                    alt="...">-->
                                                <!--                                </div>-->

                                                <div class="card-title">{{goods.goodsName}}</div>
                                                <div class="addition">
                                                    <div class="shop-text">
                                                        <!--                                                    <p><i class="iconfont icon-biaoqian"></i>{{goods.typeName}}</p>-->
                                                        <!--                                                    <p><i class="iconfont icon-dingweixian"></i>{{goods.shopName}}</p>-->
                                                        {{goods.shopName}}
                                                    </div>
                                                    <div style="margin-top: 10px;">
                                                        <span class="fl"
                                                              style="color: rgb(51, 51, 51); background: rgb(255, 215, 144); padding: 5px; border-radius: 0px 0px 10px;font-size: 12px">会员价</span>

                                                        <div class="price-red fl" style="font-size: 16px">{{formatPrice(goods.choosePriceTag,goods.price,
                                                            goods.minPrice,
                                                            goods.maxPrice)}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
<!--    <div class="zhuanjia">-->
<!--        <div class="mdiv"> <span>易智专家荟</span></div>-->

<!--    </div>-->
    <div class="jingxuan" style="padding-top: 40px">
        <div class="mdiv jingxuan-bottom">
            <a class="nav-box" href="https://www.qiyekexie.com" target="_blank">
                <div>
                    <div class="titles">科创中国</div>
                    <div class="title-desc">创新资源共享平台</div>
                </div>
            </a>
            <div class="btn-box">
                <div v-for="item in lvmengList" class="btn-item" @click="handleUrlBtn" :data-url="item.url">
                    <div class="icon-box"><span class="iconfont" :class="item.icon"></span></div>
                    <div class="btn-desc">{{item.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="friend-link">
        <div class="mdiv boxtitle" style="padding: 40px">
<!--            <div class="boxtitle-text">友情链接</div>-->
<!--            <div class="boxtitle-subtext">汇聚科技资源，协同创造价值</div>-->
            <div class="plate-title mdiv">
                <h2>友情链接</h2>
                <p>汇聚科技资源，协同创造价值</p>
            </div>
        </div>
        <div class="mdiv info-box">
            <div class="info-item" v-for="item in friendLink"><a :href="item.href" target="_blank"><img
                    :src="item.img" :alt="item.alt_tip"></a></div>
        </div>
    </div>
    <div class="content-bottom-down">
        <div class="mdiv content-box">
            <div class="item-box">
                <div class="img-box"><img src="style/images/index/bottom_1.png" alt=""></div>
                <div class="text-box">
                    <div class="title">国际技术转移中心</div>
                    <div class="title-desc">全球合作网络，推动成果转化</div>
                </div>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="style/images/index/bottom_2.png" alt=""></div>
                <div class="text-box">
                    <div class="title">国际科技合作基地</div>
                    <div class="title-desc">汇聚全球科技资源，促进科技创新</div>
                </div>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="style/images/index/bottom_3.png" alt=""></div>
                <div class="text-box">
                    <div class="title">国家技术转移移示范机构</div>
                    <div class="title-desc">集成创新，构建技术转移全流程服务体系</div>
                </div>
            </div>
            <div class="item-box">
                <div class="img-box"><img src="style/images/index/bottom_4.png" alt=""></div>
                <div class="text-box">
                    <div class="title">国家专利技术展示交易中心</div>
                    <div class="title-desc">依托平台优势，服务专利交易</div>
                </div>
            </div>
        </div>
    </div>
    <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="./style/js/index.js"></script>
</body>
</html>
