
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link href="../common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/common.css" rel="stylesheet" type="text/css">
    <link href="./style/css/icon/iconfont.css" rel="stylesheet">
    <link href="/style/css/platform.css" rel="stylesheet" type="text/css">
</head>
<style>
    .article-files {
        position: relative;
        margin: 0 -30px 0;
        padding: 40px 30px 0;
        border-top: solid 1px #e6e7f1;
    }
    .article-files-title .title-text {
        position: relative;
        border-left: 4px solid #018fff;
        font-size: 14px;
        text-indent: 1em;
        display: inline-block;
        line-height: 1.5em;
    }
    .article-files-body {
        padding: 20px;
    }
    .article-file .svg-icon {
        margin-right: 10px;
        vertical-align: middle;
    }
    .article-file .line {
        color: #018fff;
    }
    .vaMiddle:hover{
        color: #f0ad4e;
    }
</style>
<body>
<div class="box" id='index_box' v-cloak>
    <ly-toper ref="lytoper" top-class="white"></ly-toper>
    <index-head :nav-index="sIndex"></index-head>
    <div class="content">
        <div class="mdiv">
            <div class="right">
                <ul class="tabs">
                    <li class="title" @click="select(1)" :class="nowIndex ==1?'active':'title'">工作动态</li>
                    <li class="title" @click="select(3)" :class="nowIndex ==3?'active':'title'">媒体关注</li>
                    <li class="title" @click="select(4)" :class="nowIndex ==4?'active':'title'">通知公告</li>

                </ul>
                <!--   工作动态       -->

                <div class="platform-box" :class="nowIndex ==1?'see':'none'">
                    <div class="ul-list" v-if="detailActive===0">
                        <div class="ul-li" v-for="item in newsList" @click="goDetail(item.id)" :title="item.title">
                            <div class="li-left">
                                <i></i>
                                <span>{{item.title}}</span>
                            </div>
                            <div class="li-right">{{item.releaseDate|formatTime}}</div>
                        </div>
                        <!--分页-->
                        <div class="pager" v-cloak v-if="pages>1">
                            <a @click='pageClick(1)'>[首页]</a>
                            <a @click='pageClick(queryForm.pageNum - 1)'>[上一页]</a>
                            <a @click='pageClick(item)' v-for='item in pages' v-text='item'
                               :class="{active: item == queryForm.pageNum}" v-if='isShowPage(item)'></a>
                            <a v-if='isMore()'>...</a>
                            <a @click='pageClick(queryForm.pageNum + 1)'>[下一页]</a>
                            <a @click='pageClick(pages)'>[末页]</a>
                            <span>[共<span v-text='pages'></span>页]</span>
                            <span>[共<span v-text='queryForm.total || 0'></span>条]</span>
                        </div>
                        <!--/分页-->
                    </div>
                    <div class="detail-box" v-if="detailActive===1">
                        <div class="detail-title">{{details.title}}</div>
                        <div class="sub-title">
                            <span>发布时间：{{details.releaseDate|formatTime}}</span>
                            <span>来源：{{details.origin}}</span>
                        </div>
                        <div class="detail-content" v-html="details.txt"></div>
                    </div>
                </div>
                <!--   媒体关注       -->
                <div class="platform-box" :class="nowIndex ==3?'see':'none'" @click="getcmsList">
                    <div class="ul-list" v-if="detailActive===0">
                        <div class="ul-li" v-for="item in newsList" @click="goDetail(item.id)" :title="item.title">
                            <div class="li-left">
                                <i></i>
                                <span>{{item.title}}</span>
                            </div>
                            <div class="li-right">{{item.releaseDate|formatTime}}</div>
                        </div>
                        <!--分页-->
                        <div class="pager" v-cloak v-if="pages>1">
                            <a @click='pageClick(1)'>[首页]</a>
                            <a @click='pageClick(queryForm.pageNum - 1)'>[上一页]</a>
                            <a @click='pageClick(item)' v-for='item in pages' v-text='item'
                               :class="{active: item == queryForm.pageNum}" v-if='isShowPage(item)'></a>
                            <a v-if='isMore()'>...</a>
                            <a @click='pageClick(queryForm.pageNum + 1)'>[下一页]</a>
                            <a @click='pageClick(pages)'>[末页]</a>
                            <span>[共<span v-text='pages'></span>页]</span>
                            <span>[共<span v-text='queryForm.total || 0'></span>条]</span>
                        </div>
                        <!--/分页-->
                    </div>
                    <div class="detail-box" v-if="detailActive===1">
                        <div class="detail-title">{{details.title}}</div>
                        <div class="sub-title">
                            <span>发布时间：{{details.releaseDate|formatTime}}</span>
                            <span>来源：{{details.origin}}</span>
                        </div>
                        <div class="detail-content" v-html="details.txt"></div>
                    </div>
                </div>
<!--                公告通知-->
                <div class="platform-box" :class="nowIndex ==4?'see':'none'" @click="getcmsList">
                    <div class="ul-list" v-if="detailActive===0">
                        <div class="ul-li" v-for="item in newsList" @click="goDetail(item.id)" :title="item.title">
                            <div class="li-left">
                                <i></i>
                                <span>{{item.title}}</span>
                            </div>
                            <div class="li-right">{{item.releaseDate|formatTime}}</div>
                        </div>
                        <!--分页-->
                        <div class="pager" v-cloak v-if="pages>1">
                            <a @click='pageClick(1)'>[首页]</a>
                            <a @click='pageClick(queryForm.pageNum - 1)'>[上一页]</a>
                            <a @click='pageClick(item)' v-for='item in pages' v-text='item'
                               :class="{active: item == queryForm.pageNum}" v-if='isShowPage(item)'></a>
                            <a v-if='isMore()'>...</a>
                            <a @click='pageClick(queryForm.pageNum + 1)'>[下一页]</a>
                            <a @click='pageClick(pages)'>[末页]</a>
                            <span>[共<span v-text='pages'></span>页]</span>
                            <span>[共<span v-text='queryForm.total || 0'></span>条]</span>
                        </div>
                        <!--/分页-->
                    </div>
                    <div class="detail-box" v-if="detailActive===1">
                        <div class="detail-title">{{details.title}}</div>
                        <div class="sub-title">
                            <span>发布时间：{{details.releaseDate|formatTime}}</span>
                            <span>来源：{{details.origin}}</span>
                        </div>
                        <div class="detail-content" v-html="details.txt">
                        </div>
                        <template v-if="details.fileId">
                            <div class="article-files">
                                <div class="article-files-title"><span class="title-text">附件</span></div>
                                <div class="article-files-body">
                                    <template >
                                        <div class="article-file">
                                            <img class="vaMiddle " src="/image/file.svg">
<!--                                            <use :xlink:href="'#icon-'+tfile.flieType"></use>--></img>
                                            <a :href="details.fileUrl"><span class="vaMiddle line">{{details.fileName}}</span></a>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="./style/js/platform.js"></script>

</body>
</html>
