<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智网-技术成果摆渡人-政策资讯</title>
    <meta name='keywords'
          content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆成果转化,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
    <meta name='description'
          content='易智网是一站式科技创新综合服务平台，提供技术转移、成果转化、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/common.css" rel="stylesheet" type="text/css">
    <link href="/style/css/button.css" rel="stylesheet" type="text/css">
    <link href="/style/css/polist.css" rel="stylesheet" type="text/css">
    <link href="/style/css/icon/iconfont.css" rel="stylesheet" >
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?04b184cd0a23520a283adae6ebb7c2f9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<style>
    .countBox__number .number-grow-warp .number-grow {
        color: #ff5e06!important;
        font-size: 22px;
        line-height: 22px}
    .number-grow-warp{
        margin-right: 0!important;
    }
    .mainBox{
        min-height: 300px!important;
        background: #FFFFff;

    }
    .countBox img{
        width: 48px;
        margin-right: 10px;
    }

    /*.countBox{*/
    /*  text-align: center;*/
    /*  display: block;*/

    /*}*/
    .topNumber{
        width: 980px;
        margin:auto;
        background-color: #fef3ea;
        padding: 10px 0px;
        border-radius: 10px;
        height: auto;
    }
    .countBox__number{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .mt10{
        margin-top: 10px;
    }
    .mdiv{
        width: 1440px;
    }
    .mmdiv{
        width: 1440px;
        margin: auto;
    }
    .countBox::after{
        display: none!important;
    }
    .page-item.current-item .link, .page-item:hover .link{
        border-color: #ff5e06!important;
        background-color: #ff5e06!important;
    }
</style>
<body>
<div class="box grayBgbox" v-cloak id='index_box'>
    <ly-toper top-class="white" code-url="/style/images/footerCode1.jpg" code-title="易智网-政策惠"></ly-toper>
    <!--    <sub-head name="政策资讯" :breadcrumb="breadcrumb"  @search="bindSearchValue" :nav-index="0"></sub-head>-->
    <div class="header-box " style="background: #fff;height: 65px;position: relative">

        <index-head :nav-index="1"></index-head>
        <!--        <div class="fr" ><ly-toper ref="lytoper" top-class="white"></ly-toper></div>-->
    </div>
    <div class="bgw" style="background: url(/style/images/poindex/bg_head.png)no-repeat;background-size: cover;padding: 30px 0px">
        <p style="color: #FFFFff;text-align:center;margin: 0;font-size: 20px">政策动态速递，科技热点跟进</p>
<!--        <div class="topNumber">-->
<!--            <template v-for="(numberCount, ni) in numberCounts">-->
<!--                <div class="countBox" :key="ni">-->
<!--                    <img :src="numberCount.url">-->
<!--                    &lt;!&ndash;            <div class="countBox_icon">&ndash;&gt;-->
<!--                    &lt;!&ndash;              <i class="iconfont" :class="numberCount.icon"></i>&ndash;&gt;-->
<!--                    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--                    <div>-->
<!--                        <div class="countBox__number">-->
<!--                            <number-grow :value="numberCount.count" color="#343334" :time="1" ></number-grow>-->
<!--                            <span class="number-grow" style="color:#ff5e06;font-size: 16px">个</span>-->
<!--                        </div>-->
<!--                        <div style="color:#ff5e06">{{numberCount.label}}</div>-->


<!--                    </div>-->
<!--                </div>-->
<!--            </template>-->
<!--        </div>-->
    </div>
    <div class="mdiv commonCententBox">
        <div class="mainBox mdiv">
<!--            <div class="searchListBox">-->
<!--                <template v-if="options.searchOpts.length">-->
<!--                    <div class="searchMainkey boxShadow">-->
<!--                        <template v-for="(topDicItem, tindex) in options.searchOpts[0].dictIInfos">-->
<!--                            <span class="mainKey" @click.stop="handleSetSearchForm" :class="{ active: topDicItem.selected }" :data-di="tindex" data-pi="0" :data-value="topDicItem.value" :key="tindex">{{topDicItem.display}}</span>-->
<!--                        </template>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;  2021.01.12 &ndash;&gt;-->
<!--                    &lt;!&ndash;            <div class="search-key">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <input class="input" v-model="searchForm.title" type="text" placeholder="输入关键字查询" @keyup.enter="getSearchList">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <div class="btn" @click="getSearchList">&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <i class="iconfont fangdajing"></i>搜索&ndash;&gt;-->
<!--                    &lt;!&ndash;                </div>     &ndash;&gt;-->
<!--                    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--                    <template v-for="(optItem, index) in options.searchOpts">-->
<!--                        <div class="search-row" v-if="index && optItem.operationType !== 'switchover'" :key="index">-->
<!--                            <label class="search-label">{{optItem.label}}</label>-->
<!--                            <div class="searchkeys" :class="{'cityCode': optItem.operationType === 'city'}">-->
<!--                                <template v-if="optItem.operationType=== 'select'">-->
<!--                                    <template v-for="(ducItem, sindex) in optItem.dictIInfos">-->
<!--                                        <span class="searchkey"  @click.stop="handleSetSearchForm" :class="{ active: ducItem.selected }" :data-di="sindex" :data-pi="index" :data-value="ducItem.value" :key="sindex">{{ducItem.display}}</span>-->
<!--                                    </template>-->
<!--                                </template>-->
<!--                                <template v-if="optItem.operationType=== 'city'">-->
<!--                                    <template v-for="(ducItem, sindex) in optItem.dictIInfos">-->
<!--                                        <span class="searchkey"  @click.stop="handleSetSearchForm" :class="{ active: ducItem.selected }" :data-di="sindex" :data-pi="index" :data-value="ducItem.value" :key="sindex">{{ducItem.display}}</span>-->
<!--                                    </template>-->
<!--                                    <select class="select" @change="bindChnageProvince" v-model="searchForm.province" placeholder="省级">-->
<!--                                        <option :value="opt.value" v-for="opt in options.provinceOptions" :key="opt.id">{{opt.display}}</option>-->
<!--                                    </select>-->
<!--                                    <select class="select" @change="bindChnageCity" v-model="searchForm.city" placeholder="市级">-->
<!--                                        <option :value="opt.value" v-for="opt in options.cityOptions" :key="opt.id">{{opt.display}}</option>-->
<!--                                    </select>-->
<!--                                    <select class="select" @change="bindChnageDistrict" v-model="searchForm.district" placeholder="区级">-->
<!--                                        <option :value="opt.value" v-for="opt in options.districtpayOptions" :key="opt.id">{{opt.display}}</option>-->
<!--                                    </select>-->
<!--                                </template>-->
<!--                                <template v-if="optItem.operationType=== 'time'">-->
<!--                                    <span class="datetime"><input type="text" class="timeInput" placeholder="开始时间" readonly id="stime"><i class="iconfont icon-rili"></i></span><span class="timeRange">至</span><span class="datetime"><input type="text" class="timeInput" placeholder="结束时间" readonly id="etime"><i class="iconfont icon-rili"></i></span>-->
<!--                                </template>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </template>-->
<!--                </template>-->
<!--            </div>-->
<!--            <div class="searchResult clear">-->
<!--                <div class="fl">-->
<!--                    <template v-if="options.searchOpts.length">-->
<!--                        <template v-for="(optItem, index) in options.searchOpts">-->
<!--                            <div class="searchMainkey noP" v-if="index && optItem.operationType === 'switchover'">-->
<!--                                <template v-for="(topDicItem, tindex) in optItem.dictIInfos">-->
<!--                                    <span class="mainKey" @click.stop="handleSetSearchForm" :class="{ active: topDicItem.selected }" :data-di="tindex" :data-pi="index" :data-value="topDicItem.value" :key="tindex">{{topDicItem.display}} <i class="iconfont icon-paixu"></i></span>-->
<!--                                </template>-->
<!--                                &lt;!&ndash;  2021.01.12 &ndash;&gt;-->
<!--                                &lt;!&ndash; <label class="checkbox" for="analyzingFlag">-->
<!--                                  <input id="analyzingFlag" class="vaMiddle" type="checkbox" v-model="searchForm.analyzingFlag" :true-value="1" :false-value="''">-->
<!--                                  <span class="vaMiddle checkbox-text">解读</span>-->
<!--                                </label> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </template>-->
<!--                    </template>-->
<!--                </div>-->
<!--                <div class="fr" style="margin-left: 20px">已为您查询到 <span class="total" v-text="pages.total || 0" ></span> 条</div>-->
<!--                <div class="fr">-->
<!--                    <span>已选条件：</span>-->
<!--                    <template v-for="(selectOpt, index) in options.selectOpts">-->
<!--                        <label class="result-item" :key="index"><span class="result-value">{{selectOpt.display}}</span><i @click.stop="handleDelSelectOpt" :data-index="index" class="iconfont icon-delete icon"></i></label>-->
<!--                    </template>-->
<!--                </div>-->
<!--            </div>-->
            <div class="list mainPolicyList">

                <template v-for="(policy, ni) in policyListLog">
                    <div class="list-item" :key="ni">
                        <a class="link" :title="policy.title" :href="'/podetail.html?id=' +policy.id" target="_blank">
                            <div class="line list-item-title">

                                <!-- <span v-if="policy.dismantleFlag === '1' || policy.tearFlag === '1'" class="jiedu">解读</span> -->
                                <span v-if="policy.policyFileType">【{{policy.policyFileTypeDisplay[0]}}】</span>
                                <span class="list-item-title-text">{{policy.title}}</span>
                            </div>
                            <div v-if="policy.moneyType" class="list-item-apply">
                                <span class="list-item-apply-times" style="margin-left: 0;color: #ff5e06">申报奖励：{{policy.moneyType}}{{policy.money ? policy.money + '万元' : ''}}</span>
                            </div>
                            <div v-if="policy.executionStartDate || policy.executionEndDate" class="list-item-apply">
<!--                            <span class="list-item-apply-days">申报中 截止日期还剩{{policy.surplusDays}}天</span>-->
                            <span class="list-item-apply-days" >申报时间：{{policy.executionStartDate|formatTime1}}{{policy.executionEndDate|formatTime1(1)}}</span>
                        </div>
                            <div class="list-item-apply">
                                <span class="list-item-apply-times" style="margin-left: 0;">归口部门：{{policy.display}}</span>
                            </div>
                        </a>
                    </div>
                </template>
                <template v-if="pages">
                    <pages :pages="pages" @changepage="bindPageChange"></pages>
                </template>
            </div>
        </div>
<!--        <div class="fr" style="width:365px">-->
<!--            <right-navs></right-navs>-->
<!--            &lt;!&ndash;-->
<!--            <div class="bannerBlock-small">-->
<!--              <div><img src="/style/images/poindex/sb.jpg" alt=""></div>-->
<!--              <div class="bannerBlock-info">-->
<!--                <div class="bannerBlock-title">申报助手</div>-->
<!--                <div class="bannerBlock-desc">政策申报服务工具</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="bannerBlock-small policy">-->
<!--              <div><img src="/style/images/poindex/zp.jpg" alt=""></div>-->
<!--              <div class="bannerBlock-info">-->
<!--                <div class="bannerBlock-title">政策智配</div>-->
<!--                <div class="bannerBlock-desc">一键匹配政策红利</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="weixin-box">-->
<!--              <img src="/style/images/footerCode1.jpg" alt="">-->
<!--              <div>政策惠</div>-->
<!--            </div>-->
<!--            <div class="bannerBlock-small" @click="handleAnswer">-->
<!--              <div><img src="/style/images/poindex/wd.jpg" alt=""></div>-->
<!--              <div class="bannerBlock-info">-->
<!--                <div class="bannerBlock-title">百问百答</div>-->
<!--                <div class="bannerBlock-desc">读懂需求智能问答</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="list recommend">-->
<!--              <div class="list-title"><span class="list-title-text">推荐阅读</span><span class="list-title-small">每日最新最热的政策榜单</span></div>-->
<!--              <div class="list-body">-->
<!--              <template v-for="(item, ni) in recommendList">-->
<!--                <div class="list-item" :key="ni">-->
<!--                  <span class="list-item-circle"></span>-->
<!--                  <a class="list-item-text line" :title="item.title" :href="item.itemUrl" target="_blank">{{item.title}}</a>-->
<!--                </div>-->
<!--              </template>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="bannerBlock">-->
<!--              <img src="/image/polist/banner1.png" alt="">-->
<!--            </div>-->
<!--            <div class="bannerBlock">-->
<!--              <img src="/image/polist/banner2.png" alt="">-->
<!--            </div> &ndash;&gt;-->
<!--        </div>-->
    </div>

    <web-footer></web-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="/style/js/policyNoticeLog.js"></script>
</body>

</html>
