<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>帐号管理-成渝城市群综合科技服务平台</title>
  <link href="/common/css/main.css" rel="stylesheet" type="text/css">
  <link href="css/usercenter.css" rel="stylesheet" type="text/css">
  <style>
    button.jg {
      height: 40px !important;
      position: absolute;
      white-space: nowrap;
    }
  </style>
</head>

<body>
<div class="box" id='index_box' v-cloak>
    <ly-toper></ly-toper>
    <header-bar type='account' :http="httpCom"></header-bar>
    <div class="contant">
      <div class="mdiv">
        <div class="leftbox">
          <auth-left :http='http' :jquery='jquery'></auth-left>
        </div>
        <div class="centerbox">
          <ul class="usertabs">
            <li class="active">
              <span>基本信息</span>
            </li>
          </ul>
          <div class="tabbox">
            <div class="userform active valiform">
              <div class="form_title" v-text="formData.identityType !== '01' ? '单位信息' : '个人信息'"></div>
              <table border="0" cellpadding="5" cellspacing="5" class="form_table">
                <tr class="validate form_item">
                  <th>身份类型：</th>
                  <td>
                    <ly-radio ref='navRef' class="radio" @change='identityTypeChange' code='identity_type'
                      :http='httpUser' v-model='formData.identityType'></ly-radio>
                  </td>
                </tr>
                <tr>
                  <th>头像：</th>
                  <td>
                    <div class="head" v-viewer
                      :style="{backgroundImage: formData.attachmentIdUrl?'url('+formData.attachmentIdUrl+')':'url(/common/images/defaultImg/default.gif)'}">
                      <img :src="formData.attachmentIdUrl || '/common/images/defaultImg/default.gif'"
                        class="opacityZero">
                    </div>
                    <img-uploader :option="imgOption"></img-uploader>
                  </td>
                  <td></td>
                </tr>
                <tr class="validate form_item">
                  <th>用户名：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.userName" type="text" class="required"
                        data-valid="isNonEmpty||maxLength:20||custom:userNameValid" data-error='请输入用户名||用户名过长||用户名重复'>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType === '01'">
                  <th>昵称：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.displayName" type="text">
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <!-- 名称 -->
                <tr class="validate form_item" v-if="formData.identityType !== '01'">
                  <th v-text="alias.organizationNames[formData.identityType]"></th>
                  <td>
                    <div class="ipt">
                      <input :disabled="isCertificationed" class="required" v-model="formData.organizationName"
                        type="text" data-valid="isNonEmpty||maxLength:50" data-error='名称不能为空||名称过长'>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <!-- 统一信用吗 -->
                <tr class="validate form_item" v-if="formData.identityType !== '01'">
                  <th>统一社会信用代码</th>
                  <td>
                    <div class="ipt">
                      <input class="required" v-model="formData.code" type="text" data-valid="isNonEmpty"
                        data-error='不能为空'>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType === '01'">
                  <th>真实姓名：</th>
                  <td>
                    <div class="ipt realname">
                      <input :disabled="isCertificationed" v-model="formData.realName" type="text" class="required"
                        data-tip="" maxlength="20">
                    </div>
                    <div class="select showname">
                      <select name="" :disabled="isCertificationed" v-model="formData.visibleFlag">
                        <option value="1">仅自己可见</option>
                        <option value="0">所有可见</option>
                      </select>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType === '01'">
                  <th>企业名称：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.companyName" type="text" maxlength="20" />
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType === '01'">
                  <th>职务：</th>
                  <td>
                    <div class="ipt ">
                      <input v-model="formData.job" type="text" maxlength="20" />
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr v-if="formData.identityType === '01'">
                  <th>出生年月：</th>
                  <td>
                    <div class="ipt date">
                      <input :disabled="isCertificationed" v-model="formData.birthday" type="text" id="birthday">
                    </div>
                  </td>
                </tr>
                <tr v-if="formData.identityType === '01'">
                  <th>性别：</th>
                  <td>
                    <ly-radio :mdisabeld="isCertificationed" class="radio" code='sex' :http='httpUser'
                      v-model='formData.sex'></ly-radio>
                  </td>
                </tr>
                <tr class="validate form_item">
                  <th>所在地区：</th>
                  <td>
                    <ly-address-select class='required' data-valid="custom:addressValid" ref='addressRef'
                      :http='httpUser'></ly-address-select>
                  </td>
                  <td>

                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item">
                  <th>详细地址：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.location" type="text">
                    </div>
                    <button style="height: 40px; vertical-align: middle" class="inline btn primary"
                      @click="isShowMap = true">选择</button>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="validate form_item" v-if="formData.identityType !== '01'">
                  <th v-text="alias.organizationTypeNames[formData.identityType]"></th>
                  <td>
                    <ly-select v-model="formData.organizationType" class='select name'
                      :group='alias.organizationTypeGroups[formData.identityType]' code='organization_type'
                      :http='httpUser'></ly-select>
                  </td>
                </tr>
                <tr class="validate" v-if="formData.identityType === '03'">
                  <th>院校分类：</th>
                  <td>
                    <ly-select v-model="formData.academyType" class='select name' code='academy_type' :http='httpUser'>
                    </ly-select>
                  </td>
                </tr>
                <!-- 规模 -->
                <tr class="validate" v-if="formData.identityType !== '01' && formData.identityType !== '03'">
                  <th v-text="alias.scaleNames[formData.identityType]"></th>
                  <td style="width: 550px;">
                    <ly-radio class="radio" code='scale' v-model='formData.scale'></ly-radio>
                  </td>
                </tr>
                <!-- 行业 -->
                <tr class="validate form_item">
                  <th v-text="alias.industryNames[formData.identityType]"></th>
                  <td>
                    <label class="select" style="line-height: normal;">
                      <ly-select-level ref="industryEl" @input="handleIndustryInput" data-valid="custom:industryValid"
                        class="required level" v-model="formData.industryList"></ly-select-level>
                    </label>
                  </td>
                  <td ref="industryMsg" class="form_msg"></td>
                </tr>
                <!-- 服务 -->
                <tr class="validate form_item">
                  <th v-text="alias.servicesNames[formData.identityType]"></th>
                  <td>
                    <label class="select" style="line-height: normal;">
                      <ly-select-level ref="servicesEl" @input="handleServicesInput" data-valid="custom:servicesValid"
                        type='service' class="required level" v-model="formData.servicesList"></ly-select-level>
                    </label>
                  </td>
                  <td ref="servicesMsg" class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType === '02'">
                  <th>企业资质：</th>
                  <td>
                    <div data-s-4="" class="select name">
                      <ly-mulselect v-model='formData.qualifications' ref='idmulSelect' index='qua'
                        :mul-select-list='qualification'>
                      </ly-mulselect>
                    </div>
                  </td>
                </tr>
                <!-- 归属 -->
                <tr class="form_item" v-if="formData.identityType !== '01'">
                  <th v-text="alias.parentUnitNames[formData.identityType]"></th>
                  <td>
                    <div class="ipt">
                      <input type="text" v-model="formData.parentUnit">
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <!-- 关注的政策 -->
                <tr class="form_item" v-if="formData.identityType !== '01'">
                  <th>关注的政策：</th>
                  <td>
                    <label class="select" style="line-height: normal;">
                      <ly-select-level2 :list="focusList" :value="formData.focusPolicy"></ly-select-level2>
                      <!-- <input type="text" v-model="formData.focusPolicy"> -->
                    </label>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr v-if="formData.identityType === '03' || formData.identityType === '05'">
                  <th>成立时间：</th>
                  <td>
                    <div class="ipt date">
                      <input type="text" readonly id="establishDate" v-model="formData.establishDate">
                    </div>
                  </td>
                </tr>
                <tr class="form_item" v-if="formData.identityType !== '01'">
                  <th>联系人：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.contacts" type="text" data-valid="maxLength:20" data-error='内容过长'>
                    </div>
                    <div v-if="!formData.contactsPhone" style="height: 30px;line-height:30px;font-size:12px;color:red;">
                      提示：没有联系人将影响政策推送消息接收</div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item" v-if="formData.identityType !== '01'">
                  <th>手机号码：</th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.contactsPhone" maxlength="11" type="text" class="required"
                        data-valid="isMobile" data-error='手机号不正确'>
                    </div>
                    <div v-if="!formData.contactsPhone" style="height: 30px;line-height:30px;font-size:12px;color:red;">
                      提示：没有手机号码将影响政策推送消息接收</div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item">
                  <th v-text="formData.identityType === '01' ? '电子邮件：' : '电子邮箱：'"></th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.email" type="text" class="required" data-dom="email_msg" data-tip=""
                        data-valid="isEmail" data-error='邮件格式不正确'>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item">
                  <th v-text="formData.identityType === '04' ? '传真：' : '固定电话：'"></th>
                  <td>
                    <div class="ipt">
                      <input v-model="formData.telephone" type="text">
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="form_item">
                  <th>简介：</th>
                  <td>
                    <div class="textarea">
                      <textarea v-model="formData.comment" class="required" data-valid="maxLength:2000"
                        data-error='内容过长'></textarea>
                    </div>
                  </td>
                  <td class="form_msg"></td>
                </tr>
                <tr class="btns">
                  <td></td>
                  <td><button class="btn primary" :disabled="isSubmitDisabled" @click="submitClick">保存</button>
                    <button class="btn">取消</button>
                  </td>
                </tr>
              </table>
            </div>
            <!--/个人信息-->
          </div>
        </div>
      </div>
    </div>
    <address-map v-if="isShowMap" @cel="isShowMap = false" @success='mapClick'></address-map>
    <!--    <address-map @success='mapClick'></address-map>-->
    <ly-minifooter></ly-minifooter>
  </div>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hiSNGiYjCDay4EMncAjAUjx5oEblgpsx"></script>
  <script src="/common/js/laydate/laydate.js"></script>
  <script type="text/javascript" src="/common/js/libs/require.js"></script>
  <script src="js/userinfo.js"></script>
</body>

</html>