<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>消息中心-成渝城市群综合科技服务平台</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="css/usercenter.css" rel="stylesheet" type="text/css">
    <link href="css/form.css" rel="stylesheet" type="text/css">
    <link href="/common/css/cform-table.css" rel="stylesheet" type="text/css">
    <link href="/style/css/technologyNewStyle.css" rel="stylesheet" type="text/css">

    <style>
        .box {
            min-height: 100%;
            padding-bottom: 100px;
        }
    </style>
</head>

<body>
    <div class="box" id='index_box'>
        <ly-toper></ly-toper>
        <header-bar type='market' :http="httpCom"></header-bar>

        <div class="mdiv clear margin_bot_20 margin_top_20">
            <div class="fl user_market_box_fl bg_fff ">
                <ul>
                    <li><a href="/common/usercenter/user_market_auth_form.html"><i class="el-icon-s-check"></i> 资格认证</a>
                    </li>
                    <li><a href="/common/usercenter/user_market_tech_achievements.html"><i
                                class="el-icon-s-finance"></i>技术成果管理</a></li>
                    <li><a href="/common/usercenter/user_market_tech_require.html"><i class="el-icon-s-help"></i>
                            技术需求管理</a>
                    </li>
                    <li><a href="/common/usercenter/user_market_tech_transfer.html"><i class="el-icon-s-platform"></i>
                            技转业务管理</a>
                    </li>
                    <li><a href="/common/usercenter/user_market_business_management.html" class="active"><i
                                class="el-icon-s-cooperation"></i>
                            我的业务管理</a>
                    </li>
                    <li><a href="/common/usercenter/user_market_business_order.html"><i class="el-icon-s-order"></i>
                            我的订单</a>
                    </li>
                    <li><a href="/technologySchool/index.html" target="_blank"><i class="el-icon-s-custom"></i>
                            经纪人培训管理</a></li>
                    <li><a @click="turnPageClassSign"><i class="el-icon-s-management"></i>
                            班级报名管理</a></li>
                    <li><a href="/common/usercenter/user_market_tech_collection.html"><i class="el-icon-s-claim"></i>
                            收藏</a>
                    </li>
                </ul>
            </div>
            <div class="fl user_market_box_fr bg_fff ">
                <div class=" border_bot_f2f2f2">
                    <ul class="user_center_transfer clear">
                        <li v-for="(tab, i) in tabs" :key="i" @click="selecedTab(i)" class="fl"
                            :class="{active: tab.selected,hide:!infos.profession && i === 3}" v-text="tab.label"></li>
                    </ul>
                </div>
                <div class="margin_20">
                    <div class="pro_details">
                        <div class="details_tab_content margin_top_20">
                            <template v-if="tabs[0].selected">
                                <div class="article">
                                    <el-table :data="techTableInvitatioList" style="width: 100%">
                                        <el-table-column label="接收人">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.receiveUserName }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="接收人联系方式">
                                            <template slot-scope="scope">
                                                {{scope.row.receiveUserPhone}}
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="邀约类型">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.invitationType }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="处理状态">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.requestState == 0">待处理</span>
                                                <span v-else-if="scope.row.requestState == 1">已接收</span>
                                                <span v-else-if="scope.row.requestState == 2">已拒绝</span>
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="邀约时间">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.createTime }}</span>
                                            </template>
                                        </el-table-column>

                                        <!-- <el-table-column label="操作">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.requestState == 0">
                                                    <el-button size="mini" @click="handleAcccept( scope.row)">
                                                        接受
                                                    </el-button>
                                                    <el-button size="mini" type="danger"
                                                        @click="handleRefuseInvitatio( scope.row)">
                                                        拒绝</el-button>
                                                </span> -->
                                        <!-- <el-dropdown @command="handleCommand">
                                                    <span class="el-dropdown-link">
                                                        下拉菜单<i class="el-icon-arrow-down el-icon--right"></i>
                                                    </span>
                                                    <el-dropdown-menu slot="dropdown">
                                                        <el-dropdown-item :command="beforeHandleCommand('a1',1111)">黄金糕
                                                        </el-dropdown-item>
                                                        <el-dropdown-item :command="beforeHandleCommand('b1',1111)">狮子头
                                                        </el-dropdown-item>
                                                        <el-dropdown-item :command="beforeHandleCommand('c1',1111)">螺蛳粉
                                                        </el-dropdown-item>
                                                        <el-dropdown-item :command="beforeHandleCommand('d1',1111)"
                                                            disabled>双皮奶
                                                        </el-dropdown-item>
                                                        <el-dropdown-item :command="beforeHandleCommand('e1',1111)"
                                                            divided>
                                                            蚵仔煎</el-dropdown-item>
                                                    </el-dropdown-menu>
                                                </el-dropdown> -->
                                        <!-- </template>
                                        </el-table-column> -->


                                    </el-table>
                                    <div class="pages margin_top_15">
                                        <el-pagination background layout="prev, pager, next" :pager-count="7"
                                            :page-size="pageSize_1" :total="allTotal_1"
                                            @current-change="handleCurrentChange_1">
                                        </el-pagination>
                                    </div>

                                </div>
                            </template>
                            <template v-if="tabs[1].selected">
                                <div class="article">
                                    <el-table :data="techTableProjectList" style="width: 100%">
                                        <el-table-column label="接收人">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.receiveUserName }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="接收人联系方式">
                                            <template slot-scope="scope">
                                                {{scope.row.receiveUserPhone}}
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="项目名称">
                                            <template slot-scope="scope">
                                                <a class="color_13c9ef"
                                                    :href="'/technologyMarket/tech_achievements_details.html?id=' + scope.row.projectId"
                                                    target="_blank">{{ scope.row.projectName }}</a>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="投递类型">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.sendType }}</span>
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="处理状态">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.requestState == 0">待处理</span>
                                                <span v-else-if="scope.row.requestState == 1">已接收</span>
                                                <span v-else-if="scope.row.requestState == 2">已拒绝</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="投递时间">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.createTime }}</span>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="pages margin_top_15">
                                        <el-pagination background layout="prev, pager, next" :pager-count="7"
                                            :page-size="pageSize" :total="allTotal"
                                            @current-change="handleCurrentChange">
                                        </el-pagination>
                                    </div>
                                </div>
                            </template>
                            <template v-if="tabs[2].selected">
                                <div class="article">
                                    <el-table :data="techTableEntrustList" style="width: 100%">
                                        <el-table-column label="接收人">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.receiveUserName }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="接收人联系方式">
                                            <template slot-scope="scope">
                                                {{scope.row.receiveUserPhone}}
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="项目名称">
                                            <template slot-scope="scope">
                                                <a class="color_13c9ef" v-if="scope.row.requestType=='1'"
                                                    :href="'/technologyMarket/tech_achievements_details.html?id=' + scope.row.projectId"
                                                    target="_blank">{{
                                                    scope.row.projectName }}</a>
                                                <a class="color_13c9ef" v-else
                                                    :href="'/technologyMarket/tech_requirements_details.html?id=' + scope.row.projectId"
                                                    target="_blank">{{
                                                    scope.row.projectName }}</a>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="投递类型">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.sendType }}</span>
                                            </template>
                                        </el-table-column>

                                        <el-table-column label="处理状态">
                                            <template slot-scope="scope">
                                                <span v-if="scope.row.requestState == 0">待处理</span>
                                                <span v-else-if="scope.row.requestState == 1">已接收</span>
                                                <span v-else-if="scope.row.requestState == 2">已拒绝</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="投递时间">
                                            <template slot-scope="scope">
                                                <span>{{ scope.row.createTime }}</span>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="pages margin_top_15">
                                        <el-pagination background layout="prev, pager, next" :pager-count="7"
                                            :page-size="pageSize_2" :total="allTotal_2"
                                            @current-change="handleCurrentChange">
                                        </el-pagination>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <ly-minifooter></ly-minifooter>
    </div>
    <script type="text/javascript" src="/common/js/libs/require.js"></script>
    <script src="js/userMarketBusinessManagement.js"></script>
</body>

</html>