.banner {
  background: url(/style/images/banner.jpg) repeat-x center top;
}
.bannerimg{
	background: repeat-x center top;
	height: 247px;
}
.box{
  background-color:	#f1f1f1;
  padding-bottom: 0;
}
.way{
	font-size: 0;
}
template {
	display: none;
}
.way span{
	display: inline-block;
	color: #444444;
	font-size: 30px;
	font-weight: 700;
	width: 50%;
	padding: 30px 0;
	text-align: center;
	border-bottom: 2px #c5c5c5 solid;
	cursor: pointer;
}
.way span:hover{
	color: #f37a1d;
	border-bottom: 3px #f37a1d solid;
	padding-bottom: 29px;
}
.way span i{
	font-size: 30px;
	font-weight: 400;
	margin-right: 10px;
}
.way .active{
	padding-bottom: 29px;
	color: #f37a1d;
	border-bottom: 3px #f37a1d solid;
}
.sortord{
	margin-top: 17px;
	border: 1px #e5e5e5 solid;
	background-color: #ffffff;
}
.sortord:after{
	content: '';
	clear: both;
	display: block;
}
.sortord li{
	float: left;
	color: #626262;
	padding: 22px 35px;
	border-right: 1px #e5e5e5 solid;
	line-height: 16px;
	cursor: pointer;
}
.sortord li:hover{
	color: #ff7800;
}
.sortord li i{
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-left: 10px;
	transform:rotate(180deg);
	-webkit-transform: rotate(180deg);
}
/* .sortord .active {
	color: #ff7800;
} */
.sortord .active i.up{
	color: #ff7800;
	transform:rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
}
.listbox{
	margin-top: 17px;
}
.listbox-li{
	display: block;
	float: left;
	padding: 10px;
	width: 285px;
	height: 363px;
	border: 1px #e5e5e5 solid;
	background-color: #ffffff;
	margin: 0 0 20px 20px;
}
.listbox-li:first-child{
	margin-left: 0;
}
.listbox-li:nth-child(5){
	margin-left: 0;
}
.listbox-li:hover{
	border-color: #f78224;
	box-shadow: 0px 0px 6px 0px rgba(7, 0, 2, 0.26);
}
/* .listbox-li span{
	display: block;
} */
.listbox-li_img{
	width: 265px;
	height: 48px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	line-height: 48px;
}
.listbox-li_img img{
	vertical-align: middle;
	height: 25px;
}
.listbox-li_cen{
	display: block;
	border-top: 1px #dedede dashed;
	border-bottom: 1px #dedede dashed;
	padding: 22px 6px 15px;
}
.listbox-li_title{
	margin-bottom: 10px;
	color: #040404;
	font-size: 18px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}
.listbox-li_item{
	display: block;
	color: #484848;
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
}
/* .listbox-li_item i{
	margin-right: 9px;
	color: #c3c3c3;
	color: #ffc000;
} */
.listbox-li_item em{
	font-style: normal;
	font-size: 16px;
	font-weight: 700;
	color: #ff6600;
}
.listbox-li a{
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	background-color: #ff7800;
	width: 116px;
	height: 32px;
	line-height: 32px;;
	margin: 15px auto;
	border-radius: 16px;
}
.listbox-li a:hover{
	background-color: #ffc000;
}
.pagenumber{
	color: #8a8a8a;
	font-size: 16px;
	text-align: center;
	margin: 30px 0 50px 0;
}
.count{
	margin-right: 22px;
}
.pagenumber a{
	width: 32px;
	cursor: pointer;
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: inline-block;
	margin-right: 5px;
	background: #ffffff;
	color: #8a8a8a;
	border: 1px solid #d9d9d9;
}
.pagenumber a:hover{
	border-color: #f37a1d;
	color: #f37a1d;
}
.pagenumber .active{
	border-color: #f37a1d;
	color: #f37a1d;
}
.pagenumber input{
	width: 50px;
	height: 32px;
	margin: 0 10px;
	border: 1px solid #d9d9d9;
}
.pagenumber .jump{
	margin-left: 15px;
}
.step-div{
	position: relative;
}
.step-div .step{
	position: absolute;
	right: -120px;
	top: 0px;
	padding: 20px 0;
	width: 100px;
	background-color: #fff;
	border: 1px solid #eee;
}
.step-div .step .step-item {
	text-align: center;
	font-size: 12px;
	color: #333;
}
.step-div .step .step-item img{
	width: 60px;
	vertical-align: middle;
	border-style: none;
}
.step-div .step .step-item{
	text-align: center;
	font-size: 12px;
	color: #333;
}
.step-div .step .step-line {
	margin: 5px 0;
	height: 40px;
	width: 50%;
	border-right: 1px dashed #f60;
}
.place{
	background: no-repeat left 30%;
	padding-left: 30px;
}
.content{
	border: 1px #e5e5e5 solid;
	background-color: #ffffff;
	padding: 27px 36px;
	margin-bottom: 60px;
	margin-top: 30px;
}
.content-header{
	padding-bottom: 20px;
	border-bottom: 1px dashed #ccc;
	display: flex;
	align-items: center;
}
.content-header img{
	width: 260px;
	height: 30px;
}
.content-header span{
	vertical-align: middle;
	color: #1f1f1f;
	font-size: 18px;
	font-weight: 700;
	margin-left: 40px;
}
.content-list{
	padding: 30px 20px;
	border-bottom: 1px dashed #ccc;
}
.content-list_row:first-child{
	margin-bottom: 25px;
}
.content-list_row span{
	display: inline-block;
	width: 33%;
	color: #131313;
	font-size: 18px;
	font-weight: 700;
}
.content-list_row span em{
	font-style: normal;
	font-size: 18px;
	font-weight: 700;
	color: #ff6600;
}
.content-list_row span i{
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	color: #484848;
}
.content-list_row span>.iconfont{
	margin-left: 10px;
}
.row66{
	width: 66% !important;
}
.content-feature_inserted .title{
	padding: 20px;
	color : #131313;
	font-weight: 700;
	font-size: 18px;
}
.content-feature_inserted .detail{
	padding: 0 20px 20px;
	color: #484848;
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
	overflow: auto;
}
.content-btn{
	text-align: center;
	margin: 60px 0 100px;
}
.content-btn button{
	cursor: pointer;
	width: 151px;
	height: 46px;
	line-height: 46px;
	background-color: #fb7600;
	color: #ffffff;
	font-size: 18px;
	border-color: #f37a1d;
	text-shadow: 0 -1px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 0 rgba(0,0,0,.045);
	border-radius: 20px;
}
.content-btn button:hover{
	background-color: #ffc000;
}
/*弹窗*/
.popupbox{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
}
.popup{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 877px;
	z-index: 999;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(7, 0, 2, 0.45);
	transform: translate(-50%,-50%);
	padding: 14px;
}
.popup-header{
	text-align: center;
	padding: 28px;
	position: relative;
}
.popup-header span{
	color: #1e1e1e;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
}
.popup-header i{
	position: absolute;
	font-size: 24px;
	color: #959595;
	right: 0;
	top: 0;
	cursor: pointer;
}
.popup-content{
	padding: 32px;
	border-top: 1px #eeeeee solid;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 30px;
}
.popup-content_type .title{
	color: #343434;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
}
.popup-content_type .item{
	background-color: #eeeeee;
	padding: 21px;
}
.mt30{
	margin-bottom: 30px;
}
.item-row{
	color: #5e5e5e;
	font-size: 16px;
	line-height: 18px;
}
.item-row:first-child{
	margin-bottom: 16px;
	color: #343434!important;
}
.item-row span{
	margin-right: 15px;
}
.item-agree{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: #343434;
	margin-bottom: 24px;
}
.item-agree input{
	width: 14px;
	height: 14px;
	margin-right: 9px;
}
.item-agree a{
	color: #fb7600;
	cursor: pointer;
}
.item-hint{
	color: #797979;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.popup-btn{
	margin-bottom: 30px;
	text-align: center;
}
.popup-btn button{
	color: #ffffff;
	font-size: 18px;
	width: 151px;
	height: 46px;
	background-color: #fb7600;
	border-radius: 30px;
	cursor: pointer;
}
.popup-btn button:hover{
	background-color: #ffc000;
}
.item-agree label {
  position: relative;
  cursor: pointer;
}
.item-agree label input {
	cursor: pointer;
	vertical-align: middle;
}
.item-agree input:checked + .show-box {
	background: #fb7600;
	border: 1px #fb7600 solid;
	vertical-align: middle;
}

.item-agree input:checked + .show-box:before{
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 4px;
	height: 8px;
	border: solid #ffffff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.show-box {
	position: absolute;
	top: 4px;
	left: 0;
	width: 15px;
	height: 15px;
	border-radius: 2px;
	background: #dedede;
	border: 1px #c1c1c1 solid;
}
/*协议*/
.protocolbox{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
}
.protocol{
	width: 484px;
	background-color: #ffffff;
	position: absolute;
	right: 0;
	height: 100%;
	padding: 25px;
	overflow-y:scroll;
}
.protocol .title span{
	color: #202020;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.protocol .title{
	position: relative;
	padding: 9px 0px 20px 22px;
	border-bottom: 1px #eeeeee solid;
}
.protocol .title i{
	position: absolute;
	font-size: 24px;
	color: #959595;
	right: 0;
	top: 0;
	cursor: pointer;
}
.protocol-content{
	padding: 9px 0;
	text-indent: 2em;
	border-bottom: 1px #eeeeee solid;
}
.protocol-content .iagree{
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
	color: #797979;
}
.protocol-content a{
	display: block;
	color: #202020;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
}
.stars {
	display: inline-block;
	width: 140px;
	height: 31px;
	line-height: 31px;
	vertical-align: middle;
	position: relative;
}
.stars::after {
	display: block;
	content: '';
	overflow: hidden;
	clear: both;
  zoom: 1;
}
.stars-yellow, .stars-gray {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
}
.stars-yellow {
	max-width: 140px;
	z-index: 2;
	/* width: 50px; */
	color: #ffc000;
}
.stars-gray {
	width: 100%;
	z-index: 1;
	color: #c3c3c3;
}
.stars-yellow .iconfont, .stars-gray .iconfont {
	width: 28px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
}
.close{
	display: none;
}
.open{
	display: block !important;
}
.opens{
	display: block !important;
}
.attention{
	margin-top: 9px;
	color: #202020;
	font-size: 14px;
	font-weight: 400;
	line-height: 35px;
}
.attention div{
	text-indent:2em;
}
.user .userlink a:last-child{
	cursor: pointer;
}
[data-s-0] .toper .links a:hover, .toper[data-s-0] .links a:hover {
	cursor: pointer;
}

.nav .content {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.header {
  height: 100px;
  background-color: #fff;
}
.header .content {
  padding: 0;
  margin: 0 70px;
  border: 0;
}
