<html lang="zh">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>智能问答系统</title>
 <link href="/common/css/main.css" rel="stylesheet" type="text/css">
 <link href="/style/css/common.css" rel="stylesheet" type="text/css">
 <link href="/style/css/button.css" rel="stylesheet" type="text/css">
 <link href="/style/css/autoanswer.css" rel="stylesheet" type="text/css">
 <link href="/style/css/icon/iconfont.css" rel="stylesheet">
</head>

<body>
 <div class="box autobox" v-cloak id='autoanswer_box'>
  <div class="windowbox">   
    <div class="title">     
      <span class="subname">易智网</span>
      <span class="tips">智能问答</span>
      <!-- <img src="/style/images/logos/bsublogo.png" alt="" srcset=""> -->
    </div>
    <div class="content">
      <div class="common-problem" :style="{height: show ? '306px' : '96px'}">
        <div class="problem-title">
          <div class="problem-title-left">
            <h1>常见问题</h1>
            <span class="line" v-for="(item,index) in problemList.top" :key="index" @click="onProblem(item.questionKey)" :title="item.questionKey">{{item.questionKey}}</span>
          </div>
          <div class="problem-title-right" @click="show = !show">
            <img :style="{transform: show ? 'rotate(0deg)' : 'rotate(180deg)'}" src="/style/images/topjiantou.png" alt="">
          </div>
        </div>
        <ul class="problem-list" v-show="show">
          <li class="line" v-for="(item,index) in problemList.after" :key="index" @click="onProblem(item.questionKey)" :title="item.questionKey">{{item.questionKey}}</li>
        </ul>
      </div>
      <div class="left" >
        <div class="messagebox" ref="messagebox">
          <div class="message" v-for="item in messageList" :class="{message_q: item.from != 'yi', message_a: item.from == 'yi'}"  :key="item.time">
            <div class="time">
              <span>{{item.time | formatShowTime}}</span>
            </div>
            <div class="textwraper">
              <div class="text" v-html="item.content"></div>
              <div class="img">{{item.from == 'yi' ? ' ' : '您'}}</div>
            </div>
          </div>
          <!-- <div class="message message_a">
            <div class="time">2020-10-10 22:00</div>
            <div class="textwraper">
              <div class="text">重庆市2020年度粮食安全行政 首长责任制考核内容</div>
              <div class="img">易智网</div>
            </div>
          </div>           -->
        </div>
        <div class="connectQustion">
          <div class="text" v-for="(item, index) in connectionList" :key="index" v-html="item.title" @click="chooseMsg(item)"></div>
        </div>
        <div class="connectQustion" v-if="msg && connectionList.length == 0">
          <div class="text">暂无内容，换个关键词试试看</div>
        </div>
        <div class="sendbox">
          <div class="sendtext">
            <textarea class="textarea" v-model="msg" maxlength="100" placeholder="请输入您的问题" cols="30" rows="8" @input="sendMsg" ></textarea>
          </div>
          <div class="sendbtn">
            <div class="sizeNum">还可输入 <span>{{100 - msg.length}}</span> 字</div>
            <div class="btn" @click="sendMsg" >发送</div> 
          </div>
        </div>
      </div>
      <!-- <div class="right">
        <div class="title">企业信息</div>
        <div class="qrcode">
          <img src="/style/images/index/qrcode.jpg" alt="">
          <div class="text">扫码关注公司二维码</div>
        </div>
        <div class="address">
          地址：重庆市渝北区黄山大道中段杨柳路2号重科智谷C栋2楼 </br>
          电话：023-61365808 </br>
          网址：<a href="https://www.kj01.cn">https://www.kj01.cn</a>    
        </div>
      </div> -->

    </div>
     <div class="kefu"
          onclick="window.open('http://www.5c1.53kf.com/webCompany.php?arg=10113491&style=1&language=zh-cn&lytype=0&charset=utf-8&kflist=off&zdkf_type=1&referer=http%3A%2F%2Fwww.53kf.com%2Findex.php&keyword=http%3A//www.53kf.com&timeStamp=1604995029140&ucust_id=')">
          <i class="icon-fuwu iconfont"></i>
          <span>人工客服</span>
      </div>

  </div>

 </div>

 <script type="text/javascript" src="/common/js/libs/require.js"></script>
 <script type="text/javascript" src="/style/js/answer/autoanswer.js"></script>
</body>
<style>
    .kefu {
        position: fixed;
        right: 0;
        z-index: 99;
        bottom: 170px;
        margin-right: -90px;
        border-radius: 5px;
        padding: 10px;
        background: #FFFFff;
        color: #007AFF;
        line-height: 30px;
        text-align: center;
        box-shadow: 0px 0px 11px #dddddd;
    }
    .kefu i{
        font-size: 30px
    }
    .kefu span{
        display: block;
    }
    .kefu:hover{
        color: #FF8110
    }
</style>
</html>
