/* 搜索 */
.searchListBox {
  font-size: 14px;
  color: #343334;
  background-color: #fff;
  padding-bottom: 12px;
  padding-top: 12px;
  user-select: none;
  margin-top: 20px!important;
}
.select {
  border: solid 1px #e6e7f1;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}
.datetime {
  border: solid 1px #e6e7f1;
  display: inline-block;
  height: 24px;
  padding: 2px 4px;
  vertical-align: middle;
  position: relative;
}
.datetime .icon-rili {
  position: absolute;
  right: 5px;
  font-size: 12px;
  top:50%;
  transform: translateY(-50%);
  color: #bec0d1;
}
.timeRange {
  display: inline-block;
  vertical-align: middle;
  padding: 0 17px;
}
.sortBox {
  background-color: #fff;
  border-top: 1px solid #e6e7f1;
  margin-bottom: 30px;
}

.searchMainkey {
	/*height: 60px;*/
	/*clear: both;*/
	/*padding: 0 20px;*/
}
.mainKey {
  /*line-height: 60px;*/
  font-size: 16px;
  color: #999999;
  cursor: pointer;
 padding-left: 20px;
  margin-right: 20px;
  position: relative;
  border-left: 1px solid #999999;
}
.mainKey:first-child {
  padding-left: 0;
  border-left: 0;
}
.mainKey.active, .mainKey:hover{
  font-weight: bold;
	color: #ff6400;
}
/*.mainKey.active::after, .mainKey:hover::after {*/
/*  position: absolute;*/
/*  content: '';*/
/*  display: inline-block;*/
/*  width: 30px;*/
/*  height: 6px;*/
/*  background-color: #018fff;*/
/*  border-radius: 3px;*/
/*  left: 50%;*/
/*  bottom: -17px;*/
/*}*/

/* 查询行 */
.icon-box{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-flow: row;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: #FFFFff;
  margin-right: 12px;
  padding: 10px 20px;
  height: 120px;
  width: 32.65%;
}
.icon-box:hover{
  box-shadow:0px 0px 11px rgba(0,0,0,0.2);
}
.icon-box:last-child{margin-right: 0}
.icon-box img{
  width: 64px;
  margin-right: 40px;
}
.search-row {
  padding: 0 20px;
}
.search-row.disabled {
  pointer-events: none;
  filter: grayscale(100%); -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%); -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,#grayscale");
  filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
}
.search-label {
  display: inline-block;
  vertical-align: top;
  color: #999999;
  text-align: right;
  line-height: 48px;
  width: 56px;
}
.searchkeys {
  display: inline-block;
  vertical-align: top;
  padding: 11px 0 0;
  border-bottom: 1px dashed #d4d9e6;
  width: 890px;
  margin-left: 16px;
}
.searchkey {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: solid 1px transparent;
  padding: 0 5px;
  line-height: 24px;
}
.searchkey:first-child {
  margin-left: 0;
}
.search-row:last-child .searchkeys {
  border-bottom: 0;
}
.searchkey.active, .searchkey:hover {
  color: #fff;
  background-color: #ff6400;
  border-color: #ff6400;
}

.childkey {
  color: #9496a5;
}
.childkey.active, .childkey:hover {
  color: #ff8a00;
  background-color: transparent;
}

/* 查询结果 */
.searchResult {
  font-size: 14px;
  color: #999999;
  padding: 8px 20px;
  overflow: hidden;
  /*margin-top: 20px;*/
  /*background-color: #fff;*/
}
.result-item {
  background-color: #ffffff;
  border: solid 1px #e6e7f1;
  color: #343334;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  line-height: 15px;
  padding: 3px 5px;
  margin-left: 4px;
}
.result-value {
  color: #f44239;
}
.result-item .icon {
  line-height: 0px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #ff6400;
}
.searchResult .total {
  font-size: 16px;
  color: #ff6400;
}
/* 日历 */
.calendarBox{
  border-radius: 5px;
}
.calendartop{
  height: 54px!important;
  color: #FFFFff!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(/style/images/aindex/top.png)no-repeat;
}
.calendartop .viewDisplay{
  color: #FFFFff!important;
}
.calendarweek{
  margin: 20px 20px 10px;
  padding: 0!important;
  background: #ebebeb;
  display: flex;
  justify-content: space-around;
}
.calendarweek .week{
  width: auto!important;
}

.calendarDays{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 20px 10px!important;
  border-bottom: 0!important;
}
.calendarDays .day{
  width: 45px!important;
  line-height: 36px!important;
}
.calendarDays .day.active::before, .calendarDays .day:hover::before{
  width: 35px!important;
}
/* 列表 */
.list {
  font-size: 0;
  background:#FFFFff ;
  padding: 20px;
  margin-bottom: 20px;
}
.listBox {
  font-size: 0;
  width: 100%;
}
.topic-item {
  width: 100%;
  /*margin-right: 33px;*/
  /*height: 360px;*/
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  background-color: #fff;
  position: relative;
}
.topic-item:nth-child(4n+0) {
  margin-right: 0;
}
.topic-item:nth-child(n+5) {
  margin-top: 30px;
}

.specialTopic-img {
  width: 275px!important;
	height: 180px;
	background-color: #52bcb6;
}

.topic-item-info {
  height: 180px;
  padding: 14px 20px 0;
  width: 70%;
}
.topic-item-info-title {
	font-size: 20px;
	/*line-height: 24px;*/
	margin: 0;
	padding: 0;
	color: #343334;
  font-weight: normal!important;
}
.topic-item-info-line {
	font-size: 14px;
	line-height: 24px;
	color: #9496a5;
}
.topic-item-info-line.mt {
  margin-top: 8px;
}
.topic-item-info-line.state {
  display: flex;
  justify-content: space-between;
}

.topic-item-info-line.onLine {
	color: #00ccad;
}
.topic-item-tag {
  /*border-top: 1px solid #e6e7f1;*/
  /*padding: 19px 20px 24px;*/
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.topic-item-tag .tag {
	font-size: 14px;
	line-height: 28px;
	color: #ff6400;
	padding:0 10px;
   border: 1px solid #ff6400;
   border-radius: 25px;
}
.topic-item-tag .viewTag {
	font-size: 14px;
	line-height:30px;
	color: #ff6400;
}
.topic-item .iconfont {
  margin-right: 5px;
  font-size: 12px;
}
.topic-item a{
  display: flex;
}
.topic-item:hover .topic-item-info-title{
  /*position: relative;*/
  /*margin-top: -10px;*/
  /*border: solid 1px #ff8a00;*/
  /*box-shadow: 0px 0px 24px 0px rgba(22, 37, 87, 0.3);*/
  /*padding: 1px;*/
    color: #ff6400;
}

.topic-item:hover .specialTopic-img{
  width: 266px;
}
.topAct{
  background: #FFFFff;
  padding: 0px 20px;
  margin-top: 20px;
  text-align: center;
}
.topAct h4{
  color: #ff6400;
  padding-left: 10px;
  border-left: 2px solid #ff6400;
}
.topAct span{
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #3a3a3a;
}
.topAct p{
  font-size: 14px;
  color: #999999;
}
.topAct a{
  display: block;
}
.topAct a:hover span{
  color: #ff6400;
}
.box-List{
  padding-bottom: 10px;
  /*display: inline-block;*/
}
.box-List img{
  height: 165px;
}
.calendarDayResultTop-title{
  color: #ff6400!important;
}
.calendarDayResultTop-title::before{
  background-color:#ff6400!important;
}