 .classify {
  height: 100px;
  background-color: #ffffff;
  font-size: 16px;
  color: #343334;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-top: 20px;
 }

 .classify span {
  display: inline-block;
 }

 .classify-tab {
  cursor: pointer;
  margin: 0 30px;
 }

 .classify-tab.active, .classify-tab:hover {
  padding: 8px 18px;
  margin: 0 12px;
  border-radius: 4px;
  background-color: #ff5e06;
  color: #ffffff;
 }

 .helperList {
  margin-top: 20px;
  padding: 30px 25px;
  background-color: #ffffff;
 }

 .helperList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .helperList-item {
  width: 550px;
  margin-bottom: 30px;
  border: 1px solid #e3eaf1;
 }

 .helperList-item:hover {
  border: 1px solid #ff5e06
 }
 .helperList-item:hover .item-header_title{
  color:#ff5e06;
 }
 .item-header {
  padding:30px;
  /*display: flex;*/
  /*background-color: #6c95ff;*/
 }

 .item-header_img {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  box-shadow: 0px 7px 65px 0px rgba(4, 85, 185, 0.61);
 }

 .item-header_img img {
  max-width: 100%;
 }

 .item-header_title {
  flex: 1;
  font-size: 18px;
  line-height: 30px;
  color: #3a3a3a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 400;
 }

 .item-body {
  height: 43px;
  padding: 0 20px;
  /*border: solid 1px #e3eaf1;*/
  /*border-top: none;*/
  /*display: flex;*/
  align-items: center;
  background: url(../images/poindex/btt.png)no-repeat;
  background-size: cover;
 }

 .item-body_left {
  flex: 1;
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
 }

 .item-body_rigth {
  float: right;
  display: inline-block;
  line-height: 43px;
  color: #FFFFff;
  font-size: 16px;
 }
 .helperDetail {
  margin-top: 20px;
  background-color: #ffffff;
 }

 .helperDetail-header {
  font-size: 30px;
  color: #343334;
  text-align: center;
  border-bottom: 1px solid #e7eef5;
 }

 .helperDetail-header .title {
  padding: 40px 0 30px;
 }

 .helperDetail-body {
  padding: 33px 90px;
 }

 .helperDetail-body_item {
  margin-bottom: 40px;
 }

 .helperDetail-item_title span {
  display: inline-block;
  font-size: 18px;
  color: #343334;
  line-height: 24px;
  text-indent: 17px;
  position: relative;
 }

 .helperDetail-item_title span::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 6px;
  height: 30px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff5e06;
  border-radius: 3px;
 }

 .helperDetail-item_file {
  margin-top: 25px;
 }

 .article-file {
  padding: 13px 30px 13px 23px;
  border: 1px solid #fffbf2;
  background-color: #fffbf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
 }

 .article-file:last-child {
  border-bottom: none;
 }

 .article-file:hover {
  border: 1px solid #ff5e06;
  color: #ff5e06;
 }

 .article-file:hover .vaMiddle {
  color: #ff5e06;
 }

 .savefile {
  font-size: 24px !important;
  padding: 3px 5px;
  color: #018fff
 }

 .savefile:hover {
  cursor: pointer;
  background-color: #ff8110;
  color: #ffffff;
 }

 .vaMiddle {
  color: #343334;
  font-size: 16px;
 }

 .svg-icon {
  width: 25px;
  height: 30px;
  margin-right: 13px;
  vertical-align: middle;
 }