
html, body {
	width: 100%;
}
body {
  background: #f8f8f8;
}
.matchContent {
  top:50%;
  left:50%;
  position: fixed;
  width: 1200px;
	/*background: #fff;*/
  /*padding: 20px 15px;*/
  z-index: 999;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /*min-height: calc(100vh - 600px);*/
}

.matchContent .title {
  color: #fff;
  text-align: center;
}
.matchContent .title p{
  position: relative;
  margin-top: 30px;
}
.matchContent .title p:before{
  position: absolute;
  content: "";
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 1px;
  background-color: #fff;
  left: 300px;

}
.matchContent .title p:after{
  position: absolute;
  content: "";
  display: block;
  margin-top: -10px;
  width: 100px;
  height: 1px;
  background-color: #fff;
  right: 300px;

}
.matchContent .companyList {
  margin-top: 30px;
}
.matchContent .companyList .item {
  position: relative;
  display: inline-block;
  border: 1px solid #018FFF;
  border-radius: 4px;
  padding: 0 1.5em;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}
.matchContent .companyList .item .check {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background: #018FFF;
  color: #fff;
}
.matchContent .btn {
  display: block;
  font-size: 18px;
  margin: 100px auto;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f1671b;
  color: #fff;  
}
.matchContent .btn1 {
  display: block;
  font-size: 18px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f1671b;
  color: #fff;
}

.matchContent .btn1:first-child{
  margin-right: 50px;
}