<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智网-技术成果摆渡人-科技创新综合服务平台</title>

    <meta name='keywords' content='重庆科技创新服务平台,重庆科技企业服务,重庆技术转移,重庆技术评估,重庆科技活动,重庆政策服务,重庆政策兑现,重庆高企申报,重庆高企认定,重庆双创孵化,重庆知识产权服务,重庆科技金融'/>
    <meta name='description' content='易智网是一站式科技创新综合服务平台，提供技术转移、技术评估、知识产权、科技政策、企业学堂、项目申报、高企认定、科技金融、双创孵化、技术创新等综合性科技服务，易智网致力于打造国内领先的科技创新综合服务平台。'/>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="style/css/iconfont/iconfont.css" rel="stylesheet">
    <link href="style/css/main.css" rel="stylesheet">
    <link href="style/css/science/result_list.css" rel="stylesheet">
    <link href="style/css/science/service_list.css" rel="stylesheet">
    <link rel="stylesheet" href="style/css/science/bootstrap.min.css">
    <link rel="stylesheet" href="style/css/science/swiper-bundle.min.css">
    <link href="style/css/science/style.css" rel="stylesheet">
    <script src="style/js/science/bootstrap.bundle.min.js"></script>
    <script src="style/js/science/swiper-bundle.min.js"></script>
</head>

<body>
<div class="boxs gray-bg" id='index_box' v-cloak>
    <ly-toper ref="lytoper" top-class="white"></ly-toper>
    <index-head :nav-index="5" :search-types="'服务'" :location-names="'scienceService.html'" ></index-head>
    <div class="container-box">
        <div class="top-bg">
            <div class="mmdiv">科技服务</div>
        </div>
        <div class="content-box mmdiv">
            <div class="filter-box">
                <div class="filter-box-list">
                    <div class="filter-item d-flex">

                        <div class="filter-title">服务类型:</div>
                        <ul class="nav filter-list" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" :class="{active: activeAll}"  id="tabs-all-tab" data-bs-toggle="pill"  role="tab"
                                   aria-controls="tabs-all" aria-selected="false"
                                   @click.stop="handleSearchForm('server')">全部</a>

                            </li>
                            <template v-for="(type,index) in options.mailServiceTypeList" >
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" :class="{active: type.selected}" data-bs-toggle="pill" :href="'#tabs-'+type.id" role="tab"
                                       aria-controls="tabs-1" aria-selected="false"  :data-typeid="type.id"  @click.stop="handleSearchForm(type,'server')" >{{type.name}}</a>
                                </li>
                            </template>

                        </ul>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <template v-for="(type,index) in options.mailServiceTypeList">
                            <div class="tab-pane fade" :class="{active:type.id==parentId,show:type.id==parentId}" :id="'tabs-'+type.id" role="tabpanel" aria-labelledby="tabs-1-tab">
                                <ul class="nav filter-list" >

                                    <template v-for="child in type.children" >
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" :class="{active: child.selected}" data-bs-toggle="pill" :href="'#tabs-'+type.id" role="tab"
                                               aria-controls="tabs-1" aria-selected="false" :data-typeid="child.id" @click.stop="handleSearchForm(child,'server')" >{{child.name}}</a></li>
                                    </template>
                                </ul>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="filter-item d-flex price">
                    <div class="filter-title">服务价格:</div>
                    <ul class="nav filter-list" role="tablist">
                        <template v-for="(optItem, index) in options.searchOpts">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link"  :class="{active: activePriceAll}" data-bs-toggle="pill"  role="tab"
                                   aria-controls="tabs-all" aria-selected="false" :data-price="''"
                                   @click.stop="handleSearchForm('price')">全部</a>

                            </li>
                            <template v-for="(ducItem, index) in optItem.dictIInfos" >
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" :class="{active: ducItem.selected}"
                                       data-bs-toggle="pill" :href="'#tabs-'+ducItem.id" role="tab"
                                       aria-controls="tabs-1" aria-selected="false":data-price="ducItem.value" @click.stop="handleSearchForm(ducItem,'price')" >{{ducItem.display}}</a>
                                </li>
                            </template>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="toolbar d-flex justify-content-between">
                <div class="filter-current">
                    <span>已选条件:</span>
                    <a v-for="(type,index) in result" :key = "index"
                       class="cur-item" href="#">{{type.name||type.display}}<i class="iconfont-template icon-delete icon" @click.stop="remove(type)"></i></a>

                </div>
                <div class="sort">
                    <ul class="list-inline m-0">

                        <li class="list-inline-item"v-for="(item, i) in filters" :key="i" @click="handleFilter(i)" >
                            <a :class="{active: item.seleced}" href="#" v-text="">{{item.label}}<i class="iconfont-template icon-shengxu"></i></a>
                            </li>

                        <li class="list-inline-item">已为您筛选 <span v-text="pages.total || 0" ></span> 条</li>
                    </ul>
                </div>
            </div>
            <div class="list-box mainPolicyList">
                <div class="row row-cols-4">
                    <template v-for="good in goodList">
                        <a :href="$pathPrefix+good.goodsDetailUrl">
                            <div class="col">
                                <div class="card card-item" >
                                    <img :src="good.goodsImg.url|''" class="" alt="...">
                                    <!--                                    <img :src="https://fs.kj01.cn/resource/ts/goodsDefaultImg/009.jpg" class="" alt="...">-->
                                    <div class="card-body">
                                        <h5 class="card-title">{{good.goodsName}}</h5>
                                        <div class="addition">
                                            <div class="quoted-price">
                                                {{formatPrice(good.choosePriceTag,good.price, good.minPrice, good.maxPrice)}}
<!--                                                <span v-if="good.choosePriceTag==='0'|good.choosePriceTag==='1'">万</span>-->
<!--                                                <span v-else></span>-->
                                            </div>
                                            <div class="short-text">
                                                <p><i class="iconfont-template icon-biaoqian1"></i>{{good.typeName}}</p>
                                                <p><i class="iconfont-template icon-jigou"></i>{{good.shopName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </template>
                </div>
                <!--                <div id="pagination-container" class="pages" v-if="count>0"></div>-->

                    <template v-if="pages">
                        <pages1 :pages="pages" @changepage="bindPageChange"></pages1>
                    </template>

<!--                <pages></pages>-->
            </div>
        </div>
    </div>
    <com-footer></com-footer>
</div>
<script type="text/javascript" src="/common/js/libs/require.js"></script>
<script type="text/javascript" src="style/js/science/service_list.js"></script>
</body>

</html>
