<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智学堂</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/icon/iconfont.css" rel="stylesheet">
    <link href="/style/css/market.css" rel="stylesheet" type="text/css">
    <link href="/style/css/technologyNewStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="index_box" class="box grayBgbox" v-cloak>
        <ly-toper></ly-toper>
        <tech_school_header name="易智学堂"></tech_school_header>
        <a href="">
            <div class="bannerBox" style="background: url(/style/images/technologySchool/school_banner.jpg)"></div>
        </a>

        <div class="mmdiv">
            <div class="project_title_more clear">
                <h3 class="fl">开班培训</h3>
                <div class="fr view_more color_13c9ef">
                    <a href="/technologySchool/class_training.html">
                        查看更多
                        <span class="view_more_icon">
                            <span class="arrow"></span>
                        </span>
                    </a>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff fl" v-for="(item,index) in classList" :key="index">
                    <a @click="turnPageNext(item)">
                        <div class="pro_top_img_box class_bottom_text position_relative">
                            <!-- <img src="/style/images/technologySchool/class_img.jpg" /> -->
                            <el-image class="border_ca broker_img_box" :src="getImgOutPath(item.logo)" fit="cover">
                                <div slot="placeholder" class="image-slot">
                                    加载中<span class="dot">...</span>
                                </div>
                            </el-image>
                            <!-- <span class="company_type border_13c9ef color_13c9ef">未开始</span> -->
                        </div>
                        <div class="class_bottom_text padding_20">
                            <h4 class="">{{item.courseName}}</h4>
                            <div>共{{item.courseNum}} 节| {{item.isCertificate=='yes'?'有证书':'无证书'}} |
                                已学{{item.bogusBuycount}}人</div>
                            <div class="margin_top_4" style="min-height: 42px;">开班时间：{{item.liveBeginTime}} 至
                                {{item.liveEndTime}}</div>
                            <div>价格：<i class="color_orange">{{item.currentPrice==0?'免费':item.currentPrice}}</i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="padding_top_20 mmdiv">
            <a>
                <img class="width_100" src="/style/images/technologyMarket/ad_banner.jpg" />
            </a>
        </div>

        <div class="mmdiv margin_bot_20">
            <div class="project_title_more clear">
                <h3 class="fl">在线课程</h3>
                <div class="fr view_more color_13c9ef">
                    <a href="/technologySchool/online_courses.html">
                        查看更多
                        <span class="view_more_icon">
                            <span class="arrow"></span>
                        </span>
                    </a>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff fl" v-for="(item,index) in courseList" :key="index">
                    <a @click="turnPageNextCourse(item)">
                        <div class="pro_top_img_box class_bottom_text position_relative">
                            <!-- <img src="/style/images/technologySchool/class_img2.jpg" /> -->
                            <el-image class="border_ca broker_img_box" :src="getImgOutPath(item.logo)" fit="cover">
                                <div slot="placeholder" class="image-slot">
                                    加载中<span class="dot">...</span>
                                </div>
                            </el-image>
                        </div>
                        <div class="class_bottom_text padding_20">
                            <h4 class="">{{item.courseName}}</h4>
                            <div>共{{item.courseNum}}节 | 已学{{item.bogusBuycount}}人</div>
                            <div>价格：<i class="color_orange">{{item.currentPrice==0?'免费':item.currentPrice}}</i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <web-footer></web-footer>
    </div>
    <script type="text/javascript" src="/common/js/libs/require.js"></script>
    <script type="text/javascript" src="/style/js/technologySchool/index.js"></script>
</body>

</html>