<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>易智学堂</title>
    <link href="/common/css/main.css" rel="stylesheet" type="text/css">
    <link href="/style/css/icon/iconfont.css" rel="stylesheet">
    <link href="/style/css/market.css" rel="stylesheet" type="text/css">
    <link href="/style/css/technologyNewStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="index_box" class="box grayBgbox" v-cloak>
        <ly-toper></ly-toper>
        <tech_school_header name="易智学堂"></tech_school_header>
        <div class="bg_star_box">
            <img class="width_100" src="/style/images/technologyMarket/bg_star.jpg" />
            <div class="placeBox">
                <div class="mdiv">
                    <div class="breadcrumb">当前位置：
                        <span class="breadcrumb__item"><a href="/" style="color:#fff">首页</a></span>
                        <i class="bread_card_line"></i>
                        <span class="breadcrumb__item">在线课程</span>
                    </div>
                </div>
            </div>
            <div class="page_title">
                在线课程
            </div>
        </div>
        <div class="mdiv">
            <div class="searchListBox margin_bot_20 border_bot_e9e9e9 padding_bottom_0">
                <div class="search-row ">
                    <ul class="clear">
                        <li class="fl searchkey">排序：</li>
                        <li v-for="(item,index) in sortList" @click.stop="orderClick(item.id,index)"
                            class="fl searchkey" :class="{active: index === sortActive}">{{item.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="clear">
                <li class="classify_list bg_fff fl" v-for="(item,index) in courseList" :key="index">
                    <!-- href="https://study.kj01.cn/uc/play/1026/0" target="_blank" -->
                    <a @click="turnPageNextCourse(item)">
                        <div class="pro_top_img_box class_bottom_text position_relative">
                            <!-- <img src="/style/images/technologySchool/class_img2.jpg" /> -->
                            <el-image class="border_ca broker_img_box" :src="getImgOutPath(item.logo)" fit="cover">
                                <div slot="placeholder" class="image-slot">
                                    加载中<span class="dot">...</span>
                                </div>
                            </el-image>
                        </div>
                        <div class="class_bottom_text padding_20">
                            <h4 class="">{{item.courseName}}</h4>
                            <div>共{{item.courseNum}}节 | 已学{{item.bogusBuycount}}人</div>
                            <div>价格：<i class="color_orange">{{item.currentPrice==0?'免费':item.currentPrice}}</i>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="pages">
                <el-pagination background layout="prev, pager, next" :pager-count="7" @current-change="changePage"
                    :current-page.sync="currentPage_1" :page-size.sync="pageSize_1" :total="allTotal_1">
                </el-pagination>
            </div>
        </div>

        <div class="margin_bot_long"></div>

        <web-footer></web-footer>
    </div>
    <script type="text/javascript" src="/common/js/libs/require.js"></script>
    <script type="text/javascript" src="/style/js/technologySchool/online_courses.js"></script>
</body>

</html>